@model List<Dsp.Web.Areas.Sphinx.Models.FeedItem>

@if (Model.Any())
{
    foreach (var i in Model.OrderByDescending(f => f.OccurredOn))
    {
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <a href="@i.Link">
                        <img src="~/Images/Avatars/@i.ImageName" height="25" width="25" class="img-circle" alt="@i.UserName" />
                    </a>
                </div>
                <div class="media-body">
                    <p class="subtext">
                        <a href="@i.Link"><i class="fa fa-fw @i.Symbol"></i></a>
                        @if (string.IsNullOrEmpty(i.UserName))
                        {
                            if (!string.IsNullOrEmpty(i.Name))
                            {
                                @i.Name
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Account", new {area = "Members", userName = i.UserName})">@i.Name</a>
                        }
                        @i.TimeSince
                    </p>
                    
                    <small>
                        @i.DisplayText
                    </small>
                </div>
            </div>
        </li>
    }
    <script type="text/javascript">
        (function () {
            $("[data-toggle=\"tooltip\"]").tooltip();
        })();
    </script>
}
else
{
    <li class="list-group-item no-feed-results">
        Nothing found.
    </li>
}
