@using Dsp.Web.Extensions
@if (Request.IsAuthenticated)
{
    <li class="@(ViewBag.Title.Contains("Sphinx") ? "active" : "")">
        <a href="@Url.Action("Sphinx", "Home", new { area = "" })"
            data-toggle="tooltip" data-placement="bottom" title="Sphinx">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="@(ViewBag.Title.Contains("Account") ? "active" : "")">
        <a rel="home" href="@Url.Action("Index", "Account", new {area = "Members"})" style="padding:7px"
           data-toggle="tooltip" data-placement="bottom" title="Account">
            <img src="~/Images/Avatars/@User.Identity.GetAvatar()" height="35" width="35" class="img-circle" id="avatar"
                 onError="this.onerror = null; this.src = '/Images/Avatars/NoAvatar.jpg';" />
        </a>
    </li>
    <li>
        @using (Html.BeginForm("SignOut", "Account", new {area = "Members"}, FormMethod.Post, new {id = "signoutForm"}))
        {
            @Html.AntiForgeryToken()
        }
        <a href="javascript:document.getElementById('signoutForm').submit()"
           data-toggle="tooltip" data-placement="bottom" title="Sign Out">
            <i class="fa fa-sign-out"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/deltasig/sphinx/issues" target="_blank"
           data-toggle="tooltip" data-placement="bottom" title="Report an Issue">
            <i class="fa fa-bug"></i> <span class="hidden-sm hidden-md hidden-lg">Report an Issue</span>
        </a>
    </li>
}
else
{
    <li class="@(ViewBag.Title.Contains("Sign In") ? "active" : "")">
        <a href="@Url.Action("SignIn", "Account", new { area = "Members" })"
           data-toggle="tooltip" data-placement="bottom" title="Member Sign In">
            <i class="fa fa-sign-in"></i>
        </a>
    </li>
}
