<nav class="navbar navbar-inverse navbar-fixed-top no-print" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="@Url.Action("Index", "Home", new {area = "Sphinx"})"
           class="navbar-brand blur hidden-xs" style="padding: 13px 77px; background-color:#074532">
            <img src="~/Images/letters.png" width="70" alt="DSP"
                 data-toggle="tooltip" data-placement="left" title="Sphinx" />
        </a>
        <a href="@Url.Action("Index", "Home", new {area = "Sphinx"})"
           class="navbar-brand visible-xs" style="padding: 14px 15px;">
            <img src="~/Images/letters.png" width="70" alt="DSP"
                 data-toggle="tooltip" data-placement="left" title="Sphinx" />
        </a>
    </div>
    <!-- Top Menu Items (Left Side) -->
    <ul class="nav navbar-nav hidden-xs hidden-sm">
        <li class="@(ViewBag.Title.Contains("Sober") ? "active" : "")">
            <a href="@Url.Action("Schedule", "Sobers", new {area = "Sphinx"})"
               data-toggle="tooltip" data-placement="bottom" title="Sobers">
                <i class="fa fa-car"></i>
            </a>
        </li>
        <li class="@(ViewBag.Title.Contains("Laundry") ? "active" : "")"
            data-toggle="tooltip" data-placement="bottom" title="Laundry">
            <a href="@Url.Action("Schedule", "Laundry", new {area = "Sphinx"})">
                <i class="fa fa-lg fa-tint"></i>
            </a>
        </li>
        <li class="@(ViewBag.Title.Contains("Meal") ? "active" : "")"
            data-toggle="tooltip" data-placement="bottom" title="Meals">
            <a href="@Url.Action("Schedule", "Meals", new {area = "Kitchen"})">
                <i class="fa fa-cutlery"></i>
            </a>
        </li>
    </ul>
    <!-- Top Menu Items (Right Side) -->
    <ul class="nav navbar-nav navbar-right top-nav" style="margin: 0">
        <li class="@(ViewBag.Title.Contains("Sober") ? "active" : "") visible-xs visible-sm">
            <a href="@Url.Action("Schedule", "Sobers", new {area = "Sphinx"})"
               data-toggle="tooltip" data-placement="bottom" title="Sobers">
                <i class="fa fa-car"></i>
            </a>
        </li>
        <li class="@(ViewBag.Title.Contains("Laundry") ? "active" : "") visible-xs visible-sm"
            data-toggle="tooltip" data-placement="bottom" title="Laundry">
            <a href="@Url.Action("Schedule", "Laundry", new {area = "Sphinx"})">
                <i class="fa fa-lg fa-tint"></i>
            </a>
        </li>
        <li class="@(ViewBag.Title.Contains("Meal") ? "active" : "") visible-xs visible-sm"
            data-toggle="tooltip" data-placement="bottom" title="Meals">
            <a href="@Url.Action("Schedule", "Meals", new {area = "Kitchen"})">
                <i class="fa fa-cutlery"></i>
            </a>
        </li>
        @Html.Partial("_LoginPartial")
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav side-nav">
            @if (Request.IsAuthenticated && !User.IsInRole("Released"))
            {
                <li class="@(ViewBag.Title.Contains("Roster") ? "active" : "")">
                    <a href="@Url.Action("Index", "Roster", new { area = "Members" })">
                        <i class="fa fa-fw fa-users"></i> Roster + <i class="fa fa-envelope-square"></i> <i class="fa fa-phone-square"></i>
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Service") ? "active" : "")">
                    <a href="@Url.Action("Index", "Hours", new { area = "Service" })">
                        <i class="fa fa-fw fa-globe"></i> Service
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Class") ? "active" : "")">
                    <a href="@Url.Action("Index", "Classes", new { area = "Edu" })">
                        <i class="fa fa-fw fa-institution"></i> Classes
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Study") ? "active" : "")">
                    <a href="@Url.Action("Index", "Study", new { area = "Edu" })">
                        <i class="fa fa-fw fa-book"></i> Study
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Work Order") ? "active" : "")">
                    <a href="@Url.Action("Index", "WorkOrders", new { area = "House" })">
                        <i class="fa fa-fw fa-wrench"></i> Work Orders
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Scholarship") ? "active" : "")">
                    <a href="@Url.Action("Index", "Applications", new { area = "Scholarships" })">
                        <i class="fa fa-fw fa-graduation-cap"></i> Scholarships
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Incident") ? "active" : "")">
                    <a href="@Url.Action("Index", "Incidents", new {area = "Members"})">
                        <i class="fa fa-fw fa-exclamation-triangle"></i> Incidents
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Room") ? "active" : "")">
                    <a href="@Url.Action("Index", "Rooms", new { area = "House" })">
                        <i class="fa fa-fw fa-home"></i> Housing
                    </a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#alumni">
                        <i class="fa fa-fw fa-anchor"></i> Alumni <i class="fa fa-fw fa-caret-down"></i>
                    </a>
                    <ul id="alumni" class="collapse">
                        <li>
                            <a href="@Url.Action("Index", "Leaders", new { area = "Alumni" })">Leaders</a>
                        </li>
                    </ul>
                </li>
                if (User.IsInRole("Administrator") || User.IsInRole("President") || User.IsInRole("Vice President Growth") || User.IsInRole("Secretary") ||
                    User.IsInRole("Director of Recruitment") || User.IsInRole("New Member Education") || User.IsInRole("Academics") || User.IsInRole("Service"))
                {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#admin">
                            <i class="fa fa-fw fa-lock"></i> Admin <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        <ul id="admin" class="collapse">
                            @if (User.IsInRole("Administrator"))
                            {
                                <li>@Html.ActionLink("Error Logs", "Logs", "Error", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Appointments", "Appointments", "Positions", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Positions", "Index", "Positions", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Registration", "Registration", "Account", new { area = "Members" }, null)</li>
                                <li>@Html.ActionLink("Semesters", "Index", "Semesters", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Statuses", "Index", "Statuses", new { area = "Admin" }, null)</li>
                            }
                            else
                            {
                                if (User.IsInRole("President"))
                                {
                                    <li>@Html.ActionLink("Appointments", "Appointments", "Positions", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Positions", "Index", "Positions", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Semesters", "Index", "Semesters", new { area = "Admin" }, null)</li>
                                }
                                if (User.IsInRole("Secretary") || User.IsInRole("Director of Recruitment") ||
                                    User.IsInRole("New Member Education") || User.IsInRole("Vice President Growth"))
                                {
                                    <li>@Html.ActionLink("Registration", "Registration", "Account", new { area = "Members" }, null)</li>
                                }
                                if (User.IsInRole("Secretary") || User.IsInRole("Academics") || User.IsInRole("Service"))
                                {
                                    <li>@Html.ActionLink("Semesters", "Index", "Semesters", new { area = "Admin" }, null)</li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
            else
            {
                <li><p class="navbar-text"></p></li>
            }
            <li>
                <a href="~/">
                    <i class="fa fa-fw fa-reply"></i> External Site
                </a>
            </li>
        </ul>
    </div>
</nav>
