@if (ViewBag.Title != "Delta Sigma Phi")
{
    var hideSuccess = string.IsNullOrEmpty(ViewBag.SuccessMessage) ? "hidden" : "";
    var hideFailure = string.IsNullOrEmpty(ViewBag.FailMessage) ? "hidden" : "";
    
    <div class="container-fluid" style="padding: 0">
        <div class="page-header" style="margin-top: 0; background-color: #fcfcfc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>
                            <img style="display:none" height="35" width="35" class="print-inline"
                                 src="https://www.deltasig-de.org/Images/MobileTouch-57x57.png" />
                            @ViewBag.Title
                            <small>@ViewBag.Subtitle</small>
                            <small class="pull-right no-print">
                                @if (ViewBag.Print != null && ViewBag.Print)
                                {
                                    <i class="fa fa-print" data-toggle="tooltip" data-placement="left"
                                       title="This page supports nifty printing from the browser (CTRL+P).
                                        Did you know you can export to PDF that way too?"></i>
                                }
                            </small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible fade in @(hideSuccess)" role="alert" id="success-message">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @ViewBag.SuccessMessage
                </div>
                <div class="alert alert-danger alert-dismissible fade in @(hideFailure)" role="alert" id="failure-message">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @ViewBag.FailMessage
                </div>
            </div>
        </div>
    </div>
}
