<div class="container-fluid home dark" style="margin-top:50px; page-break-before: always;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-xs-center text-sm-left">
                <div class="visible-xs" style="margin:50px"></div>
                <h4>Delta Sigma Phi <small> Missouri S&amp;T</small></h4>
                <ul class="list-inline">
                    @{
                        var area = ViewContext.RouteData.DataTokens["area"];
                    }
                    <li class="@(area != null && area.Equals("Alumni") || ViewBag.Title.Contains("Alumni") ? "active" : "")">
                        @Html.ActionLink("Alumni", "Index", "Home", new { area = "Alumni" }, null)
                    </li>
                    <li class="@(ViewBag.Title.Contains("Recruitment") ? "active" : "")">
                        @Html.ActionLink("Recruitment", "Recruitment", "Home", new { area = "" }, null)
                    </li>
                    <li class="@(ViewBag.Title.Contains("About") ? "active" : "")">
                        @Html.ActionLink("About", "About", "Home", new { area = "" }, null)
                    </li>
                    <li class="@(ViewBag.Title.Contains("Contacts") ? "active" : "")">
                        @Html.ActionLink("Contacts", "Contacts", "Home", new { area = "" }, null)
                    </li>
                </ul>
                <p>Copyright &copy; 2015</p>
                <div class="visible-xs" style="margin:50px"></div>
            </div>
            <div class="col-sm-4 text-xs-center text-sm-left">
                <h4>Contact Us</h4>                
                <p>
                    <i class="fa fa-fw fa-map-marker"></i> 215 W 8th St, Rolla, MO 65401 
                    <br class="visible-xs" />
                    <a href="@Url.Action("Index")#directions">Directions</a>
                </p>
                <p><i class="fa fa-fw fa-envelope"></i> <a href="@Url.Action("Contacts")">See Contacts Page</a></p>
                <div class="visible-xs" style="margin:50px"></div>
            </div>
            <div class="col-sm-4 text-xs-center text-sm-left">
                <h4>Connect</h4>
                <div class="footer-icons">
                    <a href="https://www.facebook.com/deltasig.de" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/deltasig_de" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCklKkFyVqUIG-bNE_u2vOSg" target="_blank">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                    <a href="https://www.flickr.com/photos/127125471@N02/" target="_blank">
                        <i class="fa fa-flickr"></i>
                    </a>
                </div>
                <div class="visible-xs" style="margin:50px"></div>
            </div>
        </div>
    </div>
</div>
