@model IEnumerable<DeltaSigmaPhiWebsite.Entities.ScholarshipQuestion>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Question Index";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @Html.ActionLink("Back To Scholarships", "Index", "Applications", new { area = "Scholarships" }, new { @class = "" })
        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", "Questions", new { area = "Scholarships" }, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table" data-classes="table table-condensed"
                           data-search="true" data-pagination="true" data-page-size="25" data-sort-name="prompt" data-sort-order="desc">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="prompt">Prompt</th>
                                <th class="col-sm-1" data-sortable="true" data-field="min-length">
                                    Min <i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top"
                                        data-content="The minimum amount of characters that an answer to a question is allowed to have." class="fa fa-info-circle text-info"></i>
                                </th>
                                <th class="col-sm-1" data-sortable="true" data-field="max-length">
                                    Max <i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top"
                                        data-content="The maximum amount of characters that an answer to a question is allowed to have." class="fa fa-info-circle text-info"></i>
                                </th>
                                <th class="col-sm-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Prompt</td>
                                    <td>@item.AnswerMinimumLength</td>
                                    <td>@item.AnswerMaximumLength</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ScholarshipQuestionId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ScholarshipQuestionId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ScholarshipQuestionId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        
        $(function () {
            $('[data-toggle="popover"]').popover();
        })

    </script>
}