@model Dsp.Entities.Event
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Event Details";
    ViewBag.Subtitle = Model.EventName;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index", new { SelectedSemester = ViewBag.Semester })" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Events
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.DateTimeOccurred)</dt>
                    <dd>@Html.DisplayFor(model => model.DateTimeOccurred)</dd>
                    <dt>@Html.DisplayNameFor(model => model.DurationHours)</dt>
                    <dd>@Html.DisplayFor(model => model.DurationHours)</dd>
                    <dt>Members who Served</dt>
                    <dd>
                        @foreach (var s in Model.ServiceHours.OrderBy(m => m.Member.LastName))
                        {
                            var label = s.Member.FirstName + " " + s.Member.LastName + " (" + s.DurationHours + " hrs)";
                            <small>@label</small>

                            if (User.IsInRole("Administrator") || User.IsInRole("Service"))
                            {
                                <small class="pull-right">
                                    @Html.ActionLink("Edit", "Edit", "Hours", new { eid = s.EventId, uid = s.UserId }, null) |
                                    @Html.ActionLink("Delete", "Delete", "Hours", new { eid = s.EventId, uid = s.UserId }, null)
                                </small>
                            }
                            <br />
                        }
                        <strong>Total:</strong> @Model.ServiceHours.Count <br />
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
