@model IEnumerable<Dsp.Entities.Member>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Addresses";
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-sm-4">
            <a class="btn btn-default" href="@Url.Action("Index", "Roster")">
                <i class="fa fa-caret-left"></i> Back to Roster
            </a>
        </div>
        <div class="col-sm-4 text-sm-right">
            <a class="btn btn-info" href="@Url.Action("Index", "PhoneNumbers")"
               data-toggle="tooltip" data-placement="top" title="Phone Numbers">
                <i class="fa fa-phone"></i>
            </a>
            <a class="btn btn-default" href="@Url.Action("Download", "Addresses")">
                <i class="fa fa-download"></i> Download
            </a>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-sm-4">
            @using (Html.BeginForm("Index", "Addresses", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">

                    <span class="input-group-addon" id="search-addon" data-toggle="tooltip" data-placement="top"
                          title="Search by first/last name or full/partial address.  Type :all to list everyone.">
                        <i class="fa fa-search"></i>
                    </span>
                    <input class="form-control" id="s" name="s" placeholder="Search" type="text"
                           value="" aria-describedby="search-addon">

                    @if (!string.IsNullOrEmpty(ViewBag.SearchTerm))
                    {
                        <span class="input-group-btn">
                            <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Clear search"
                               href="@Url.Action("Index")">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </span>
                    }
                </div>
                if (!string.IsNullOrEmpty(ViewBag.SearchTerm))
                {
                    <small>Searched for: @ViewBag.SearchTerm</small>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="list-group">
                    @if (Model.Any())
                    {
                        foreach (var m in Model)
                        {
                            var name = m.ToString();

                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("Index", "Account", new { userName = m.UserName })">
                                            @if (name.ToLower().Contains(ViewBag.SearchTerm.ToLower()))
                                            {
                                                var matchLocation = name.ToLower().IndexOf(ViewBag.SearchTerm.ToLower());
                                                var searchLength = ViewBag.SearchTerm.Length;
                                                name = name.Insert(matchLocation, "<mark>");
                                                name = name.Insert(matchLocation + searchLength + 6, "</mark>");
                                                @Html.Raw(name)
                                            }
                                            else
                                            {
                                                @: @name
                                            }
                                        </a>
                                    </div>
                                    <div class="col-sm-8">
                                        @foreach (var a in m.Addresses)
                                        {
                                            var address = a.ToString();

                                            if (!string.IsNullOrEmpty(a.ToString()))
                                            {
                                                <span class="badge">@a.Type</span> 
                                                <small>
                                                    @if (address.ToLower().Contains(ViewBag.SearchTerm.ToLower()))
                                                    {
                                                        var matchLocation = address.ToLower().IndexOf(ViewBag.SearchTerm.ToLower());
                                                        var searchLength = ViewBag.SearchTerm.Length;
                                                        address = address.Insert(matchLocation, "<mark>");
                                                        address = address.Insert(matchLocation + searchLength + 6, "</mark>");
                                                        @Html.Raw(address)
                                                    }
                                                    else
                                                    {
                                                        @: @address
                                                    }
                                                </small> <br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="list-group-item list-group-item-warning">
                            No results! <br />
                            Search by first/last name or full/partial address.  Type ":all" to list everyone.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
