@model CreatePositionModel
    
<div class="panel panel-default">
    <div class="panel-heading">New Position</div>
    <div class="panel-body">
        @using (Html.BeginForm("CreatePosition", "Account", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.PositionName, new { @class = "control-label" })
                @Html.EditorFor(m => m.PositionName, new { htmlAttributes = new { @class = "form-control" , placeholder = "Name" } })
                @Html.ValidationMessageFor(m => m.PositionName, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        }
    </div>
</div>