@model IList<AppointmentModel>
@{
    ViewBag.Title = "Appointments";
    var semesters = Model.Select(m => m.Leader.Semester).Distinct();
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("Appointments", "Account", FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                foreach (var semester in semesters)
                {
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            @semester
                        </div>

                        <div class="panel-body">
                            <table class="table table-responsive table-condensed">
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Appointed Member</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(int i = 0; i < Model.Count(); i++)
                                    {
                                        if (Model[i].Leader.SemesterId == semester.SemesterId)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.HiddenFor(m => Model[i].Leader.SemesterId)
                                                    @Html.HiddenFor(m => Model[i].Leader.PositionId)
                                                    @Html.DisplayFor(m => Model[i].Leader.Position.PositionName)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => Model[i].Leader.UserId,
                                                        new SelectList(Model[i].Users, "UserId", "Name", Model[i].Leader.UserId), 
                                                        new { @class = "form-control"})
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                }
            }
        </div>
        @*<div class="col-xs-6">
                @{ Html.RenderPartial("_PositionAppointmentPartial", Model.AppointModel); }
                @if (User.IsInRole("Administrator"))
                {
                    Html.RenderPartial("_PositionUnappointmentPartial", Model.UnappointModel);
                }
                @{ Html.RenderPartial("_PositionCreationPartial", Model.CreateModel); }
                @if (User.IsInRole("Administrator"))
                {
                    Html.RenderPartial("_PositionDeletionPartial", Model.DeleteModel);
                }
            </div>
            <div class="col-xs-6">
                @{ Html.RenderPartial("_PositionRecentAppointmentsPartial", Model.RecentAppointments); }
            </div>*@
    </div>
</div>
