@model Dsp.Entities.SoberType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Sober Type";
}
<link rel="stylesheet" type="text/css" href="~/Content/wmd.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Types List
                </a>
                <a href="@Url.Action("Info", new {id = @Model.SoberTypeId})" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Type Info
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.SoberTypeId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new {@class = "control-label"})
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "control-label"})
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control wmd-input", rows = 10, id = "wmd-input"}})
                    </div>
                    <div class="wmd-panel wmd-preview well well-sm" id="wmd-preview"></div>
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/pagedown/Markdown.Converter.js"></script>
<script type="text/javascript" src="~/Scripts/pagedown/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="~/Scripts/pagedown/Markdown.Editor.js"></script>
@section scripts
{
    <script type="text/javascript">
        
        (function() {
            var converter = Markdown.getSanitizingConverter();
            var editor = new Markdown.Editor(converter);
            editor.run();
        });

    </script>
}