@model IncidentReport
@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Incident Reports
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.DateTimeOfIncident)
                @Html.HiddenFor(model => model.DateTimeSubmitted)
                @Html.HiddenFor(model => model.Description)
                @Html.HiddenFor(model => model.ReportedBy)

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    <p class="well well-sm">
                        @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PolicyBroken, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PolicyBroken, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PolicyBroken, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InvestigationNotes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.InvestigationNotes, new { htmlAttributes = new { @class = "form-control", rows = 10 } })
                    @Html.ValidationMessageFor(model => model.InvestigationNotes, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OfficialReport, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.OfficialReport, new { htmlAttributes = new { @class = "form-control", rows = 10 } })
                    @Html.ValidationMessageFor(model => model.OfficialReport, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            }
        </div>
        <div class="col-sm-6">
            <div class="alert alert-warning">
                <strong>Policy Broken</strong>
                <hr />
                <p>
                    This should briefly describe at a very high level what occurred.
                    It is important to be accurate with this information because it
                    will be easier for others to search incident reports back on the incident report list.
                </p>
            </div>
            <div class="alert alert-warning">
                <strong>Investigation Notes</strong>
                <hr />
                <p>
                    The investigation notes are visible to only executive board members.
                    The purpose of the investigation notes is to provide a partially restricted accounting 
                    of what was discovered by the Sergeant-at-Arms after looking into the incident.
                    It also serves to provide further justification for the contents of the Official Report if 
                    the Official Report comes across as vague.
                </p>
            </div>
            <div class="alert alert-warning">
                <strong>Official Report</strong>
                <hr />
                <p>
                    The official report is visible to all members.
                    The purpose of the official report is to provide future members
                    a record of how incidents have been handled. For this reason,
                    it is advised that official reports only contain:
                    <ul>
                        <li><strong>necessary</strong> details from the incident description</li>
                        <li>any actions, or lack thereof, taken in response to the incident</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>