@model Dsp.Web.Areas.Admin.Models.CreateSemesterModel
@{ 
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Create New Semester";
}
@Styles.Render("~/content/datetimepicker")

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Semesters
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Create", "Semesters", FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <h3>Semester Information</h3>

                <div class="form-group">
                    @Html.LabelFor(model => model.Semester.DateStart, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date" id="dtp1">
                        @Html.EditorFor(m => m.Semester.DateStart, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Semester.DateStart, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Semester.DateEnd, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date" id="dtp2">
                        @Html.EditorFor(m => m.Semester.DateEnd, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Semester.DateEnd, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Semester.TransitionDate, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date" id="dtp3">
                        @Html.EditorFor(m => m.Semester.TransitionDate, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Semester.TransitionDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Semester.MinimumServiceHours, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Semester.MinimumServiceHours, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Semester.MinimumServiceHours, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Semester.MinimumServiceEvents, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Semester.MinimumServiceEvents, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Semester.MinimumServiceEvents, "", new { @class = "text-danger" })
                </div>
                
                <h3>Pledge Class Information</h3>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.PledgeClass.PledgeClassName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PledgeClass.PledgeClassName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PledgeClass.PledgeClassName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PledgeClass.PinningDate, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date" id="dtp4">
                        @Html.EditorFor(m => m.PledgeClass.PinningDate, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.PledgeClass.PinningDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PledgeClass.InitiationDate, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date" id="dtp5">
                        @Html.EditorFor(m => m.PledgeClass.InitiationDate, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.PledgeClass.InitiationDate, "", new { @class = "text-danger" })
                </div>

                <h3>Recruitment Information</h3>

                <div class="form-group">
                    @Html.LabelFor(m => m.Semester.RecruitmentBookUrl, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(m => m.Semester.RecruitmentBookUrl, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "USE A URL TO A PDF IN GOOGLE DRIVE!!!" } })
                    @Html.ValidationMessageFor(m => m.Semester.RecruitmentBookUrl, "", new { @class = "text-danger" })
                    <p class="text-info">USE A URL TO A <strong>PDF</strong> IN <strong>GOOGLE DRIVE</strong>!!!</p>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            }
            <hr/>
        </div>
        <div class="col-md-2 col-md-offset-6">
            <p class=" text-right">
                <h4>Greek Alphabet</h4>
                <ul>
                    @foreach (var l in Model.GreekAlphabet)
                    {
                        <li>@l</li>
                    }
                </ul>
            </p>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datetimepicker")
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $("#dtp1").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp2").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp3").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp4").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp5").datetimepicker({
                format: "MM/DD/YYYY"
            });
        });

    </script>
}
