@model BugReport
@{
    ViewBag.Title = "Bug Report";
    ViewBag.Subtitle = Model.Id;
    var nowCst = DateTime.UtcNow.FromUtcToCst();
    var isAdmin = User.Identity.Name == "tjm6f4";
    var isCurrentUser = User.Identity.Name == Model.Member.UserName;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Bug Reports
                </a>
            </p>
        </div>
        <div class="col-md-3 text-right">
            <p>
                @if (isAdmin)
                {
                    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-sm btn-danger">Delete</a>
                }
                @if (isAdmin || isCurrentUser)
                {
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-sm btn-info">
                        Edit
                    </a>
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            @if (Model.IsFixed)
            {
                <div class="alert alert-warning">
                    This issue has been marked as fixed.
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@Model.Member.ToString()</strong>
                    reported 
                    <span data-toggle="tooltip" data-placement="top" title="@Model.ReportedOn">
                        @((nowCst - Model.ReportedOn).ToUserFriendlyString())
                    </span>
                </div>
                <div class="panel-body">
                    <p style="white-space: pre-line">@Model.Description</p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Admin Response</strong>
                </div>
                <div class="panel-body">
                    @if (!string.IsNullOrEmpty(Model.Response))
                    {
                        <p style="white-space: pre-line">@Model.Response</p>
                    }
                </div>
            </div>
            <p>
                Last update: 
                <span data-toggle="tooltip" data-placement="top" title="@Model.LastUpdatedOn">
                    @((nowCst - Model.LastUpdatedOn).ToUserFriendlyString())
                </span>
            </p>
        </div>
    </div>
</div>
