@model IEnumerable<DeltaSigmaPhiWebsite.Entities.ScholarshipApp>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Scholarship Applications";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    @if (User.IsInRole("Administrator") || User.IsInRole("Vice President Growth") || User.IsInRole("Director of Recruitment"))
    {
        <div class="row">
            <div class="col-xs-6">
            
            </div>
            <div class="col-xs-6 text-right">
                <p>
                    @Html.ActionLink("Create New", "Create", "Applications", new { area = "Scholarships" }, new { @class = "btn btn-sm btn-success" })
                    @Html.ActionLink("Question Pool", "Index", "Questions", new { area = "Scholarships" }, new { @class = "btn btn-sm btn-default" })
                    @Html.ActionLink("Types", "Index", "Types", new { area = "Scholarships" }, new { @class = "btn btn-sm btn-default" })
                </p>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed" id="apps-table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Begins</th>
                                <th>Ends</th>
                                <th>Public</th>
                                <th>Submissions</th>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Vice President Growth") || User.IsInRole("Director of Recruitment"))
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.OpensOn.ToShortDateString()
                                    </td>
                                    <td>
                                        @item.ClosesOn.ToShortDateString()
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsPublic)
                                    </td>
                                    <td>
                                        @item.Submissions.Count
                                    </td>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Vice President Growth") || User.IsInRole("Director of Recruitment"))
                                    {
                                        <td>
                                        @if (!item.Submissions.Any())
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ScholarshipAppId }) @:|
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ScholarshipAppId })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Submissions", "Details", new { id = item.ScholarshipAppId })
                                        }
                                    </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#apps-table').DataTable({
            pageLength: 10,
            lengthChange: false,
            "oLanguage": { "sSearch": "" },
            "order": [[2, "desc"]]
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}