@if (User.Identity?.IsAuthenticated == true)
{
    <li class="@(ViewBag.Title.Contains("Sphinx") ? "active" : "")">
        <a href="@Url.Action("Sphinx", "Home", new { area = "" })"
           data-toggle="tooltip" data-placement="bottom" title="Sphinx">
            <i class="fa fa-home"></i> <span class="hidden-sm hidden-md hidden-lg">Sphinx</span>
        </a>
    </li>
    <li class="@(ViewBag.Title.Contains("Account") ? "active" : "")">
        <a href="@Url.Action("Index", "Account", new {area = "Members"})"
           data-toggle="tooltip" data-placement="bottom" title="Account">
            <i class="fa fa-user"></i> <span class="hidden-sm hidden-md hidden-lg">Account</span>
        </a>
    </li>
    <li>
        @using (Html.BeginForm("SignOut", "Account", new { area = "Members" }, FormMethod.Post, false, new { id = "signoutForm" }))
        {
            @Html.AntiForgeryToken()
        }
        <a href="javascript:document.getElementById('signoutForm').submit()"
           data-toggle="tooltip" data-placement="bottom" title="Sign Out">
            <i class="fa fa-sign-out"></i> <span class="hidden-sm hidden-md hidden-lg">Sign Out</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/deltasig/sphinx/issues" target="_blank"
           data-toggle="tooltip" data-placement="bottom" title="Report an Issue">
            <i class="fa fa-bug"></i> <span class="hidden-sm hidden-md hidden-lg">Report an Issue</span>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Title.Contains("Sign In") ? "active" : "")"
           href="@Url.Action("SignIn", "Account", new { area = "Members" })"
           data-toggle="tooltip" data-placement="bottom" title="Member Sign In">
            <i class="fa-solid fa-sign-in"></i> Sign In
        </a>
    </li>
}