<li class="nav-item">
    <a href="@Url.Action("Joining", "Home", new { area = "" })"
       class="nav-link @(ViewBag.Title.Contains("Joining") ? "active" : "")">Joining</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Scholarships", "Home", new { area = "" })"
       class="nav-link @(ViewBag.Title.Contains("Scholarships") ? "active" : "")">Scholarships</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("History", "Home", new { area = "" })"
       class="nav-link @(ViewBag.Title.Contains("About") ? "active" : "")">History</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Contacts", "Home", new { area = "" })"
       class="nav-link @(ViewBag.Title.Contains("Contacts") ? "active" : "")">Contacts</a>
</li>
