@model PagerModel

@if (Model.ResultCount > Model.PageSize)
{
    var currentPage = Model.CurrentPage;
    var maxPages = Model.TotalPages;
    var action = ViewContext.RouteData.Values["action"].ToString();

    <nav class="text-center">
        <ul class="pagination">
            <!-- Previous page button. -->
            <li class="@(currentPage > 1 ? "" : "disabled")">
                @if (currentPage > 1)
                {
                    <a href="@Url.Action(action, Model.Previous)" aria-label="Previous">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                    </a>
                }
                else
                {
                    <span><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                }
            </li>
            <!-- All pages in between arrow buttons.  Only showing up to 3 to the left and right of the current page. -->
            @for (var i = 1; i <= maxPages; i++)
            {
                var minPageNumber = currentPage - 3;
                var maxPageNumber = currentPage + 3;

                if (i == 1 || (i > minPageNumber && i < maxPageNumber) || i == maxPages)
                {
                    var pageFilter = Model.Incrementer;
                    pageFilter.page = i;
                    <li class="@(currentPage == i ? "active" : "")">
                        <a href="@Url.Action(action, pageFilter)">@i</a>
                    </li>
                }
                else if (i == minPageNumber && i > 1)
                {
                    var pageFilter = Model.Incrementer;
                    pageFilter.page = (i + 1) / 2;
                    <li class="">
                        <a href="@Url.Action(action, pageFilter)" class="disabled">...</a>
                    </li>
                }
                else if (i == maxPageNumber && i < maxPages)
                {
                    var pageFilter = Model.Incrementer;
                    pageFilter.page = i + (maxPages - i - 1) / 2;
                    <li class="">
                        <a href="@Url.Action(action, pageFilter)" class="disabled">...</a>
                    </li>
                }
            }
            <!-- Next page button. -->
            <li class="@(currentPage < maxPages ? "" : "disabled")">
                @if (currentPage < maxPages)
                {
                    <a href="@Url.Action(action, Model.Next)" aria-label="Next">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                }
                else
                {
                    <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                }
            </li>
        </ul>
    </nav>
}
