@*<footer class="footer mt-auto bg-body-tertiary">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-6">
                <h4>Delta Sigma Phi<small> Missouri S&amp;T</small></h4>
                <ul class="list-inline">
                    @{
                        var area = ViewContext.RouteData.DataTokens["area"];
                    }
                    <li class="list-inline-item">
                        @Html.ActionLink("Alumni", "Index", "Home", new { area = "Alumni" }, null)
                    </li>
                    <li class="list-inline-item">
                        @Html.ActionLink("Recruitment", "Recruitment", "Home", new { area = "" }, null)
                    </li>
                    <li class="list-inline-item">
                        @Html.ActionLink("About", "About", "Home", new { area = "" }, null)
                    </li>
                    <li class="list-inline-item">
                        @Html.ActionLink("Contacts", "Contacts", "Home", new { area = "" }, null)
                    </li>
                </ul>
                <p>Copyright &copy; @DateTime.Now.Year</p>
            </div>
            <div class="col-6">
                <h4>Contact Us</h4>                
                <p>
                    <i class="fa fa-fw fa-map-marker"></i> 215 W 8th St, Rolla, MO 65401 
                    <br class="visible-xs" />
                    <a href="@Url.Action("Index", "Home", new { area = "" })#directions">Directions</a>
                </p>
            </div>
        </div>
    </div>
</footer> *@

<div class="container-fluid footer mt-auto bg-body-tertiary">
    <footer class="d-flex flex-wrap justify-content-between p-3 mt-5 align-items-center border-top">
        <div class="col-md-4 text-body-secondary">
            Delta Sigma Phi, <small> Delta Epsilon Chapter</small>
        </div>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="~/Images/MobileTouch-57x57.png" height="32" alt="DSP" />
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <partial name="_NavExternalLinks.cshtml"></partial>
            <li class="nav-item">
                <a href="https://github.com/deltasig/sphinx"
                   class="nav-link">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
