@model IEnumerable<DeltaSigmaPhiWebsite.Entities.ScholarshipType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Scholarship Types";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @Html.ActionLink("Back to Scholarships", "Index", "Applications", new { area = "Scholarships" }, new { @class = "" })
        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", "Types", new { area = "Scholarships" }, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed" id="apps-table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>Applications</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) 
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @item.Applications.Count
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.ScholarshipTypeId }) 
                                        @if (!item.Applications.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id=item.ScholarshipTypeId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#apps-table').DataTable({
            pageLength: 10,
            lengthChange: false,
            "oLanguage": { "sSearch": "" },
            "order": [[0, "asc"]]
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}