@using Dsp.Entities
@model IList<Dsp.Areas.Admin.Models.AppointmentModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Appointments";
    var semesters = Model.Select(m => m.Leader.Semester).Distinct();
    var positionTypes = Enum.GetValues(typeof(Position.PositionType)).Cast<Position.PositionType>().ToList();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("Appointments", "Positions", new { area = "Admin"}, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                foreach (var semester in semesters)
                {
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            @semester
                        </div>

                        <div class="panel-body">
                            <table class="table table-responsive table-condensed">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Position</th>
                                        <th>Appointed Member</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(var i = 0; i < Model.Count(); i++)
                                    {
                                        if (Model[i].Leader.SemesterId != semester.SemesterId)
                                        {
                                            continue;
                                        }
                                        <tr class="@(Model[i].Leader.Position.Type == Position.PositionType.Alumni ? "" : "")">
                                            <td>
                                                @Html.DisplayFor(m => Model[i].Leader.Position.Type)
                                            </td>
                                            <td>
                                                @Html.HiddenFor(m => Model[i].Leader.SemesterId)
                                                @Html.HiddenFor(m => Model[i].Leader.RoleId)
                                                @Html.DisplayFor(m => Model[i].Leader.Position.Name)
                                            </td>
                                            <td>
                                                @if(Model[i].Leader.Position.Type == Position.PositionType.Alumni)
                                                {
                                                    @Html.DropDownListFor(m => Model[i].Leader.UserId,
                                                    new SelectList(Model[i].Alumni, "UserId", "Name", Model[i].Leader.UserId), 
                                                    new { @class = "form-control"})
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(m => Model[i].Leader.UserId,
                                                    new SelectList(Model[i].Users, "UserId", "Name", Model[i].Leader.UserId), 
                                                    new { @class = "form-control"})
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>