@model ServiceHourIndexModel
@{
    ViewBag.Title = "Service Hours";
    ViewBag.Subtitle = Model.NavModel.SelectedSemester;
    ViewBag.Print = true;
    var hasElevatedPermissions = User.IsInRole("Administrator") || User.IsInRole("Service");
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 no-print">
            @Html.Partial("~/Areas/Service/Views/Shared/_ServiceNavPartial.cshtml", Model.NavModel)
        </div>
        <div class="col-lg-10 col-md-9">
            <div class="row">
                <div class="col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Member Progress
                            <a href="@Url.Action("Download", "Hours", new { sid = Model.NavModel.SelectedSemester.Id })"
                               class="btn btn-xs btn-default float-end no-print">
                                <i class="fa fa-download"></i> Download
                            </a>
                        </div>
                        <div class="table-responsive no-print">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">Name</th>
                                        <th class="col-xs-2">Hours Progress</th>
                                        <th class="col-xs-3">Hours</th>
                                        <th class="col-xs-3">Events</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Progress.OrderBy(o => o.LastName))
                                    {
                                        var barColor = item.Percentage < 25 ? "danger" : item.Percentage >= 100 ? "success" : "warning";

                                        <tr type="button" data-toggle="collapse" data-target=".@item.MemberId" aria-expanded="false" aria-controls="@item.MemberId">
                                            <td>
                                                @item.Name

                                                @if (hasElevatedPermissions)
                                                {
                                                    <small class="float-end">
                                                        @if (item.HourAmendmentsCount > 0)
                                                        {
                                                            @item.HourAmendmentsDisplay
                                                        }
                                                        @if (item.EventAmendmentsCount > 0)
                                                        {
                                                            if(item.HourAmendmentsCount > 0)
                                                            {
                                                                @:, 
                                                            }
                                                            @item.EventAmendmentsDisplay
                                                        }
                                                    </small>
                                                }
                                            </td>
                                            <td>
                                                <div class="progress" style="margin: 0;">
                                                    <div class="progress-bar progress-bar-striped progress-bar-@barColor" role="progressbar"
                                                         aria-valuenow="@(item.Hours)" aria-valuemin="0"
                                                         aria-valuemax="@(item.HoursGoal)" style="width: @(item.Percentage > 100 ? 100 : item.Percentage)%;">
                                                        @item.Percentage%
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.Hours / @item.HoursGoal</td>
                                            <td>
                                                @item.ServiceHoursCount / @item.EventsGoal
                                                @if (item.ServiceHoursCount >= item.EventsGoal)
                                                {
                                                    <i class="fa fa-check-circle text-success"></i>
                                                }
                                                <button class="btn btn-default btn-xs float-end" type="button">Details</button>
                                            </td>
                                        </tr>
                                        if (item.ServiceHoursCount > 0)
                                        {
                                            foreach (var s in item.Submissions)
                                            {
                                                

                                                <tr class="collapse @item.MemberId active">
                                                    <td>
                                                        @Html.ActionLink(s.EventName, "Details", "Events", new { id = s.EventId }, null)
                                                        <span class="badge"><small>@s.EventDuration h</small></span>
                                                    </td>
                                                    <td>
                                                        <div class="progress" style="margin: 0" data-toggle="tooltip" data-placement="left" title="Present for ###% of event">
                                                            <div class="progress-bar progress-bar-info" role="progressbar"
                                                                 aria-valuenow="@(s.HoursServed)" aria-valuemin="0"
                                                                 aria-valuemax="@(s.EventDuration)"
                                                                 style="width: @(s.PercentageOfEvent > 100 ? 100 : s.PercentageOfEvent)%;">
                                                                @s.PercentageOfEvent%
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>@s.HoursServed</td>
                                                    <td>
                                                        @if (hasElevatedPermissions)
                                                        {
                                                            <div class="float-end text-right">
                                                                @Html.ActionLink("Edit", "Edit", new { eid = s.EventId, uid = item.MemberId }) |
                                                                @Html.ActionLink("Delete", "Delete", new { eid = s.EventId, uid = item.MemberId })
                                                            </div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="collapse @item.MemberId warning">
                                                <td style="border: none" colspan="4">
                                                    No events attended.
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="list-group print hide">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-3 col-p-3">Name</div>
                                    <div class="col-xs-3 col-p-3">Hours Progress</div>
                                    <div class="col-xs-3 col-p-3">Hours</div>
                                    <div class="col-xs-3 col-p-3">Events</div>
                                </div>
                            </div>
                            @foreach (var item in Model.Progress.OrderBy(o => o.LastName))
                            {
                                <div class="list-group-item" style="page-break-inside: avoid">
                                    <div class="row">
                                        <div class="col-xs-3 col-p-3">@item.Name</div>
                                        <div class="col-xs-3 col-p-3">@item.Percentage%</div>
                                        <div class="col-xs-3 col-p-3">@item.Hours / @item.HoursGoal</div>
                                        <div class="col-xs-3 col-p-3">
                                            @item.ServiceHoursCount / @item.EventsGoal
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="panel-footer">Member Count: @Model.Progress.Count()</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
