@model Dsp.Data.Entities.ScholarshipApp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete Scholarship Application";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Scholarships
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="alert alert-danger">
                <p>Are you sure you want to delete this?</p>
            </div>

            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Title)</dt>
                    <dd>@Html.DisplayFor(model => model.Title)</dd>
                    <dt>@Html.DisplayNameFor(model => model.OpensOn)</dt>
                    <dd>@Html.DisplayFor(model => model.OpensOn)</dd>
                    <dt>@Html.DisplayNameFor(model => model.ClosesOn)</dt>
                    <dd>@Html.DisplayFor(model => model.ClosesOn)</dd>
                    <dt>@Html.DisplayNameFor(model => model.IsPublic)</dt>
                    <dd>@Html.DisplayFor(model => model.IsPublic)</dd>
                </dl>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Delete" class="btn btn-default" />
            }
        </div>
    </div>
</div>
