@model Dsp.Data.Entities.ScholarshipApp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Submissions";
    ViewBag.Subtitle = Model.Title;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Scholarships
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Submitted On</th>
                        <th>Location</th>
                        <th>High School</th>
                        <th>Winner</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Submissions.OrderByDescending(s => s.SubmittedOn))
                    {
                        <tr class="@(item.IsWinner ? "warning" : "")">
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.SubmittedOn.ToShortDateString()</td>
                            <td>@item.City, @item.State</td>
                            <td>@item.HighSchool</td>
                            <td>@(item.IsWinner ? "Yes" : "No")</td>
                            <td class="text-right">
                                @Html.ActionLink("View", "Submission", new {id = item.ScholarshipSubmissionId})
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <p>
                <em>Submissions:</em> @Model.Submissions.Count
            </p>
        </div>
    </div>
</div>
