<div class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/">
                <img src="~/Images/MobileTouch-57x57.png" width="40" height="40" alt="Edit" style="margin: 3px 10px 3px 0px" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="hidden-lg" id="login">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <ul class="nav navbar-nav" id="menu">
                @if (Request.IsAuthenticated && !User.IsInRole("Released"))
                {
                    <li class="">
                        @Html.ActionLink("Sphinx", "Index", "Home", new { area = "Sphinx" }, new { title = "Sphinx" })
                    </li>
                }
                <li><a href="http://www.deltasigrollaalumni.com/" target="_blank">Alumni</a></li>
                <li class="@(ViewBag.Title.Contains("Recruitment") ? "active" : "")">
                    @Html.ActionLink("Recruitment", "Recruitment", "Home", new { area = "" }, null)
                </li>
                <li class="@(ViewBag.Title.Contains("Scholarships") ? "active" : "")">
                    @Html.ActionLink("Scholarships", "Scholarships", "Home", new { area = "" }, null)
                </li>
                <li class="@(ViewBag.Title.Contains("Contacts") ? "active" : "")">
                    @Html.ActionLink("Contacts", "Contacts", "Home", new { area = "" }, null)
                </li>
                <li class="hidden-xs hidden-sm">
                    <a href="https://www.facebook.com/deltasig.de" target="_blank">
                        <i class="fa fa-facebook-square fa-lg"></i>
                    </a>
                </li>
                <li class="hidden-xs hidden-sm">
                    <a href="https://twitter.com/DSPDeltaEpsilon" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </li>
            </ul>
            <div class="visible-lg" id="login">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
</div>