<div class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/MobileTouch-57x57.png" width="40" height="40" alt="Edit" style="margin: 3px 10px 3px 0px" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="menu">
                @if (Request.IsAuthenticated && !User.IsInRole("Released"))
                {
                    if (User.IsInRole("Active") || User.IsInRole("Administrator"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Administrator") || User.IsInRole("President"))
                                {
                                    <li>@Html.ActionLink("Appointments", "Appointments", "Account")</li>
                                }
                                @if (User.IsInRole("Administrator") || User.IsInRole("Service"))
                                {
                                    <li>@Html.ActionLink("Events", "Index", "Event")</li>
                                }
                                @if (User.IsInRole("Administrator") ||
                                     User.IsInRole("President") ||
                                     User.IsInRole("Secretary") ||
                                     User.IsInRole("Director of Recruitment"))
                                {
                                    <li>@Html.ActionLink("Registration", "Registration", "Account")</li>
                                }
                                @if (User.IsInRole("Administrator") || 
                                    User.IsInRole("President") || 
                                    User.IsInRole("Secretary") || 
                                    User.IsInRole("Academics"))
                                {
                                    <li>@Html.ActionLink("Semesters", "Index", "Semester")</li>
                                }
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Roster", "Roster", "Account")</li>
                            <li class="dropdown-header">Contact Info</li>
                            <li>@Html.ActionLink("Addresses", "Index", "Address")</li>
                            <li>@Html.ActionLink("Phone Numbers", "Index", "PhoneNumber")</li>
                            <li class="dropdown-header">Performance</li>
                            <li>@Html.ActionLink("Service", "Index", "Service")</li>
                            <li>@Html.ActionLink("Incidents", "Index", "Incidents")</li>
                        </ul>
                    </li>
                    if (User.IsInRole("Administrator") || User.IsInRole("Academics"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Classes", "Index", "Classes")</li>
                            </ul>
                        </li>
                    }
                    <li class="@(ViewBag.Title == "Sober Schedule" ? "active" : "")">@Html.ActionLink("Sober Schedule", "SoberSchedule", "Sphinx")</li>
                    if (User.IsInRole("Active"))
                    { 
                        <li class="@(ViewBag.Title == "Laundry Signup" ? "active" : "")">@Html.ActionLink("Laundry Signup", "LaundrySchedule", "Sphinx")</li>
                    }
                }
                else
                {
                    <li>
                        <p class="navbar-text"></p>
                    </li>
                }
            </ul>
            <div id="login">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>