<div class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/MobileTouch-57x57.png" width="40" height="40" alt="Edit" style="margin: 3px 10px 3px 0px" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="menu">
                @if (Request.IsAuthenticated && !User.IsInRole("Released"))
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"] == "Sphinx" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        @Html.ActionLink("Sphinx", "Index", "Sphinx", null, new { title = "Sphinx" })
                    </li>
                    if (User.IsInRole("Administrator") || User.IsInRole("President") || User.IsInRole("Secretary") ||
                        User.IsInRole("Director of Recruitment") || User.IsInRole("Academics"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li class="dropdown-header">Leadership</li>
                                    <li>@Html.ActionLink("Appointments", "Appointments", "Account")</li>
                                    <li>@Html.ActionLink("Positions", "Index", "Positions")</li>
                                    <li class="dropdown-header">Members</li>
                                    <li>@Html.ActionLink("Registration", "Registration", "Account")</li>
                                    <li class="dropdown-header">System</li>
                                    <li>@Html.ActionLink("Semesters", "Index", "Semesters")</li>

                                }
                                else
                                {
                                    if (User.IsInRole("President"))
                                    {
                                        <li class="dropdown-header">Leadership</li>
                                        <li>@Html.ActionLink("Appointments", "Appointments", "Account")</li>
                                        <li>@Html.ActionLink("Positions", "Index", "Positions")</li>
                                        <li class="dropdown-header">System</li>
                                        <li>@Html.ActionLink("Semesters", "Index", "Semesters")</li>
                                    }
                                    if (User.IsInRole("Secretary") || User.IsInRole("Director of Recruitment"))
                                    {
                                        <li class="dropdown-header">Members</li>
                                        <li>@Html.ActionLink("Registration", "Registration", "Account")</li>
                                    }
                                    if (User.IsInRole("Secretary") || User.IsInRole("Academics"))
                                    {
                                        <li class="dropdown-header">System</li>
                                        <li>@Html.ActionLink("Semesters", "Index", "Semesters")</li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Study Hour Tracker", "Tracker", "StudyHours")</li>
                                <li>@Html.ActionLink("Unapproved Study Hours", "Unapproved", "StudyHours")</li>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Academics"))
                                {
                                    <li class="dropdown-header">Chairman Only</li>
                                    <li>@Html.ActionLink("Study Hour Index", "Index", "StudyHours")</li>
                                    <li>@Html.ActionLink("Classes Index", "Index", "Classes")</li>
                                    <li>@Html.ActionLink("Class Scheduler", "CreateSchedule", "Classes")</li>
                                }
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Service <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Service Hours", "Index", "ServiceHours")</li>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Service"))
                            {
                                <li class="dropdown-header">Chairman Only</li>
                                <li>@Html.ActionLink("Service Events", "Index", "Events")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Roster", "Roster", "Account")</li>
                            <li>@Html.ActionLink("Addresses", "Index", "Addresses")</li>
                            <li>@Html.ActionLink("Phone Numbers", "Index", "PhoneNumbers")</li>
                            <li>@Html.ActionLink("Incident Reports", "Index", "Incidents")</li>
                            <li class="dropdown-header">Alumni-Related</li>
                            <li>@Html.ActionLink("Alumni Leaders", "AlumniLeaders", "Sphinx")</li>
                        </ul>
                    </li>
                    <li class="@(ViewBag.Title == "Sober Schedule" ? "active" : "")">@Html.ActionLink("Sober Schedule", "SoberSchedule", "Sphinx")</li>
                    if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                    {
                        <li class="@(ViewBag.Title == "Laundry Signup" ? "active" : "")">@Html.ActionLink("Laundry Signup", "LaundrySchedule", "Sphinx")</li>
                    }
                }
                else
                {
                    <li><p class="navbar-text"></p></li>
                }
            </ul>
            <div id="login">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>