<div class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/">
                <img src="~/Images/MobileTouch-57x57.png" width="40" height="40" alt="Edit" style="margin: 3px 10px 3px 0px" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="hidden-lg" id="login">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <ul class="nav navbar-nav" id="menu">
                @if (Request.IsAuthenticated && !User.IsInRole("Released"))
                {
                    <li class="@(ViewBag.Title.Contains("Sphinx") ? "active" : "")">
                        @Html.ActionLink("Sphinx", "Index", "Home", new { area = "Sphinx" }, new { title = "Sphinx" })
                    </li>
                    if (User.IsInRole("Administrator") || User.IsInRole("President") || User.IsInRole("Vice President Growth") || User.IsInRole("Secretary") ||
                        User.IsInRole("Director of Recruitment") || User.IsInRole("New Member Education") || User.IsInRole("Academics") || User.IsInRole("Service"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li>@Html.ActionLink("Appointments", "Appointments", "Positions", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Positions", "Index", "Positions", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Registration", "Registration", "Account", new { area = "Members" }, null)</li>
                                    <li>@Html.ActionLink("Semesters", "Index", "Semesters", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Statuses", "Index", "Statuses", new { area = "Admin" }, null)</li>
                                }
                                else
                                {
                                    if (User.IsInRole("President"))
                                    {
                                        <li>@Html.ActionLink("Appointments", "Appointments", "Positions", new { area = "Admin" }, null)</li>
                                        <li>@Html.ActionLink("Positions", "Index", "Positions", new { area = "Admin" }, null)</li>
                                        <li>@Html.ActionLink("Semesters", "Index", "Semesters", new { area = "Admin" }, null)</li>
                                    }
                                    if (User.IsInRole("Secretary") || User.IsInRole("Director of Recruitment") ||
                                        User.IsInRole("New Member Education") || User.IsInRole("Vice President Growth"))
                                    {
                                        <li>@Html.ActionLink("Registration", "Registration", "Account", new { area = "Members" }, null)</li>
                                    }
                                    if (User.IsInRole("Secretary") || User.IsInRole("Academics") || User.IsInRole("Service"))
                                    {
                                        <li>@Html.ActionLink("Semesters", "Index", "Semesters", new { area = "Admin" }, null)</li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                            {
                                <li class="dropdown-header">Study Hours</li>
                                <li>@Html.ActionLink("Study Periods", "Index", "Periods", new { area = "Study" }, null)</li>
                                <li>@Html.ActionLink("Unapproved Submissions", "Unapproved", "Hours", new { area = "Study" }, null)</li>
                            }
                            <li role="presentation" class="divider"></li>
                            <li class="dropdown-header">Service</li>
                            <li>@Html.ActionLink("Hours", "Index", "Hours", new {area = "Service"}, null)</li>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                            {
                                <li>@Html.ActionLink("Events", "Index", "Events", new {area = "Service"}, null)</li>
                            }
                            @if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                            {
                                <li role="presentation" class="divider"></li>
                                <li class="dropdown-header">Class-Related</li>
                                <li>@Html.ActionLink("Classes", "Index", "Classes", new { area = "Edu" }, null)</li>
                                if (User.IsInRole("Administrator") || User.IsInRole("Academics"))
                                {
                                    <li>@Html.ActionLink("Departments", "Index", "Departments", new { area = "Edu" }, null)</li>
                                }
                                <li>@Html.ActionLink("Majors", "Index", "Majors", new { area = "Edu" }, null)</li>
                            }
                            <li role="presentation" class="divider"></li>
                            <li class="dropdown-header">Housing</li>
                            <li>@Html.ActionLink("Rooms", "Index", "Rooms", new {area = "House"}, null)</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Growth <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Scholarships", "Index", "Applications", new { area = "Scholarships" }, null)</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Roster", "Index", "Roster", new { area = "Members" }, null)</li>
                            <li>@Html.ActionLink("Addresses", "Index", "Addresses", new { area = "Members" }, null)</li>
                            <li>@Html.ActionLink("Phone Numbers", "Index", "PhoneNumbers", new { area = "Members" }, null)</li>
                            <li>@Html.ActionLink("Incidents", "Index", "Incidents", new { area = "Members" }, null)</li>
                            <li role="presentation" class="divider"></li>
                            <li class="dropdown-header">Alumni-Related</li>
                            <li>@Html.ActionLink("Alumni Leaders", "Index", "Leaders", new { area = "Alumni" }, null)</li>
                        </ul>
                    </li>
                    @*<li class="@(ViewBag.Title == "Sober Schedule" ? "active" : "")">
                        <a href="@Url.Action("Schedule", "Sobers", new { area = "Sphinx" })">
                            <i class="fa fa-taxi"></i> Sobers
                        </a>
                    </li>
                    if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                    {
                        <li class="@(ViewBag.Title == "Laundry Signup" ? "active" : "")">
                            <a href="@Url.Action("Schedule", "Laundry", new { area = "Sphinx" })">
                                <i class="fa fa-calendar"></i> Laundry
                            </a>
                        </li>
                    }*@
                    <li class="@(ViewBag.Title.Contains("Meal") ? "active" : "")">
                        <a href="@Url.Action("Schedule", "Meals", new { area = "Kitchen" })">
                            <i class="fa fa-cutlery"></i> Meals
                        </a>
                    </li>
                }
                else
                {
                    <li><p class="navbar-text"></p></li>
                }
            </ul>
            <div class="visible-lg" id="login">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
</div>