<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Favicon-16x16.png" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap-theme")
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/data-tables")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding: 0">
    @{ Html.RenderPartial("Nav"); }
    @RenderSection("Title", required: false)
    @RenderBody()
    @{ Html.RenderPartial("Footer"); }
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @Scripts.Render("~/bundles/otf")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
