<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Favicon-16x16.png" />
    <link rel='stylesheet' type='text/css' href='~/Content/OpenSans.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("AdditionalMeta", false)
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap-datetimepicker-build.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-combobox.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="~/Content/datepicker.css">
    @Styles.Render("~/Content/custom-css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/Multiselect")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.css">
    <script type="text/javascript" src="~/Scripts/select2.js"></script>
</head>
<body style="padding: 0">
    @{ Html.RenderPartial("Nav"); }
    @RenderSection("Title", required: false)
    @RenderBody()
    @{ Html.RenderPartial("Footer"); }

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Multiselect")
    <script type="text/javascript" src="~/Scripts/bootstrap-combobox.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
