<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li class="@(ViewBag.Title == "Account" ? "active" : "")">
            @Html.ActionLink("Account", "Index", "Account")
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "margin: 0" }))
            {
                // Example of link-based form submission
                @Html.AntiForgeryToken()
                <p class="navbar-text" style="padding-left: 15px">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
                </p>
            }
        </li>
    }
    else
    {
        <li class="@(ViewContext.RouteData.Values.ContainsValue("Login") ? "active" : "")">
            @Html.ActionLink("Log In", "Login", "Account")
        </li>
    }
</ul>
