@if (ViewContext.RouteData.Values.ContainsValue("Home"))
{
    if (ViewBag.Title != "Delta Sigma Phi")
    {
        <div class="container-fluid" style="padding:0">
            <div class="page-header" style="margin-top: 45px">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>
                                <strong>@ViewBag.Title</strong>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="container-fluid" style="padding:0">
        <div class="page-header" style="margin-top: 45px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3>
                            @ViewBag.Title
                            <small>@ViewBag.Subtitle</small>
                        </h3>
                        @{
                            var hideMessage = string.IsNullOrEmpty(ViewBag.SuccessMessage) || string.IsNullOrEmpty(ViewBag.FailMessage) 
                                ? "hidden" : "";
                        }
                        <p id="success-message" class="text-success @(hideMessage)">@ViewBag.SuccessMessage</p>
                        <p id="failure-message" class="text-warning @(hideMessage)">@ViewBag.FailMessage</p>
                    </div>
                    <div class="col-sm-6 text-right" style="padding-top: 20px">
                        @if (ViewContext.RouteData.DataTokens["area"] == "Sphinx")
                        {
                            <a class="@(ViewBag.Title == "Sphinx" ? "active" : "") btn btn-sm btn-default hidden-lg"
                               href="@Url.Action("Index", "Home", new { area = "Sphinx" })">
                                <i class="fa fa-taxi"></i> Home
                            </a>
                            <a class="@(ViewBag.Title == "Sober Schedule" ? "active" : "") btn btn-sm btn-default" 
                               href="@Url.Action("Schedule", "Sobers", new { area = "Sphinx" })">
                                <i class="fa fa-taxi"></i> Sobers
                            </a>
                            if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                            {
                                <a class="@(ViewBag.Title == "Laundry Signup" ? "active" : "") btn btn-sm btn-default"
                                   href="@Url.Action("Schedule", "Laundry", new { area = "Sphinx" })">
                                    <i class="fa fa-calendar"></i> Laundry
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        // setTimeout() function will be fired after page is loaded
        // it will wait for 5 sec. and then will fire
        // $("#successMessage").hide() function
        setTimeout(function () {
            $("#success-message").hide('blind', {}, 1000);
            $("#failure-message").hide('blind', {}, 1000);
        }, 5000);
    });
</script>