@if (ViewContext.RouteData.Values.ContainsValue("Home"))
{
    if (ViewBag.Title != "Delta Sigma Phi")
    {
        <div class="container-fluid" style="padding:0">
            <div class="page-header" style="margin-top: 45px">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>
                                @ViewBag.Title
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="container-fluid" style="padding:0">
        <div class="page-header" style="margin-top: 45px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3>
                            @ViewBag.Title
                            <small>@ViewBag.Subtitle</small>
                        </h3>
                        @{
                            var hideSuccess = string.IsNullOrEmpty(ViewBag.SuccessMessage) ? "hidden" : "";
                            var hideFailure = string.IsNullOrEmpty(ViewBag.FailMessage) ? "hidden" : "";
                            var hideMessage = string.IsNullOrEmpty(ViewBag.Message) ? "hidden" : "";
                        }
                        <p id="success-message" class="text-success @(hideSuccess)">@ViewBag.SuccessMessage</p>
                        <p id="failure-message" class="text-danger @(hideFailure)">@ViewBag.FailMessage</p>
                        <p id="message" class="text-warning @(hideMessage)">@ViewBag.Message</p>
                    </div>
                    <div class="col-sm-6 text-right" style="padding-top: 20px">
                        @{
                            var area = ViewContext.RouteData.DataTokens["area"] ?? string.Empty;
                            var controller = ViewContext.RouteData.Values["controller"] ?? string.Empty;
                        }


                        @if (area.ToString() == "Sphinx")
                        {
                            <a class="@(ViewBag.Title == "Sphinx" ? "active" : "") btn btn-sm btn-default hidden-lg"
                               href="@Url.Action("Index", "Home", new {area = "Sphinx"})">
                                <i class="fa fa-taxi"></i> Home
                            </a>
                            <a class="@(ViewBag.Title == "Sober Schedule" ? "active" : "") btn btn-sm btn-default"
                               href="@Url.Action("Schedule", "Sobers", new {area = "Sphinx"})">
                                <i class="fa fa-taxi"></i> Sobers
                            </a>
                            if (User.IsInRole("Administrator") || User.IsInRole("Pledge") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
                            {
                                <a class="@(ViewBag.Title == "Laundry Signup" ? "active" : "") btn btn-sm btn-default"
                                   href="@Url.Action("Schedule", "Laundry", new {area = "Sphinx"})">
                                    <i class="fa fa-calendar"></i> Laundry
                                </a>
                            }
                        }
                        else if (area.ToString() == "House" && controller.ToString() == "workorders")
                        {
                            <div class="row-fluid hidden-xs">
                                <a href="@Url.Action("Create", "WorkOrders", new {area = "House"})" class="btn btn-sm btn-success">
                                    Create New Work Order
                                </a>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a href="@Url.Action("CreateOld", "WorkOrders", new {area = "House"})" class="btn btn-sm btn-info">
                                        Enter Past Work Order
                                    </a>
                                }
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a href="@Url.Action("Index", "WorkOrderPriorities", new {area = "House"})" class="btn btn-sm btn-default">
                                        Priorities
                                    </a>
                                    <a href="@Url.Action("Index", "WorkOrderStatuses", new {area = "House"})" class="btn btn-sm btn-default">
                                        Statuses
                                    </a>
                                }
                            </div>
                            <div class="row-fluid visible-xs">
                                <div class="btn-group" role="group" aria-label="...">
                                    <a href="@Url.Action("Create", "WorkOrders", new {area = "House"})" class="btn btn-sm btn-success">
                                        <i class="fa fa-plus"></i> New
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <a href="@Url.Action("CreateOld", "WorkOrders", new {area = "House"})" class="btn btn-sm btn-primary">
                                            <i class="fa fa-plus"></i> Past
                                        </a>
                                    }
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <a href="@Url.Action("Index", "WorkOrderPriorities", new {area = "House"})" class="btn btn-sm btn-default">
                                            Priorities
                                        </a>
                                        <a href="@Url.Action("Index", "WorkOrderStatuses", new {area = "House"})" class="btn btn-sm btn-default">
                                            Statuses
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        // setTimeout() function will be fired after page is loaded
        // it will wait for 5 sec. and then will fire
        // $("#successMessage").hide() function
        setTimeout(function () {
            $("#success-message").hide('blind', {}, 1000);
            $("#failure-message").hide('blind', {}, 1000);
            $("#message").hide('blind', {}, 1000);
        }, 5000);
    });
</script>