<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("AdditionalMeta", false)
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="~/Content/OpenSans.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    @Styles.Render("~/Content/custom-css")
    @Styles.Render("~/Content/font-awesome")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_Nav")
        @Html.Partial("_Title")
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function() {
            setTimeout(function() {
                $("#success-message").hide("blind", {}, 1000);
                $("#failure-message").hide("blind", {}, 1000);
                $("#message").hide("blind", {}, 1000);
            }, 5000);

            $("[data-toggle=\"tooltip\"]").tooltip();
            $("[data-toggle=\"popover\"]").tooltip();
        });
    </script>
</body>
</html>
