<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("AdditionalMeta", false)
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Favicon-16x16.png" />
    @Styles.Render("~/content/open-sans")  
    @Styles.Render("~/content/bootstrap-core")
    @Styles.Render("~/content/custom-css")
    @Styles.Render("~/content/font-awesome")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
<div id="wrapper">
    @if ((ViewContext.RouteData.DataTokens["area"] == null && ViewContext.RouteData.Values["action"].ToString() != "logs")
         || !Request.IsAuthenticated)
    {
        @Html.Partial("_NavExternal")
    }
    else
    {
        @Html.Partial("_NavInternal")
    }
    @Html.Partial("_Title")
    <div id="page-wrapper">
        @RenderBody()
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap-core")
@RenderSection("scripts", required: false)
<script type="text/javascript">

    $(function() {
        setTimeout(function() {
            $("#success-message").alert('close');
            $("#failure-message").alert('close');
            $("#message").alert('close');
        }, 10000);

        $("[data-toggle=\"tooltip\"]").tooltip();
        $("[data-toggle=\"popover\"]").tooltip();
    });

</script>
</body>
</html>
