<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("AdditionalMeta", false)
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Favicon-16x16.png" />
    @Styles.Render("~/content/open-sans")
    @Styles.Render("~/content/bootstrap-core")
    @Styles.Render("~/content/custom-css")
    @Styles.Render("~/content/font-awesome")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @{
        var area = ViewContext.RouteData.DataTokens["area"];
        var action = ViewContext.RouteData.Values["action"].ToString();
    }
    @if ((area == null && action != "logs") || !Request.IsAuthenticated)
    {
        @Html.Partial("_NavExternal")
        @Html.Partial("_Title")
        @RenderBody()
    }
    else
    {
        <div id="wrapper">
            @Html.Partial("_NavInternal")
            @Html.Partial("_Title")
            <div id="page-wrapper">
                @RenderBody()
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/bootstrap-core")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        $(function() {
            // Activate all alerts and set them to auto-close after 10 seconds.
            setTimeout(function() {
                $("#success-message").alert('close');
                $("#fail-message").alert('close'); // Temporary (being phased out)
                $("#failure-message").alert('close');
                $("#message").alert('close'); // Temporary (being phased out)
            }, 10000);

            // Activate all tooltips and popovers.
            $("[data-toggle=\"tooltip\"]").tooltip();
            $("[data-toggle=\"popover\"]").tooltip();
        });

    </script>
</body>
</html>
