@if (Request.IsAuthenticated)
{
    <li class="hidden-xs hidden-sm profile-pic-alt" style="display: none;">
        <p class="navbar-text">
            Signed in as <strong>@User.Identity.Name</strong>
        </p>
    </li>
    <li class="@(ViewBag.Title.Contains("Account") ? "active" : "") profile-pic-wrapper" style="display: none;">
        <a href="@Url.Action("Index", "Account", new {area = "Members"})"
            data-toggle="tooltip" data-placement="bottom" title="Account" style="height: 50px; padding: 0">
            <img class="profile-pic img-circle" src="" style="width: 40px; margin:5px 10px" />
        </a>
    </li>
    <li class="@(ViewBag.Title.Contains("Account") ? "active" : "") profile-pic-alt" style="display: none;">
        <a href="@Url.Action("Index", "Account", new {area = "Members"})"
            data-toggle="tooltip" data-placement="bottom" title="Account">
            <i class="fa fa-user"></i>
        </a>
    </li>
    <li>
        @using (Html.BeginForm("SignOut", "Account", new {area = "Members"}, FormMethod.Post, new {id = "signoutForm"}))
        {
            @Html.AntiForgeryToken()
        }
        <a href="javascript:document.getElementById('signoutForm').submit()"
           data-toggle="tooltip" data-placement="bottom" title="Sign Out">
            <i class="fa fa-sign-out"></i>
        </a>
    </li>
}
else
{
    <li class="@(ViewBag.Title.Contains("Sign In") ? "active" : "")">
        <a href="@Url.Action("SignIn", "Account", new { area = "Members" })"
           data-toggle="tooltip" data-placement="bottom" title="Member Sign In">
            <i class="fa fa-sign-in"></i>
        </a>
    </li>
}
