@if (Request.IsAuthenticated)
{
    <li class="@(ViewBag.Title.Contains("Account") ? "active" : "")">
        <a href="@Url.Action("Index", "Account", new {area = "Members"})">
            <i class="fa fa-user"></i> Account
        </a>
    </li>
    <li>
        @using (Html.BeginForm("SignOut", "Account", new {area = "Members"}, FormMethod.Post, new {id = "signoutForm"}))
        {
            @Html.AntiForgeryToken()
        }
        <a href="javascript:document.getElementById('signoutForm').submit()">
            <i class="fa fa-sign-out"></i> Sign Out
        </a>
    </li>
}
else
{
    <li class="@(ViewBag.Title.Contains("Sign In") ? "active" : "")">
        <a href="@Url.Action("SignIn", "Account", new { area = "Members" })">
            <i class="fa fa-sign-in"></i> Member Sign In
        </a>
    </li>
}
