<div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/" class="navbar-brand" style="padding: 3px 10px 3px 10px;">
                <img src="~/Images/MobileTouch-57x57.png" height="40" alt="DSP"/>
            </a>
            <a href="~/"
               class="navbar-brand visible-xs" style="padding-left: 0">
                <strong><em>Delta Sig</em></strong>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right top-nav hidden-xs">
            @Html.Partial("_LoginPartial")
        </ul>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav visible-xs">
                @Html.Partial("_LoginExternalPartial")
            </ul>
            <ul class="nav navbar-nav">
                @*@{ 
                    var area = ViewContext.RouteData.DataTokens["area"];
                }
                <li class="@(area != null && area.Equals("Alumni") || ViewBag.Title.Contains("Alumni") ? "active" : "")">
                    @Html.ActionLink("Alumni", "Index", "Home", new { area = "Alumni" }, null)
                </li>*@
                <li>
                    <a href="http://www.deltasigrollaalumni.com/" target="_blank">
                        Alumni <i class="fa fa-external-link" style="font-size: 11px"></i>
                    </a>
                </li>
                <li class="@(ViewBag.Title.Contains("Recruitment") ? "active" : "")">
                    @Html.ActionLink("Recruitment", "Recruitment", "Home", new {area = ""}, null)
                </li>
                <li class="@(ViewBag.Title.Contains("Scholarships") ? "active" : "")">
                    @Html.ActionLink("Scholarships", "Scholarships", "Home", new {area = ""}, null)
                </li>
                <li class="@(ViewBag.Title.Contains("Contacts") ? "active" : "")">
                    @Html.ActionLink("Contacts", "Contacts", "Home", new {area = ""}, null)
                </li>
            </ul>
        </div>
    </div>
</div>
