@model PagerModel

@if (ViewBag.Count > ViewBag.PageSize)
{
    var action = ViewContext.RouteData.Values["action"].ToString();

    <nav class="text-center">
        <ul class="pagination">
            <li class="@(ViewBag.Page > 1 ? "" : "disabled")">
                @if (ViewBag.Page > 1)
                {
                    <a href="@Url.Action(action, Model.Previous)" aria-label="Previous">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                    </a>
                }
                else
                {
                    <span><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                }
            </li>
            @for (var i = 1; i <= ViewBag.Pages; i++)
            {
                if (i == 1 || (i > ViewBag.Page - 3 && i < ViewBag.Page + 3) || i == ViewBag.Pages)
                {
                    var pageFilter = Model.Incrementer;
                    pageFilter.page = i;
                    <li class="@(ViewBag.Page == i ? "active" : "")">
                        <a href="@Url.Action(action, pageFilter)">@i</a>
                    </li>
                }
                else if (i == ViewBag.Page - 3 && i > 1)
                {
                    var pageFilter = Model.Incrementer;
                    pageFilter.page = (i + 1) / 2;
                    <li class="">
                        <a href="@Url.Action(action, pageFilter)" class="disabled">...</a>
                    </li>
                }
                else if (i == ViewBag.Page + 3 && i < ViewBag.Pages)
                {
                    var pageFilter = Model.Incrementer;
                    pageFilter.page = i + (ViewBag.Pages - i - 1) / 2;
                    <li class="">
                        <a href="@Url.Action(action, pageFilter)" class="disabled">...</a>
                    </li>
                }
            }
            <li class="@(ViewBag.Page < ViewBag.Pages ? "" : "disabled")">
                @if (ViewBag.Page < ViewBag.Pages)
                {
                    <a href="@Url.Action(action, Model.Next)" aria-label="Next">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                }
                else
                {
                    <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                }
            </li>
        </ul>
    </nav>
}
