<div class="container-fluid" style="padding: 0; position: fixed; z-index: 10; width: 100%; top:51px">
    <div class="page-header" style="margin-top: 0;background-color: #fcfcfc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        @ViewBag.Title
                        <small>@ViewBag.Subtitle</small>
                    </h3>
                    @{
                        var hideSuccess = string.IsNullOrEmpty(ViewBag.SuccessMessage) ? "hidden" : "";
                        var hideFailure = string.IsNullOrEmpty(ViewBag.FailMessage) ? "hidden" : "";
                        var hideMessage = string.IsNullOrEmpty(ViewBag.Message) ? "hidden" : "";
                    }
                    <p id="success-message" class="text-success @(hideSuccess)">@ViewBag.SuccessMessage</p>
                    <p id="failure-message" class="text-danger @(hideFailure)">@ViewBag.FailMessage</p>
                    <p id="message" class="text-warning @(hideMessage)">@ViewBag.Message</p>
                </div>
            </div>
        </div>
    </div>
</div>