@model RegisterModel

<div class="panel panel-default">
    <div class="panel-heading">Register</div>
    <div class="panel-body">
        @using (Html.BeginForm("Register", "Account", new { area = "Members" }, FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StatusId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.StatusId, Model.StatusList, new
                {
                    @class = "form-control selectpicker",
                    autocomplete = "off",
                    data_size = "10"
                })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PledgeClassId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.PledgeClassId, Model.PledgeClassList, new
                {
                    @class = "form-control selectpicker",
                    autocomplete = "off",
                    data_live_search = "true",
                    data_size = "10"
                })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExpectedGraduationId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.ExpectedGraduationId, Model.SemesterList, new
                {
                    @class = "form-control selectpicker",
                    autocomplete = "off",
                    data_live_search = "true",
                    data_size = "10"
                })
            </div>
            
            <button type="submit" class="btn btn-success">Register</button>
        }
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        Registration Instructions
    </div>
    <div class="panel-body">
        <h4>User Name</h4>
        <p>
            The only rule here is that you cannot use an existing user name.
        </p>

        <h4>Email</h4>
        <p>
            The only rule here is that you cannot use an existing email.
        </p>

        <h4>Status</h4>
        <p>
            This is the user's "status" within the website and is a required field.
            The following descriptions are provided for guidance.
        </p>
        <dl class="dl-horizontal">
            <dt>New</dt>
            <dd>A new member undergoing the new member education process and awaiting intiation.</dd>

            <dt>Neophyte</dt>
            <dd>A new member whose initiation has been delayed for whatever reason.</dd>

            <dt>Active</dt>
            <dd>An active, undergraduate member of the fraternity.</dd>

            <dt>Alumnus</dt>
            <dd>A former active member who has graduated.</dd>

            <dt>Affiliate</dt>
            <dd>Used for people that are affiliated with the fraternity in a non-member capacity and needs website access (e.g., a chef).</dd>

            <dt>Released</dt>
            <dd>Used for anyone who was at one time a neophyte, new, active, or alumni member and is no longer one for whatever reason.</dd>

            <dt>Advisor</dt>
            <dd>Reserved for special people that serve as Chapter Advisor or University Advisor.</dd>
        </dl>

        <h4>Pledge Class</h4>
        <p>
            The pledge class to which the user belongs.
            This will determine how the user is displayed throughout the website (e.g., roster, service hours, housing, etc.).
            If this doesn't apply, leave as None.
        </p>

        <h4>Graduation</h4>
        <p>
            The semester in which the user is expected to graduate.
            This will determine how the user is displayed throughout the website (e.g., roster, service hours, housing, etc.).
            If this doesn't apply, leave as None.
        </p>
    </div>
</div>

