@model IEnumerable<Address>

<div class="panel panel-default">
    <div class="panel-heading">My Addresses</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || User.Identity.Name == Model.First().Member.UserName)
                    {
                        <th></th>
                    }
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="@(string.IsNullOrEmpty(item.Address1) ? "danger" : "")">
                        @if (item.Address1 == null)
                        {
                            @:Please enter an address
                        }
                        else
                        {
                            @item.Address1@:,
                            if (@item.Address2 != null)
                            {
                                @item.Address2@:,
                            }
                            @item.City@:, @item.State @item.PostalCode,
                            @item.Country
                        }
                    </td>
                    <td>@item.Type</td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || User.Identity.Name == Model.First().Member.UserName)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Address", new { id = item.AddressId }, null)
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
