@model List<Dsp.Data.Entities.SoberSignup>
@{
    Layout = null;
    var dates = Model.Select(s => s.DateOfShift).Distinct();
}

<html>
<body>
    <div style="height: 40px; width: 100%; border-bottom: 1px solid gainsboro; ">
        <img style="float: right; " height="35" width="35"
             src="https://www.deltasig-de.org/Images/MobileTouch-57x57.png" />
        <h2 style="margin: 0">
            <strong>Sober Schedule</strong>
        </h2>
    </div>

    <table style="border-collapse: collapse; width: 100%; max-width: 500px">
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td>No sober drivers on duty</td>
                </tr>
            }
            else
            {
                foreach (var date in dates)
                {
                    <tr>
                        <td colspan="3" style="padding-top: 20px">
                            <strong>
                                @date.DayOfWeek.ToString(), @date.ToString("MMMM dd")
                            </strong>
                        </td>
                    </tr>
                    foreach (var item in Model.Where(i => i.DateOfShift == date).OrderBy(s => s.SoberTypeId))
                    {
                        if (item.UserId == null)
                        {
                            <tr>
                                <td style="padding: 5px 0; border-top: 1px solid #dddddd; width: 34%">
                                    @item.SoberType.Name
                                </td>
                                <td style="padding: 5px 0; border-top: 1px solid #dddddd; width: 33%">
                                    None
                                </td>
                                <td style="padding: 5px 0; border-top: 1px solid #dddddd; width: 33%">
                                    <a href="https://www.deltasig-de.org/sobers/schedule">Sign Up</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            var number = item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number;

                            <tr>
                                <td style="padding: 5px 0; border-top: 1px solid #dddddd; width: 40%">
                                    @item.SoberType.Name
                                </td>
                                <td style="padding: 5px 0; border-top: 1px solid #dddddd; width: 30%">
                                    @item.Member.ToString()
                                </td>
                                <td style="padding: 5px 0; border-top: 1px solid #dddddd; width: 30%">
                                    <a href="tel:@number">@number</a>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
    <br />
    <br />
    <strong style="color: darkred">Reminder to Sober People</strong>
    <p style="color: darkred">
        Make sure that your mobile phone number is up-to-date on the website
        (<a href="https://www.deltasig-de.org/members/account">click to edit</a>). <br />
        If your information is inaccurate in this email, let the Sergeant-at-Arms know.
    </p>
</body>
</html>
