@model Dsp.Data.Entities.Cause
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Cause Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Causes
                </a>
            </p>
        </div>
        <div class="col-md-3 text-right">
            <p>
                <a href="@Url.Action("Create", "Fundraisers", new { pid = Model.Id })" class="btn btn-sm btn-success">
                    Create Fundraiser
                </a>
                <a href="@Url.Action("Edit", "Causes", new { id = Model.Id })" class="btn btn-sm btn-info">
                    Edit
                </a>
                @if (!Model.Fundraisers.Any())
                {
                    <a href="@Url.Action("Delete", "Causes", new { id = Model.Id })" class="btn btn-sm btn-danger">
                        Delete
                    </a>
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd>@Html.DisplayFor(model => model.Description)</dd>
                    <dt>Fundraisers</dt>
                    <dd>
                        @if (Model.Fundraisers.Any())
                        {
                            foreach (var f in Model.Fundraisers.OrderByDescending(m => m.BeginsOn))
                            {
                                var label = string.Format("{0} (Goal: {1:C2})", f.Name, f.Goal);

                                if (User.IsInRole("Administrator") || User.IsInRole("Philanthropy"))
                                {
                                    <small>
                                        <a href="@Url.Action("Details", "Fundraisers", new { id = f.Id })">@label</a>
                                    </small>
                                }
                                else
                                {
                                    <small>@label</small>
                                }
                                <br />
                            }
                        }
                        else
                        {
                            @: No fundraisers
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
