@model DeltaSigmaPhiWebsite.Areas.Members.Models.AddressIndexFilterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Address Index";

    var mailing = Model.Addresses.Where(m => m.Type == "Mailing");
    var permanent = Model.Addresses.Where(m => m.Type == "Permanent");
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a class="pull-right" href="@Url.Action("Download", "Addresses")">
                <i class="fa fa-download fa-2x"></i>
            </a>
            @using (Html.BeginForm("Index", "Addresses", FormMethod.Get, new { @class = "", role = "form" }))
            {
                <input type="submit" value="Filter" class="btn btn-default" />

                <div class="checkbox-inline" style="margin-left:10px">
                    <label>
                        @Html.CheckBoxFor(model => model.Pledges)
                        <small>Pledges</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBoxFor(model => model.Neophytes)
                        <small>Neophytes</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBoxFor(model => model.Actives)
                        <small>Actives</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBoxFor(model => model.Alumni)
                        <small>Alumni</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBoxFor(model => model.Affiliates)
                        <small>Affiliates</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBoxFor(model => model.Released)
                        <small>Released</small>
                    </label>
                </div>
                <br /><br />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="#mailing" data-toggle="pill">Mailing</a></li>
                <li><a href="#permanent" data-toggle="pill">Permanent</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="mailing">
                    <br />
                    <div class="table-responsive">
                        <table class="table table-condensed" id="mailing-address-table">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Status</th>
                                    <th>Address</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in mailing)
                            {
                                <tr>
                                    <td>@item.Member.LastName, @item.Member.FirstName</td>
                                    <td>@item.Member.MemberStatus.StatusName</td>
                                    <td class="@(string.IsNullOrEmpty(item.Address1) ? "warning" : "")">
                                        @if (string.IsNullOrEmpty(item.Address1))
                                        {
                                            @:None entered.
                                        }
                                        else
                                        {
                                            @item.Address1@:,
                                            if (@item.Address2 != null)
                                            {
                                                @item.Address2@:,
                                            }
                                            @item.City@:, @item.State @item.PostalCode,
                                            @item.Country
                                        }
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || item.UserId == WebSecurity.CurrentUserId)
                                        {
                                            <a class="" href="@Url.Action("Edit", "Addresses", new { id = item.AddressId })">
                                                <i class="fa fa-pencil fa-lg"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="permanent">
                    <br />
                    <div class="table-responsive">
                        <table class="table table-condensed" id="permanent-address-table">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Status</th>
                                    <th>Address</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in permanent)
                            {
                                <tr>
                                    <td>@item.Member.LastName, @item.Member.FirstName</td>
                                    <td>@item.Member.MemberStatus.StatusName</td>
                                    <td class="@(string.IsNullOrEmpty(item.Address1) ? "warning" : "")">
                                        @if (string.IsNullOrEmpty(item.Address1))
                                        {
                                            @:None entered.
                                        }
                                        else
                                        {
                                            @item.Address1@:,
                                            if (@item.Address2 != null)
                                            {
                                                @item.Address2@:,
                                            }
                                            @item.City@:, @item.State @item.PostalCode,
                                            @item.Country
                                        }
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || item.UserId == WebSecurity.CurrentUserId)
                                        {
                                            <a class="" href="@Url.Action("Edit", "Addresses", new { id = item.AddressId })">
                                                <i class="fa fa-pencil fa-lg"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $('#mailing-address-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });
        $('#permanent-address-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}
