@model Semester

@{
    ViewBag.Title = "Edit Semester";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h3>@Model.ToString() <small>Semester</small></h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.SemesterId)

                <div class="form-group">
                    @Html.LabelFor(model => model.DateStart, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateEnd, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.StudyHourStart, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.StudyHourStart, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StudyHourStart, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudyHourEnd, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.StudyHourEnd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StudyHourEnd, "", new { @class = "text-danger" })
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.FallTransitionDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FallTransitionDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FallTransitionDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            }
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

