@model Dsp.Areas.Service.Models.ServiceAmendmentModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Service Amendments";
    ViewBag.Subtitle = Model.Semester;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="semester-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Change Semester
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="semester-dropdown">
                    @foreach (var s in Model.SemesterList)
                    {
                        <li><a href="@Url.Action("Amendments", new { s = s.Value })">@s.Text</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                <a href="@Url.Action("Index", "Hours", new {s = Model.Semester.SemesterId})" class="btn btn-sm btn-default">
                    Service Hours
                </a>
                <a href="@Url.Action("Index", "Events", new {s = Model.Semester.SemesterId})" class="btn btn-sm btn-default">
                    Service Events
                </a>
                @Html.ActionLink("Add Amendment", "AddAmendment", new { s = Model.Semester.SemesterId },  new {@class = "btn btn-sm btn-success"})
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Semester Amendments
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Member</th>
                            <th>Reason</th>
                            <th>Amount (hrs)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceAmendments.Any())
                        {
                            foreach (var a in Model.ServiceAmendments.OrderBy(m => m.Member.LastName))
                            {
                                <tr>
                                    <td>@a.Member.ToString()</td>
                                    <td>@a.Reason</td>
                                    <td>@a.AmountHours</td>
                                    <td class="text-right">
                                        @using (Html.BeginForm("DeleteAmendment", "Hours", new {aid = a.Id}, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="warning">
                                <td colspan="4">No amendments found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
