@model WorkOrder
@{
    Layout = null;
    var cst = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cst);
    var link = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Action("View", "WorkOrders", new { area = "House", id = Model.WorkOrderId }));
}

<html>
<body>
<div style="height: 40px; width: 100%; border-bottom: 1px solid gainsboro;">
    <img style="float: right;" height="35" width="35"
         src="https://www.deltasig-de.org/Images/MobileTouch-57x57.png"/>
    <h2 style="margin: 0">
        <a href="@link">@Model.Title</a> <small>Work Order</small>
    </h2>
    <h4 style="margin-top: 2px">
        Submitted by @Model.Member.ToString() - @nowCst.ToString("f")
    </h4>
</div>
<div style="width: 100%;">
    <h4 style="margin-bottom: 5px">Description</h4>
    <p style="margin-top: 20px">
        @Model.Description
    </p>
</div>
</body>
</html>
