@model IEnumerable<DeltaSigmaPhiWebsite.Entities.Major>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Majors";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-right">
                    @Html.ActionLink("Add Major", "Create", null, new { @class="btn btn-sm btn-success" })
                    @Html.ActionLink("Assign Major", "Assign", null, new { @class="btn btn-sm btn-success" })
                </div>
                <div class="panel-body">
                    <table class="table" data-toggle="table" data-classes="table table-condensed" 
                           data-search="true" data-pagination="true" data-page-size="50" data-sort-name="class-number">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Members</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MajorName</td>
                                    <td>@item.Department.Name</td>
                                    <td>@item.MajorToMembers.Count</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MajorId })
                                        @if ((User.IsInRole("Administrator") || User.IsInRole("Academics")) && !item.MajorToMembers.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MajorId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        


    </script>
}