@model IEnumerable<ServiceIndexModel>

@{
    ViewBag.Title = "Service Index";

    var totalMembers = Model.Count();
    var pledges = Model.Where(m => m.Member.MemberStatus.StatusName == "Pledge").ToList();
    var neophytes = Model.Where(m => m.Member.MemberStatus.StatusName == "Neophyte").ToList();
    var actives = Model.Where(m => m.Member.MemberStatus.StatusName == "Active").ToList();
    
    var membersServed = Model.Count(m => m.Hours > 0);
    var servedPercentage = (int)(100 * (membersServed / (double)totalMembers));
    var membersServedTen = Model.Count(m => m.Hours >= 10);
    var servedTenPercentage = (int)(100 * (membersServedTen / (double)totalMembers));
    var membersServedFifteen = Model.Count(m => m.Hours >= 15);
    var servedFifteenPercentage = (int)(100 * (membersServedTen / (double)totalMembers));
    
    var totalHours = Model.Sum(m => m.Hours);
    var averageHours = (totalHours / totalMembers).ToString("F1");
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Quick Stats
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Number of members:</strong>
                        @totalMembers (@actives.Count() active(s), @pledges.Count() pledge(s), @neophytes.Count() neophyte(s))
                    </p>
                    <p>
                        <strong>Total hours:</strong>
                        @totalHours (@actives.Sum(a => a.Hours) from active(s), @pledges.Sum(p => p.Hours) from pledge(s), @neophytes.Sum(n => n.Hours) from neophyte(s))
                    </p>
                    <p>
                        <strong>Members served &gt; 0 hours:</strong>
                        @membersServed (@servedPercentage %)
                    </p>
                    <p>
                        <strong>Members served &ge; 10 hours:</strong>
                        @membersServedTen (@servedTenPercentage %)
                    </p>
                    <p>
                        <strong>Members served &ge; 15 hours:</strong>
                        @membersServedFifteen (@servedFifteenPercentage %)
                    </p>
                    <p>
                        <strong>Service Hours Per Member: </strong>
                        @averageHours
                    </p>
                </div>
                <div class="panel-footer">
                    <strong>Note: </strong> These numbers are pulled from all current pledges, neophytes, and actives. 
                    Sober driving is not counted towards community service hours.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Showing Service Hours for @Model.First().Semester
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed" id="service-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Member.LastName, @item.Member.FirstName</td>
                                        <td>@item.Hours</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <strong>Note: </strong> The hours being reported here consist of hours served at events that occured after the end of the previous semester
                    and before the end of the current semester.
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#service-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}