@using Dsp.Web.Entities
@model IEnumerable<SoberSignup>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sober Schedule";
    ViewBag.Print = true;
    var hasElevatedPermissions = User.IsInRole("Administrator") || User.IsInRole("Sergeant-at-Arms");
}

<div class="container-fluid">
    <div class="row row-space no-print">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6 text-sm-right">
            <a href="@Url.Action("Report", "Sobers", new { area = "Sphinx" })" class="btn btn-sm btn-default">
                <i class="fa fa-file-text-o"></i> Sober Report
            </a>
            @if (hasElevatedPermissions)
            {
                <a href="@Url.Action("Manager", "Sobers", new {area = "Sphinx"})" class="btn btn-sm btn-info">
                    <i class="fa fa-wrench"></i> Manage
                </a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Future Sober Signups</div>
                <div class="list-group">
                    @if (Model.Any())
                    {
                        foreach (var item in Model.OrderBy(s => s.DateOfShift).ThenBy(s => s.SoberTypeId).ThenBy(s => s.Description))
                        {
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2 col-p-3">@item.DateOfShift.ToString("MM-dd-yyyy")</div>
                                    <div class="col-md-2 col-p-9">
                                        <a href="@Url.Action("Info", "SoberTypes", new {id = item.SoberTypeId})" class="no-print">
                                            <i data-toggle="tooltip" data-placement="top" class="fa fa-info-circle text-info"
                                               title="Click to learn about this job."></i>
                                        </a>
                                        @item.SoberType.Name
                                    </div>
                                    <div class="col-md-4 col-p-12">@item.Description</div>
                                    <div class="col-md-2 col-p-12">
                                        @if (item.UserId == null)
                                        {
                                            if (!User.IsInRole("Pledge") || item.SoberType.Name != "Officer")
                                            {
                                                @Html.ActionLink("Sign up", "Signup", "Sobers", new { id = item.SignupId, area = "Sphinx" }, new { @class = "no-print" })
                                            }
                                        }
                                        else if (item.Member.UserName == User.Identity.Name || hasElevatedPermissions)
                                        {
                                            using (Html.BeginForm("CancelSignup", "Sobers", new { id = item.SignupId, area = "Sphinx" },
                                                FormMethod.Get, new { style = "display: inline" }))
                                            {
                                                <button type="submit" class="btn btn-sm btn-link no-print" 
                                                        style="padding: 0; color: #d9534f; display: inline">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                                @item.Member.ToString()
                                            }
                                        }
                                        else
                                        {
                                            @item.Member.ToString()
                                        }
                                    </div>
                                    <div class="col-md-2 text-md-right no-print">
                                        @if (hasElevatedPermissions)
                                        {
                                            <a class="" href="@Url.Action("EditSignup", "Sobers", new {id = item.SignupId, area = "Sphinx"})">
                                                Edit
                                            </a> @: |
                                            <a class="" href="@Url.Action("DeleteSignup", "Sobers", new {id = item.SignupId, area = "Sphinx"})">
                                                Delete
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="list-group-item list-group-item-warning">
                            No sober signups have been posted.
                        </div>
                    }
                </div>
                <div class="panel-footer">Count: @Model.Count()</div>
            </div>
        </div>
    </div>
    <div class="row no-print">
        <div class="col-xs-12">
            <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=dspeboard%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FChicago"
                    style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
