@model Semester
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Chapter Contacts";
    ViewBag.Subtitle = Model.ToString();
    var leaders = Model.Leaders ?? new List<Leader>();
    var list = leaders
        .Where(l => l.Position.IsPublic)
        .OrderBy(l => l.Position.Type)
        .ThenBy(l => l.Position.DisplayOrder);
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="Get in touch with one our leaders.">
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if (leaders.Any(l => l.Position.IsPublic))
            {
                <div class="panel panel-default">
                    <div class="panel-heading hide print">
                        <div class="row">
                            <div class="col-sm-4 col-p-4">
                                Member
                            </div>
                            <div class="col-sm-3 col-p-3">
                                Email
                            </div>
                            <div class="col-sm-3 col-p-4">
                                Position
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        @foreach (var leader in list)
                        {
                            var formattedId = leader.Position.Name.ToLower().Replace(" ", "_").Replace("-", "_").Replace("'", "").Replace(".", "");

                            <div class="list-group-item" id="@(formattedId)">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <img src="~/Images/Avatars/@(leader.Member.GetAvatarString())"
                                             height="35" width="35" class="img-circle no-print" id="avatar" style="" />
                                    </div>
                                    <div class="media-body">
                                        <div class="row" style="margin-top: 7px">
                                            <div class="col-sm-4 col-p-4">
                                                @leader.Member.ToString()
                                            </div>
                                            <div class="col-sm-3 col-p-3">
                                                <i class="fa fa-fw fa-envelope-o no-print"></i>
                                                <a href="mailto:@leader.Member.Email">@leader.Member.Email</a>
                                            </div>
                                            <div class="col-sm-3 col-p-4">
                                                @leader.Position.Name
                                            </div>
                                            <div class="col-sm-2 col-p-1 text-right">
                                                @if (leader.Position.Name == "Vice President Growth")
                                                {
                                                    <i class="fa fa-fw fa-info-circle text-info no-print" data-toggle="tooltip" data-placement="left"
                                                       title="Scholarship Inquiries">
                                                    </i>
                                                }
                                                else if (leader.Position.Name == "Director of Recruitment")
                                                {
                                                    <i class="fa fa-fw fa-info-circle text-info no-print" data-toggle="tooltip" data-placement="left"
                                                       title="Membership Inquiries">
                                                    </i>
                                                }
                                                @if (leader.Position.IsExecutive)
                                                {
                                                    @: <i class="fa fa-fw fa-star text-warning"></i>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel-footer text-right">
                        <i class="fa fa-fw fa-star text-warning"></i> Executive position
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <p>
                        Contact information for our leadership will be available as soon as appointments are made.
                        We apologize for the inconvenience. <br />
                    </p>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var selectedId = location.hash.slice(1);
        $(`#${selectedId}`).addClass("list-group-item-success");
    </script>
}