@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Delta Sigma Phi";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var currentTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
    var imageClass = currentTime.Hour >= 19 || currentTime.Hour <= 7 ? "night-img" : "day-img";
    var textColor = currentTime.Hour >= 19 || currentTime.Hour <= 7 ? "color: whitesmoke" : "";
}
@section AdditionalMeta{
    <meta name="description"
          content="We are redefining the fraternity experience by showing that a quality fraternity enhances the
                   college experience beyond that of any other college organization.">
}

<div class="container-fluid home @imageClass" style="height: 750px; padding: 50px 0; background-size: cover !important;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 jumbotron" style="background: none; padding: 10px; margin-top: -25px; @textColor">
                <h1><strong>DELTA SIGMA PHI</strong></h1>
                <h4 style="margin: 0 0 0 3px">DELTA EPSILON CHAPTER</h4>
                <h4 style="margin: 0 0 0 3px">MISSOURI S&amp;T</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid home dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    We are a social fraternity at
                    <a href="https://mst.edu">Missouri S&amp;T <i class="fa fa-external-link"></i></a> operating since we were
                    <a href="@Url.Action("About")">re-founded in 2006</a>.
                    We have 50-60 members at any given time, 45 of which live in the house located in 
                    <a href="https://www.google.com/maps/dir//37.949841,-91.772336/" target="_blank">
                        downtown Rolla, MO
                        <i class="fa fa-external-link"></i>
                    </a>.
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid home" style="margin-bottom: -50px">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <span class="fa-stack visible-md visible-lg" style="font-size: 5em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-group fa-stack-1x" style="color: white"></i>
                </span>
                <span class="fa-stack hidden-md hidden-lg" style="font-size: 4em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-group fa-stack-1x" style="color: white"></i>
                </span>
            </div>
            <div class="col-sm-10">
                <h3>
                    <span class="fa-stack visible-xs-inline-block">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-group fa-stack-1x" style="color: white"></i>
                    </span>
                    Prospective Members
                </h3>
                <p>
                    Our recruitment process is <strong>values-based</strong>.
                    This means that we want you to get to know us as much as we get to know you before you commit to anything.
                    If Delta Sig isn't the right place for you, we will help you find a fraternity that is, and if Greek Life 
                    is not for you, Missouri S&amp;T has many other social opportunities.
                    <br />
                    @Html.ActionLink("Learn More »", "Recruitment", "Home")
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <span class="fa-stack visible-md visible-lg" style="font-size: 5em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x" style="color: white"></i>
                </span>
                <span class="fa-stack hidden-md hidden-lg" style="font-size: 4em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x" style="color: white"></i>
                </span>
            </div>
            <div class="col-sm-10">
                <h3>
                    <span class="fa-stack visible-xs-inline-block">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x" style="color: white"></i>
                    </span>
                    Alumni Involvement
                </h3>
                <p>
                    After a decade-long absence, we are back at Missouri S&amp;T and we have quickly risen to be one of the most influental student organizations on campus.
                    While making an impact is great, none of it would have been possible without support from our alumni.
                    We invite you to connect with us!
                    <br />
                    @Html.ActionLink("Learn More »", "Alumni", "Home")
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <span class="fa-stack visible-md visible-lg" style="font-size: 5em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-globe fa-stack-1x" style="color: white"></i>
                </span>
                <span class="fa-stack hidden-md hidden-lg" style="font-size: 4em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-globe fa-stack-1x" style="color: white"></i>
                </span>
            </div>
            <div class="col-sm-10">
                <h3>
                    <span class="fa-stack visible-xs-inline-block">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x" style="color: white"></i>
                    </span>
                    Community Outreach
                </h3>
                <p>
                    Delta Sig wants to connect with you!  We are committed to building relationships on campus and throughout the community.
                    If you have an opportunity to make Missouri S&amp;T and the community a better place, let us know and we will do our best to help you.
                    <br />
                    @Html.ActionLink("Contact Us »", "Contacts", "Home")
                </p>
            </div>
        </div>
    </div>
</div>
