@model IEnumerable<ScholarshipApp>
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Recruitment";
}
@Scripts.Render("~/bundles/datetimepicker")
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta {
    <meta name="description" content="Learn about how you can join Delta Sig's mission to change the fraternity experience." >
}

<div class="container">
    @if (Model.Any())
    {
        if (Model.Any(a => a.OpensOn <= DateTime.UtcNow && a.ClosesOn >= DateTime.UtcNow))
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning">
                        <p>
                            <strong>Attention first-semester students!</strong>  
                            If you have not applied for our scholarship, @Html.ActionLink("click here", "Scholarships", "Home") to learn more!
                        </p>
                    </div>
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-8">
            <h3>
                <i class="fa fa-lightbulb-o"></i>
                Introduction
            </h3>
            <p class="text-justify">
                Our recruitment process is values-based.  This means that our members make an intentional effort to get
                to know every potential new member before we extend a bid card (an invitation for membership).  
                Our goal is to build a group of very diverse individuals, all of which exhibit excellence in some way and share
                a vision for making themselves and the community a better place.
            </p>
            <p class="text-justify">
                Each fraternity has a different culture and offers different experiences and friendships.
                That is why we encourage all potential new members to get to know both us <strong>and</strong> other fraternities.
                In other words, if Delta Sig isn't the right place for you, we will help you find a fraternity that is.
                We believe in the value of Greek Life that much, while also acknowledging that Greek Life isn't for everyone.
            </p>
            <hr />
            <h3>
                <i class="fa fa-book"></i>
                Recruitment Book
                <a href="https://docs.google.com/a/mst.edu/uc?authuser=0&id=0B2cf6ht4HK8jYVY0WDZ4SWs1b28&export=download"
                   target="_blank" class="btn btn-default btn-sm pull-right visible-lg"><i class="fa fa-arrow-circle-o-down"></i> Download</a>
            </h3>
            <p class="hidden-lg">
                <a href="https://docs.google.com/a/mst.edu/uc?authuser=0&id=0B2cf6ht4HK8jYVY0WDZ4SWs1b28&export=download"
                   target="_blank" class="btn btn-default btn-sm"><i class="fa fa-arrow-circle-o-down"></i> Download</a>
            </p>
            <p class="text-justify">
                Our goal with the <em>Recruitment Book</em> is to provide a convenient informational resource to 
                potential new members and their families that covers:
            </p>
            <ul>
                <li>Common Concerns</li>
                <li>New Member Education</li>
                <li>Costs</li>
                <li>Housing</li>
            </ul>
            <p class="text-justify">
                We update the book every semester to make sure all of the information is consistent with university costs
                and our fraternity policies.
                If you look through it and still have questions, feel free to @Html.ActionLink("contact", "Contacts", "Home") 
                our Director of Recruitment directly via email.
            </p>
            <hr />
            <h3>
                <i class="fa fa-envelope-o"></i>
                Getting in Touch
            </h3>
            <p class="text-justify">
                Many of our members were originally met within our classes, involvements, or existing social circles.
                However, potential new members have sought us out themselves, and we encourage you to do that if you do not know someone in Delta Sig.
            </p>
            <p class="text-justify">
                If you want to start getting to know us, introduce yourself by
                <a href="@Url.Action("Contacts")">sending an email to our Director of Recruitment</a>.
                Once we know you're out there, we can get you involved in Delta Sig however you want,
                whether it's answering your questions, touring the house, hanging out, or attending events.
            </p>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-calendar"></i> Upcoming Events
                </div>
                <div class="list-group" id="events">
                    <div class="list-group-item list-group-item-warning" id="no-events">
                        No events posted yet, but there will be soon!
                        @if (User.Identity.IsAuthenticated)
                        {
                            <br/>
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>
                                Make sure that [RECRUITMENT] is added to the event's description field,
                                brackets included.
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
(function() {
    function isoDateString(d) {
        function pad(n) { return n < 10 ? '0' + n : n }

        return d.getUTCFullYear() +
            '-' +
            pad(d.getUTCMonth() + 1) +
            '-' +
            pad(d.getUTCDate()) +
            'T' +
            pad(d.getUTCHours()) +
            ':' +
            pad(d.getUTCMinutes()) +
            ':' +
            pad(d.getUTCSeconds()) +
            'Z';
    }

    var mykey = '***REMOVED***';
    var calendarid = '***REMOVED***';
    var currentTime = new Date();
    var formattedTime = isoDateString(currentTime);

    $.ajax({
        type: 'GET',
        url: encodeURI('https://www.googleapis.com/calendar/v3/calendars/' +
            calendarid +
            '/events?key=' +
            mykey +
            '&timeMin=' +
            formattedTime +
            '&singleEvents=True&orderBy=startTime'),
        dataType: 'json',
        success: function (response) {
            //console.log(response);
            $('.event-item').remove();
            if (typeof response.items !== 'undefined' && response.items.length > 0) {
                $('#no-events').hide();
            } else {
                $('#no-events').show();
                return;
            }
            var posted = 0;
            for (var i = 0; i < response.items.length && posted < 10; i++) {
                var item = response.items[i];
                var date = moment(item.start.dateTime);
                if(!item.description || !item.description.includes("[RECRUITMENT]")) continue;
                var template = `
                    <div class="list-group-item event-item">
                        <p style="margin:0">
                            <strong>${item.summary}</strong> <br/>`;
                if (item.location) {
                    template += `
                        <small>
                            <i class ="fa fa-fw fa-map-marker"></i>
                            ${item.location}
                        </small><br/>`;
                }
                template += `
                        <small>
                            <i class ="fa fa-fw fa-clock-o"></i>
                            ${date.format("dddd, MMMM D, YYYY @@ h:mm a")}
                        </small><br/>
                `;
                template += `</p></div>`;
                $('#events').append(template);
                posted++;
            }
            if (posted <= 0) {
                $('#no-events').show();
            }
        },
        error: function (response) {
            $('.event-item').remove();
            $('#no-events').show();
        }
    });
    })();
    </script>
}