@model Dsp.Entities.PhoneNumber
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Phone Number";
    ViewBag.Subtitle = Model.Type + " Number for " + Model.Member;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PhoneNumberId)
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.Type)

                <div class="form-group">
                    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Number, new {htmlAttributes = new {@class = "form-control", placeholder = "Check format on the right"}})
                    @Html.ValidationMessageFor(model => model.Number, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            }

        </div>
        <div class="col-sm-6 col-sm-offset-2 col-xs-12">
            <div class="alert alert-warning">
                <strong>Phone Number Formats</strong>
                <hr />
                <p>Please use one of the following formats:</p>
                <ul>
                    <li><small><strong>US Numbers:</strong> ### - ### - ####</small></li>
                    <li>
                        <small>
                            <strong>International Numbers:</strong>
                            Number portion must be 10-15 characters long with an optional + symbol at the front (no spaces).
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>