@model Dsp.Web.Entities.StudySession
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete Study Session";
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12">
            <a href="@Url.Action("Sessions", new { id = Model.Id })" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Study Session
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <p>
                    Are you sure you want to delete the study session:
                    @Model.BeginsOn.ToString("f") to @Model.EndsOn.ToString("t") in @Model.Location?
                </p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
