@model IEnumerable<Leader>
@{
    ViewBag.Title = "Contact";
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @if (Model.Any())
            {
                <h3>
                    @(Model.First().Semester.DateStart.Month < 6 ? "Spring" : "Fall")
                    @Model.First().Semester.DateStart.Year
                    <small>Semester</small>

                </h3>

                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Contact Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var leader in Model)
                        {
                            <tr>
                                <td>@leader.Position.PositionName</td>
                                <td>@leader.Member.FirstName @leader.Member.LastName</td>
                                <td><a href="mailto:@leader.Member.Email">@leader.Member.Email</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Contact information will be updated as soon as appointments are made.</p>
            }
        </div>
    </div>
</div>