@model IEnumerable<Member>
@{
    ViewBag.Title = "Contact";
}

@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Contact Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member in Model)
                    {
                        <tr>
                            <td>@member.webpages_Roles.First().RoleName</td>
                            <td>@member.FirstName @member.LastName</td>
                            <td><a href="mailto:@member.Email">@member.Email</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>