@{
    ViewBag.Title = "Delta Sigma Phi";
    TimeZoneInfo cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var currentTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="top-section @(currentTime.Hour >= 19 || currentTime.Hour <= 7 ? "night-img" : "day-img")">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 jumbotron" style="background: none; padding: 10px; @(currentTime.Hour >= 19 || currentTime.Hour <= 7 ? "color:whitesmoke" : "")">
                <h1>
                    <strong>DELTA SIGMA PHI</strong>
                </h1>
                <h4 style="margin: 0">
                    DELTA EPSILON CHAPTER
                </h4>
                <h4 style="margin: 0">
                    MISSOURI S&amp;T
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 style="margin: 75px 0;">
                <strong><em>Delta Sig</em></strong> is about redefining the fraternity experience.  We are on a mission to show
                that a quality fraternity can enhance the college experience beyond that of any other organization.
            </h1>
        </div>
    </div>
</div>

<div class="content-section" style="background-color: #333333; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center" style="margin-bottom:30px;">
                    Get In Touch
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <span class="fa-stack" style="font-size:5em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-lightbulb-o fa-stack-1x" style="color:#333333"></i>
                </span>
                <h2>Prospective Members</h2>
                <p>
                    Our recruitment process is <strong>values-based</strong> and we are proud of it.  For those who are right for Delta Sig, you already believe what we believe.
                    You strive to make a positive impact every day in the world around you, and you realize that surrounding yourself with like-minded individuals will accelerate the realization of that vision.
                    If Delta Sig isn't the right place for you, we will help you find a fraternity that is. <br />
                    @Html.ActionLink("Learn More »", "Recruitment", "Home")
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <span class="fa-stack" style="font-size:5em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x" style="color:#333333"></i>
                </span>
                <h2>Alumni Involvement</h2>
                <p>
                    After a decade-long absence, Delta Epsilon has returned to Missouri S&amp;T and we have quickly risen to be one of the most influental student organizations 
                    on campus. Accomplishments are great, but none of it would be possible without support from our alumni.  
                    That is why Delta Epsilon is committed to reconnecting with you. <br/>
                    <a href="http://www.deltasigrollaalumni.com/" target="_blank">Alumni Website »</a>
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <span class="fa-stack" style="font-size:5em">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-group fa-stack-1x" style="color:#333333"></i>
                </span>
                <h2>Community Outreach</h2>
                <p>
                    Delta Sig wants to connect with you!  We are committed to building relationships on campus and throughout the community.
                    If you have an opportunity to make Missouri S&amp;T and the community a better place, let us know and we will do our best to help you. <br />
                    @Html.ActionLink("Contact Us »", "Contacts", "Home")
                </p>
            </div>
        </div>
    </div>
</div>