@model DeltaSigmaPhiWebsite.Models.ExternalScholarshipModel
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Scholarships";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="See what scholarships we are currently offering.">
}
<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="row">
        @if (Model.Applications.Any())
        {
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var t in Model.Types)
                    {
                        if (!t.Applications.Any()) { continue; }
                        
                        <li class="@(Model.Types.First() == t ? "active" : "")">
                            <a href="#@t.ScholarshipTypeId" data-toggle="tab">@t.Name</a>
                        </li>
                    }
                </ul>

            </div>
            <div class="col-sm-9">
                <div class="tab-content" style="border: 0">
                    @foreach (var t in Model.Types)
                    {
                        if (!t.Applications.Any()) { continue; }
                        
                        <div class="tab-pane @(Model.Types.First() == t ? "active" : "")" id="@t.ScholarshipTypeId">
                            @foreach (var a in Model.Applications.Where(a => a.ScholarshipTypeId == t.ScholarshipTypeId).Take(2))
                            {
                                <h2 class="hidden-xs" style="margin-top: 0">@a.Title</h2>
                                <h4 class="visible-xs" style="margin-top: 0">@a.Title</h4>
                                if (a.ClosesOn >= DateTime.UtcNow.AddDays(-1) && a.OpensOn <= DateTime.UtcNow)
                                {
                                    <div class="alert alert-success">
                                        <p>
                                            Applications are now being accepted until 
                                            <strong>11:59 PM on @TimeZoneInfo.ConvertTimeFromUtc(a.ClosesOn, cstZone).ToString("dddd, MMMM d, yyyy")</strong>. 
                                            @Html.ActionLink("Apply Now!", "Submit", "Applications", new
                                            {
                                                area = "Scholarships", id = a.ScholarshipAppId
                                            }, new
                                            {
                                                @class = "btn btn-sm btn-default"
                                            })
                                        </p>
                                    </div>
                                }
                                else if (a.OpensOn >= DateTime.UtcNow.AddDays(-1))
                                {
                                    <div class="alert alert-success">
                                        <p>
                                            Applications are not being accepted <strong>yet</strong>.
                                            The application period will begin on @TimeZoneInfo.ConvertTimeFromUtc(a.OpensOn, cstZone) <br />
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-warning">
                                        <p>
                                            Applications are no longer being accepted for this scholarship. <br />
                                        </p>
                                    </div>
                                }
                                <p>
                                    @Html.Raw(a.AdditionalText)
                                </p>
                                <hr />
                            }
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <p>
                        There are currently no scholarships being offered. <br />
                    </p>
                </div>
            </div>
        }
    </div>
</div>