@model Dsp.Areas.Members.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Please Sign In";
}
@section AdditionalMeta {
    <meta name="description" content="Member authentication page." />
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sphinx Sign In</h1>
            <div class="account-wall">
                <img class="profile-img" src="~/Images/MobileTouch-57x57.png" alt="">
                @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new {role = "form", id = "login-form", @class = "form-signin"}))
                {
                    Model.ReturnUrl = Request.QueryString["returnUrl"];
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = "User Name", autofocus = "", type = "text"})
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Password"})

                    <button type="submit" class="btn btn-lg btn-default btn-block">Sign In</button>
                    <p class="text-warning" style="margin: 0">
                        @Html.ValidationSummary(true, "Authentication Failed", new {@class = "text-danger"})
                        @Html.ValidationMessageFor(m => m.UserName, null, new {@class = "text-danger"})
                        <br/>
                        @Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
                    </p>

                    <div class="checkbox pull-left">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new {style = "padding:0px"})
                        </label>
                    </div>
                    <a href="mailto:dlefh7@mst.edu" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                }
            </div>
        </div>
    </div>
</div>
