@model ProgressModel
           
<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Required Hours</th>
            <th>Total Submitted Hours</th>
            <th>Approved Hours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @item.ToString()
                </td>
                <td>
                    @item.RequiredStudyHours |
                    @item.ProctoredStudyHours 
                </td>
                <td>
                    @item.SubmittedStudyHours.Where(m => !m.IsProctored && m.DateTimeStudied >= Model.StartDate).Sum(s => s.DurationHours) |
                    @item.SubmittedStudyHours.Where(m => m.IsProctored && m.DateTimeStudied >= Model.StartDate).Sum(s => s.DurationHours)
                </td>
                <td>
                @item.SubmittedStudyHours.Where(m => m.ApproverId != null && !m.IsProctored && m.DateTimeStudied >= Model.StartDate).Sum(s => s.DurationHours) |
                @item.SubmittedStudyHours.Where(m => m.ApproverId != null && m.IsProctored && m.DateTimeStudied >= Model.StartDate).Sum(s => s.DurationHours)
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Academics"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Account", new { userName = item.UserName }, new { })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
