@model MemberStudyHourAssignment

@{
    ViewBag.Title = "Unassign Member";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Are you sure you want to unassign @Model.AssignedMember.FirstName from this assignment?</h3>

            <dl class="dl-horizontal">
                <dt>Member</dt>
                <dd>@Model.AssignedMember</dd>

                <dt>Assignment</dt>
                <dd>@Model.Assignment.Start to @Model.Assignment.End</dd>

                <dt>Unproctored</dt>
                <dd>@Model.UnproctoredAmount</dd>

                <dt>Proctored</dt>
                <dd>@Model.ProctoredAmount</dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Unassign" class="btn btn-default" /> @:|
                @Html.ActionLink("Back to Assignment", "AssignmentInfo", new { id = Model.AssignmentId })
            }
        </div>
    </div>
</div>
