@model TrackerModel

@{
    ViewBag.Title = "Study Hour Tracker";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @if(Model.ThisSemester.StartDate >= DateTime.UtcNow)
            {
                <div class="alert alert-warning">
                    <strong>Study Hours have not started yet.</strong>
                    The weekly list is showing a list of members who are assigned study hours, but they do not have to be turned in yet. <br/>
                    Study Hours will be starting on 
                    <strong>
                        @Model.ThisSemester.StartDate.DayOfWeek,
                        @Model.ThisSemester.StartDate.ToShortDateString()
                    </strong>
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-heading">This Week</div>
                <div class="panel-body">
                    @Html.Partial("_StudyHourProgressPartial", Model.ThisWeek)
                </div>
                <div class="panel-footer">
                    <small>Unproctored | Proctored</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">This Semester</div>
                <div class="panel-body">
                    @Html.Partial("_StudyHourProgressPartial", Model.ThisSemester)
                </div>
                <div class="panel-footer">
                    <small>Unproctored | Proctored</small>
                </div>
            </div>
        </div>
    </div>
</div>

