@using Dsp.Web.Extensions
@model Dsp.Web.Areas.House.Models.MyWorkOrdersModel

<div class="panel panel-default">
    <div class="panel-heading">
        Your open work orders
    </div>
    @if (Model.CreatedWorkOrders.Any())
    {
        <ul class="list-group">
            @foreach (var w in Model.CreatedWorkOrders.OrderByDescending(w => w.GetDateTimeCreated()))
            {
                var commentLabelColor = w.Comments.Any() ? "#31708f" : "";
                var timeSinceCreation = (DateTime.UtcNow - w.GetDateTimeCreated()).ToUserFriendlyString();

                <a href="@Url.Action("View", new {id = w.WorkOrderId})" class="list-group-item">

                    <span class="badge" style="background-color: @commentLabelColor">
                        <i class="fa fa-comment"></i>  @w.Comments.Count
                    </span>
                    <h5 class="list-group-item-heading">
                        <small>#@w.WorkOrderId</small> @w.Title
                    </h5>
                    <p class="list-group-item-text">
                        opened @timeSinceCreation
                    </p>
                </a>
            }
        </ul>
    }
    else
    {
        <div class="panel-body">
            <p class="text-success">
                You don't have any open work orders.
            </p>
        </div>
    }
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Open work orders you're involved in
    </div>
    @if (Model.InvolvedWorkOrders.Any())
    {
        <ul class="list-group">
            @foreach (var w in Model.InvolvedWorkOrders.OrderByDescending(w => w.GetDateTimeCreated()))
            {
                var commentLabelColor = w.Comments.Any() ? "#31708f" : "";
                var timeSinceCreation = (DateTime.UtcNow - w.GetDateTimeCreated()).ToUserFriendlyString();

                <a href="@Url.Action("View", new {id = w.WorkOrderId})" class="list-group-item">

                    <span class="badge" style="background-color: @commentLabelColor">
                        <i class="fa fa-comment"></i>  @w.Comments.Count
                    </span>
                    <h5 class="list-group-item-heading">
                        <small>#@w.WorkOrderId</small> @w.Title
                    </h5>
                    <p class="list-group-item-text">
                        opened @timeSinceCreation
                    </p>
                </a>
            }
        </ul>
    }
    else
    {
        <div class="panel-body">
            <p class="text-success">
                You aren't participating in any open work orders.
            </p>
        </div>
    }
</div>