@model IEnumerable<Class>
@{
    ViewBag.Title = "Class Index";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if(ViewBag.Message.Length > 0)
            {
                <div class="alert alert-warning">
                    @ViewBag.Message
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("New Class", "Create") |
                    @Html.ActionLink("New Schedule", "CreateSchedule")
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CourseShorthand)</th>
                                <th>@Html.DisplayNameFor(model => model.CourseName)</th>
                                <th>@Html.DisplayNameFor(model => model.Department.DepartmentName)</th>
                                <th>Total Times Taken</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.CourseShorthand)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
                                    <td>@item.ClassesTaken.Count</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ClassId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>