@model Dsp.Entities.MealPeriod
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Meal Period";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker-build.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })
                    <div class="input-group date" id="dtp1">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime, new { @class = "control-label" })
                    <div class="input-group date" id="dtp2">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>

            }
        </div>
        <div class="col-sm-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <strong>Regarding Start and End Times</strong>
                </div>
                <div class="panel-body">
                    Ignore setting the date portion of the Start and End Times, as it is <strong>NOT</strong> used.
                    You only need to worry about the time portion.  <br /><br />
                    The times are used to just inform members looking at the meal schedule what time a specific meal period starts. <br /><br />
                    I.e., Breakfast (name) may be served from 8AM (start time) to 10AM (end time).
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/moment.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
@section scripts
{
    <script>
        $(function() {
            $("#dtp1").datetimepicker();
            $("#dtp2").datetimepicker();
        });
    </script>
}