@model IEnumerable<Dsp.Entities.MealPeriod>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Meal Periods";
}
@section styles {
    @Styles.Render("~/content/bootstrap-table")
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" role="group" aria-label="...">
                @{ Html.RenderPartial("~/Areas/Kitchen/Views/Shared/_MealsNavPartial.cshtml"); }
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", "MealPeriods", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table" data-classes="table table-condensed"
                           data-search="true" data-pagination="true" data-page-size="25" data-sort-name="name" data-sort-order="asc">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="name">Name</th>
                                <th class="col-sm-2" data-sortable="true" data-field="start-time">Start Time</th>
                                <th class="col-sm-2" data-sortable="true" data-field="end-time">End Time</th>
                                <th class="col-sm-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.StartTime.ToShortTimeString()</td>
                                    <td>@item.EndTime.ToShortTimeString()</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MealPeriodId })
                                        @if (!item.MealToPeriods.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MealPeriodId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/bootstrap-table")
}
