@model Dsp.Data.Entities.MajorToMember
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Unassign Member from Major";
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12">
            <a href="@Url.Action("Index", "Account", new {area = "Members", userName = Model.Member.UserName})" 
               class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to @Model.Member.FirstName's Profile
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="alert alert-danger">
                <p>Are you sure you want to take @Model.Member.FirstName out of the @Model.Major.MajorName (@Model.DegreeLevel) major?</p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Unassign" class="btn btn-default" /> 
                </div>
            }
        </div>
    </div>
</div>
