@model IEnumerable<Address>

@{
    ViewBag.Title = "Address Index";
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Status</th>
                                    <th>Address</th>
                                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Member.LastName, @item.Member.FirstName</td>
                                    <td>@item.Member.MemberStatus.StatusName</td>
                                    <td class="@(string.IsNullOrEmpty(item.Address1) ? "warning" : "")">
                                        @if (string.IsNullOrEmpty(item.Address1))
                                        {
                                            @:None entered.
                                                                              }
                                        else
                                        {
                                            @item.Address1@:,
                                        if (@item.Address2 != null)
                                        {
                                            @item.Address2@:,
                                        }
                                        @item.City@:, @item.State @item.PostalCode,
                                            @item.Country
                                        }
                                    </td>
                                    <td>@item.Type</td>
                                    <td>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || item.UserId == WebSecurity.CurrentUserId)
                                        {
                                            @Html.ActionLink("Edit", "Edit", "Addresses", new { id = item.AddressId }, null)
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>