@using DeltaSigmaPhiWebsite.Entities
@model IEnumerable<SoberSignup>
@{
    var dates = Model.Select(s => s.DateOfShift).Distinct();
}
<!-- Standard view. -->
<div class="hidden-xs hidden-md">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th colspan="2"><small>Next 7 Days</small></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td>No lifeguards on duty</td>
                </tr>
            }
            @foreach (var date in dates)
            {
                <tr>
                    <td colspan="2"><strong>@date.ToString("MM-dd") (@date.DayOfWeek.ToString().Substring(0, 3))</strong> <br /></td>
                </tr>
                foreach (var item in Model.Where(i => i.DateOfShift == date).OrderBy(s => s.SoberTypeId))
                {
                    <tr>
                        <td>
                            <small>@item.SoberType.Name</small>
                        </td>
                        <td>
                            <small>
                                @if (item.UserId == null)
                                {
                                    if (User.IsInRole("Pledge") && item.SoberType.Name == "Officer")
                                    {
                                        @: None
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Sign up", "Signup", "Sobers", new { id = item.SignupId, area = "Sphinx" }, null)
                                    }
                                }
                                else if (item.Member.UserName == User.Identity.Name || User.IsInRole("Administrator") || User.IsInRole("Sergeant-at-Arms"))
                                {
                                    using (Html.BeginForm("CancelSignup", "Sobers", new { id = item.SignupId, area = "Sphinx" },
                                        FormMethod.Get, new { style = "display: inline" }))
                                    {
                                        <button type="submit" class="btn btn-sm btn-link" style="padding: 0; color: #d9534f; display: inline">
                                            <i class="fa fa-minus-square"></i>
                                        </button>
                                        <a href="tel:@item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number">
                                            @item.Member.ToString()
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a href="tel:@item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number">
                                        @item.Member.ToString()
                                    </a>
                                }
                            </small>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<!-- Compact view. -->
<div class="visible-xs visible-md">
    <table class="table">
        <thead>
            <tr>
                <th><small>Next 7 Days</small></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td>No lifeguards on duty</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.UserId == null)
                    {
                        if (User.IsInRole("Pledge") && item.SoberType.Name == "Officer")
                        {
                            <td>
                                <small class="pull-right">
                                    @item.DateOfShift.ToString("MM-dd")
                                    (@item.DateOfShift.DayOfWeek.ToString().Substring(0, 3))
                                </small>
                                None <small>@item.SoberType.Name</small>
                            </td>
                        }
                        else
                        {
                            <td>
                                <small class="pull-right">
                                    @item.DateOfShift.ToString("MM-dd")
                                    (@item.DateOfShift.DayOfWeek.ToString().Substring(0, 3))
                                </small>
                                @Html.ActionLink("Sign up", "Signup", "Sobers", new { id = item.SignupId, area = "Sphinx" }, null) 
                                <small>@item.SoberType.Name</small>
                            </td>
                        }
                    }
                    else if (item.Member.UserName == User.Identity.Name || User.IsInRole("Administrator") || User.IsInRole("Sergeant-at-Arms"))
                    {
                        using (Html.BeginForm("CancelSignup", "Sobers", new { id = item.SignupId, area = "Sphinx" },
                            FormMethod.Get, new { style = "display: inline" }))
                        {
                            <td>
                                <small class="pull-right">
                                    @item.DateOfShift.ToString("MM-dd")
                                    (@item.DateOfShift.DayOfWeek.ToString().Substring(0, 3))
                                </small>
                                <button type="submit" class="btn btn-sm btn-link" style="padding: 0; color: #d9534f; display: inline">
                                    <i class="fa fa-minus-square"></i>
                                </button>
                                @item.Member.ToString()
                                <small>@item.SoberType.Name</small><br/>
                                <a href="tel:@item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number">
                                    @item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number
                                </a>
                            </td>
                        }
                    }
                    else
                    {
                        <td>
                            <small class="pull-right">
                                @item.DateOfShift.ToString("MM-dd")
                                (@item.DateOfShift.DayOfWeek.ToString().Substring(0, 3))
                            </small>
                            @item.Member.ToString()
                            <small>@item.SoberType.Name</small><br/>
                            <a href="tel:@item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number">
                                @item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
