@model DeltaSigmaPhiWebsite.Areas.Sphinx.Models.EditSoberSignupModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Sober Signup";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("EditSignup", "Sobers", FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        @Html.HiddenFor(m => m.SoberSignup.SignupId)
                        
                        <div class="form-group">
                            <h4>@Model.SoberSignup.Type on @Model.SoberSignup.DateOfShift.DayOfWeek, @Model.SoberSignup.DateOfShift.ToShortDateString()</h4>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.SelectedMember, new { @class = "control-label" })
                            @Html.DropDownListFor(m => Model.SelectedMember, Model.Members, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Assign" class="btn btn-default pull-right" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>