@model DeltaSigmaPhiWebsite.Areas.Sphinx.Models.SoberManagerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sober Manager";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <p>
                <a href="@Url.Action("Schedule", "Sobers", new { area = "Sphinx" })" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Sober Schedule
                </a>
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                <a href="@Url.Action("Index", "SoberTypes", new { area = "Sphinx" })" class="btn btn-sm btn-default">
                    Sober Types
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="#single-add" data-toggle="pill">Single-Add Tool</a></li>
                <li><a href="#multi-add" data-toggle="pill">Multi-Add Tool</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="single-add">
                    @using (Html.BeginForm("AddSignup", "Sobers", FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewSignup.SoberTypeId, new {@class = "control-label"})
                            @Html.DropDownListFor(m => m.NewSignup.SoberTypeId, Model.SignupTypes, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.NewSignup.SoberTypeId, "", new {@class = "text-danger"})
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewSignup.Description, new { @class = "control-label" })
                            @Html.EditorFor(m => m.NewSignup.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.NewSignup.Description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewSignup.DateOfShift, new { @class = "control-label" })
                            <div class="input-group date" id="dp1">
                                @Html.EditorFor(m => m.NewSignup.DateOfShift, new { htmlAttributes = new { @class = "form-control", type = "datetime", @Value = DateTime.UtcNow.ToShortDateString() } })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.NewSignup.DateOfShift, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-right">
                            <input type="submit" value="Submit" class="btn btn-success" />
                        </div>
                    }
                </div>
                <div class="tab-pane" id="multi-add">
                        @using (Html.BeginForm("MultiAddSignup", "Sobers", FormMethod.Post, new { @class = "", role = "form", id = "multi-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            
                            <div class="form-group">
                                <div class="alert alert-warning">
                                    <strong>How this works</strong>
                                    <hr/>
                                    The numbers of drivers and officers entered below 
                                    will be generated <em>for each</em> selected date. <br/>
                                    <small>
                                        Example: if you enter 2 for drivers, 3 for officers, and select 5 dates, a total of
                                        25 signups will be generated (each date will have 2 drivers and 3 officers: 5*(2+3) = <em>25</em>).
                                    </small> <br/>
                                    Note: This tool only works for the "Driver" and "Officer" sober types.
                                    If the "Driver" or "Officer" types have had their name changed in any way, the tool will fail.
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Number of Drivers", new { @class = "control-label" })
                                @Html.EditorFor(m => m.MultiAddModel.DriverAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter amount" } })
                                @Html.ValidationMessageFor(m => m.MultiAddModel.DriverAmount, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Number of Officers", new { @class = "control-label" })
                                @Html.EditorFor(m => m.MultiAddModel.OfficerAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter amount" } })
                                @Html.ValidationMessageFor(m => m.MultiAddModel.OfficerAmount, "", new { @class = "text-danger" })
                            </div>
                                    
                            <div class="form-group">
                                @Html.Label("Date Selection", new { @class = "control-label" })
                                <div class="input-group date" id="dp2">
                                    @Html.EditorFor(m => m.MultiAddModel.DateString, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.NewSignup.DateOfShift, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="form-group text-right">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Volunteers are still needed on the following dates:
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table" style="text-align:left">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Signups)
                            {
                                <tr>
                                    <td>@item.SoberType.Name</td>
                                    <td>@item.DateOfShift.ToShortDateString()</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $('#dp1').datepicker({
                orientation: "top left"
            });

            $('#dp2').datepicker({
                orientation: "top left",
                multidate: true
            });
        });

    </script>
}