@model DeltaSigmaPhiWebsite.Entities.StudyAssignment
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Unassign Member";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>
                <a href="@Url.Action("Info", "Periods", new { id = Model.PeriodId })" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Study Period
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                <p>Are you sure you want to take <strong>@Model.AssignedMember.FirstName</strong> off of this assignment?</p>
            </div>

            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>Member</dt>
                    <dd>@Model.AssignedMember</dd>

                    <dt>Assignment</dt>
                    <dd>@Model.Period.Start to @Model.Period.End</dd>

                    <dt>Unproctored</dt>
                    <dd>@Model.UnproctoredAmount</dd>

                    <dt>Proctored</dt>
                    <dd>@Model.ProctoredAmount</dd>
                </dl>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Unassign" class="btn btn-default" /> 
                </div>
            }
        </div>
    </div>
</div>
