@model IEnumerable<Dsp.Entities.MemberStatus>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Member Statuses";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr class="active">
                                <th>Name</th>
                                <th class="col-xs-1">Count</th>
                                <th class="col-xs-2"></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.StatusName</td>
                                <td>@item.Members.Count</td>
                                <td class="text-right">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.StatusId })
                                    @if (!item.Members.Any())
                                    {
                                        @:|
                                        @Html.ActionLink("Delete", "Delete", new { id = item.StatusId })
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
