@model IEnumerable<Semester>

@{
    ViewBag.Title = "Semester Index";
}
@section Title
{
    @Html.Partial("_Title")
}

@{ Html.RenderPartial("~/Views/Semester/Create.cshtml", new Semester()); }

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn-link" data-toggle="modal" data-target="#semesterCreateModal">Create New</button>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Semester</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateEnd)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.DateStart.Month < 6 ? "Spring" : "Fall") @item.DateStart.Year
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateEnd)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.SemesterId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.SemesterId })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
