@model IList<Dsp.Entities.MealToItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reorder Meal Items";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            @using (Html.BeginForm("Reorder", "Meals", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <h4>Meal Item</h4>
                    </div>
                    <div class="col-sm-9">
                        <h4>Order</h4>
                    </div>
                </div>

                for (var i = 0; i < Model.Count(); i++)
                {
                    <div class="form-group">
                        @Html.HiddenFor(m => Model[i].MealToItemId)
                        @Html.HiddenFor(m => Model[i].MealItemId)
                        @Html.HiddenFor(m => Model[i].MealId)
                        @Html.Label(Model[i].MealItem.Name, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-3">
                            @Html.EditorFor(model => Model[i].DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>

            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        
    </script>
}