@model Dsp.Areas.Edu.Models.StudyReportModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Study Report";
    ViewBag.Subtitle = Model.Semester;
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
    var periods = Model.Periods.OrderBy(p => p.BeginsOn);
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-sm-6">
            <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Dashboard
            </a>
        </div>
        <div class="col-sm-6">
            @if (Model.SemesterList.Any())
            {
                <div class="dropdown pull-right">
                    <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="semester-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Change Semester
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="semester-dropdown">
                        @foreach (var s in Model.SemesterList)
                        {
                            <li><a href="@Url.Action("Report", new { sid = s.Value })">@s.Text</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (Model.Periods.Any())
            {
                <div class="table-response">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr class="">
                                <th class="text-right"><small></small></th>
                                @foreach (var p in periods)
                                {
                                    var isCurrentPeriod = p.BeginsOn <= nowCst && nowCst <= p.EndsOn;

                                    <th class="text-center @(isCurrentPeriod ? "warning" : "active")">
                                        <small>
                                            <a href="@Url.Action("Period", new { id = p.Id })" 
                                               class="btn btn-xs btn-default">
                                                @p.BeginsOn.ToString("MM/dd")-@p.EndsOn.ToString("MM/dd")
                                            </a>
                                        </small>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.Records.OrderBy(m => m.Member.LastName))
                            {
                                var rPeriods = r.Periods.Select(s => s.Period);
                                <tr>
                                    <td class="text-right active"><small>@r.Member.ToString()</small></td>
                                    @foreach (var p in periods)
                                    {
                                        if (rPeriods.Contains(p))
                                        {
                                            var pRecord = r.Periods.Single(s => s.Period == p);
                                            var completed = pRecord.Completed / 60;
                                            var completedString = string.Format("{0:0.00}", completed);
                                            var goal = pRecord.Goal;
                                            var goalString = string.Format("{0:0.00}", goal);

                                            if (goal != 0)
                                            {
                                                var percentage = completed / goal;
                                                var color = 
                                                    percentage < 0 ? "info" : 
                                                    percentage >= 1 ? "success" : 
                                                    percentage >= 0.75 ? "warning" : 
                                                    "danger";

                                                <td class="@color">
                                                    <small>@completedString / @goalString</small>
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    No periods have been added yet.
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cell Color Meaning
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        No assignment
                    </div>
                    <div class="list-group-item list-group-item-danger">
                        [0, 75)% completion
                    </div>
                    <div class="list-group-item list-group-item-warning">
                        [75, 100)% completion
                    </div>
                    <div class="list-group-item list-group-item-success">
                        [100, &#8734;)% completion
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>