@model Dsp.WebCore.Areas.Sobers.Models.EditSoberSignupModel
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Edit Sober Signup";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                     @using (Html.BeginForm("EditSignup", "Schedule", FormMethod.Post, new { @class = "", role = "form" })) 
                     { 
                         @Html.AntiForgeryToken()   
                         @Html.ValidationSummary(true, "", new { @class = "text-danger" })   
                         @Html.HiddenFor(m => m.SoberSignup.SignupId)   
                         
                         <div class="form-group">
                            <h4>
                                @Model.SoberSignup.SoberType.Name <br />
                                <small>
                                    @Model.SoberSignup.DateOfShift.DayOfWeek,
                                    @Model.SoberSignup.DateOfShift.ToShortDateString()
                                </small>
                            </h4>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.SelectedMember, new { @class = "control-label" })
                            @Html.DropDownListFor(m => Model.SelectedMember, Model.Members,
                                    new { @class = "form-control selectpicker", autocomplete = "off", data_live_search = "true" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.SoberSignup.Description, new { @class = "control-label" })
                            @Html.EditorFor(m => Model.SoberSignup.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default float-end" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(function () {
            $("#class-dd").select2();
        });

    </script>
}