@model MealPeriodIndexModel
@{
    ViewBag.Title = "Meal Periods";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Index", "Meals")" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Meals
            </a>
        </div>
        <div class="col-lg-4 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", "MealPeriods", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr class="active">
                                <th>Name</th>
                                <th class="col-xs-2">Start Time</th>
                                <th class="col-xs-2">End Time</th>
                                <th class="col-xs-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TableContents)
                            {
                                var entity = item.Entity;
                                <tr>
                                    <td>@entity.Name</td>
                                    <td>@entity.StartTime.ToShortTimeString()</td>
                                    <td>@entity.EndTime.ToShortTimeString()</td>
                                    <td class="text-right">
                                        @if (item.AllowEdit)
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = entity.Id })
                                        }
                                        @if (item.AllowEdit && item.AllowDelete)
                                        {
                                            @: |
                                        }
                                        @if (item.AllowDelete)
                                        {
                                            @Html.ActionLink("Delete", "Delete", new { id = entity.Id })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
