@model Dsp.Entities.IncidentReport
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Incident Details";
    ViewBag.Subtitle = "Id: " + Model.IncidentId;
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                            <i class="fa fa-caret-left"></i> Back to Incident Reports
                        </a>
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    @if (User.IsInRole("Administrator") || User.IsInRole("Sergeant-at-Arms"))
                    {
                        <a href="@Url.Action("Edit", new { id = Model.IncidentId })" class="btn btn-sm btn-info">
                            <i class="fa fa-wrench"></i> Edit
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">@Model.PolicyBroken</div>
                <table class="table">
                    @if (User.IsInRole("Administrator") || User.IsInRole("President") || User.IsInRole("Sergeant-at-Arms"))
                    {
                        <tr class="">
                            <th><small>Incident Description</small></th>
                        </tr>
                        <tr>
                            <td>
                                <small>Incident Occurred on @Model.DateTimeOfIncident.ToShortDateString()</small><br/>
                                @Model.Description
                            </td>
                        </tr>
                    }
                    <tr class="">
                        <th><small>Official Report</small></th>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.OfficialReport))
                    {
                        <tr>
                            <td>@Model.OfficialReport</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="warning">
                            <td>No official report has been submitted yet.</td>
                        </tr>
                    }
                </table>
                <div class="panel-footer"><small>Submitted on @Model.DateTimeSubmitted.ToShortDateString()</small></div>
            </div>
        </div>
    </div>
</div>
