@model DeltaSigmaPhiWebsite.Entities.MealItem
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete Meal Item";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="alert alert-danger">
                <p>Are you sure you want to delete this?</p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <dl class="dl-horizontal">
                        <dt>Type</dt>
                        <dd>@Model.MealItemType.Name</dd>
                        <dt>Name</dt>
                        <dd>@Model.Name</dd>
                        <dt>Gluten Free</dt>
                        <dd>@Model.GetGlutenLabel()</dd>
                    </dl>
                </div>
                
                <input type="submit" value="Delete" class="btn btn-default" /> @:|
                @Html.ActionLink("Back to List", "Index")
            }
        </div>
    </div>
</div>
