@model IEnumerable<DeltaSigmaPhiWebsite.Entities.MealItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Meal Items";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink("Schedule", "Index", "MealSchedule", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-default" }) 
                @Html.ActionLink("Meals", "Index", "Meals", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-default" }) 
                @Html.ActionLink("Meal Items", "Index", "MealItems", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-default active" }) 
                @Html.ActionLink("Item Types", "Index", "MealItemTypes", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-default" }) 
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", "MealItems", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed" id="apps-table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Gluten Free</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MealItemType.Name</td>
                                    <td>@item.Name</td>
                                    <td>@item.GetGlutenLabel()</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MealItemId })
                                        @if (!item.MealToItems.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MealItemId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#apps-table').DataTable({
            pageLength: 10,
            lengthChange: false,
            "oLanguage": { "sSearch": "" },
            "order": [[0, "asc"], [1, "asc"]],
            "columnDefs": [
                { "width": "15%", "targets": 0 },
                { "width": "15%", "targets": 2 },
                { "width": "10%", "targets": 3 }
            ]
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}