@model Dsp.Entities.ScholarshipQuestion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="alert alert-danger">
                <p>Are you sure you want to delete this?</p>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Prompt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prompt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AnswerMinimumLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AnswerMinimumLength)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AnswerMaximumLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AnswerMaximumLength)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Delete" class="btn btn-default" /> @:|
                @Html.ActionLink("Back to List", "Index")
            }
        </div>
    </div>
</div>
