@model Dsp.Entities.ScholarshipQuestion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}
@section Title
{
    @Html.Partial("_Title")
}


<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back to List", "Index")
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Prompt)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Prompt)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AnswerMinimumLength)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AnswerMinimumLength)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AnswerMaximumLength)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AnswerMaximumLength)
                        </dd>
                        <dt>
                            <strong>Answers</strong>
                        </dt>
                        <dd>
                            @foreach (var answer in Model.Answers)
                            {
                                @answer.AnswerText @: (Length: @answer.AnswerText.Length)
                                <br/>
                                <hr/>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>