@model Dsp.Data.Entities.MealItem
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Meal Item";
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12">
            <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Items
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Type", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("MealItemTypeId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MealItemTypeId, "", new { @class = "text-danger" })
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Create" class="btn btn-default" />
            }
        </div>
    </div>

</div>