@using Dsp.Web.Areas.Admin.Models
@model IEnumerable<Dsp.Web.Entities.Semester>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Semesters";
}
@Styles.Render("~/content/datetimepicker")

@{ Html.RenderPartial("~/Areas/Admin/Views/Semesters/Create.cshtml", new CreateSemesterModel()); }

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6 text-right">
            <p>
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#semesterCreateModal">Create New</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr class="active">
                                <th>Semester</th>
                                <th>Pledge Class(es)</th>
                                <th>@Html.DisplayNameFor(model => model.DateStart)</th>
                                <th>@Html.DisplayNameFor(model => model.DateEnd)</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransitionDate)
                                    <a data-toggle="tooltip" data-placement="top"
                                       title="Date of chairmen power transfer">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </th>
                                <th>@Html.DisplayNameFor(model => model.MinimumServiceHours)</th>
                                <th>@Html.DisplayNameFor(model => model.MinimumServiceEvents)</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ToString()</td>
                                <td>
                                    @foreach (var pledgeClass in item.PledgeClasses)
                                    {
                                        if (item.PledgeClasses.ToList().IndexOf(pledgeClass) > 0)
                                        {
                                            @:|
                                            }

                                        @pledgeClass.PledgeClassName
                                    }
                                </td>
                                <td>@item.DateStart.ToString("MM/dd/yyyy")</td>
                                <td>@item.DateEnd.ToString("MM/dd/yyyy")</td>
                                <td>@item.TransitionDate.ToString("MM/dd/yyyy")</td>
                                <td>@item.MinimumServiceHours</td>
                                <td>@item.MinimumServiceEvents</td>
                                <td class="text-right">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.SemesterId })
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @:|
                                        @Html.ActionLink("Delete", "Delete", new { id = item.SemesterId })
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datetimepicker")
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $("#dtp1").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp2").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp3").datetimepicker({
                format: "MM/DD/YYYY"
            });
        });

    </script>
}