@model Dsp.Data.Entities.ScholarshipQuestion
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Scholarship Application Question Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Questions
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Prompt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prompt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AnswerMinimumLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AnswerMinimumLength)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AnswerMaximumLength)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AnswerMaximumLength)
                </dd>
                <dt>
                    <strong>Answers</strong>
                </dt>
                <dd>
                    @foreach (var answer in Model.Answers)
                    {
                        @answer.AnswerText @: (Length: @answer.AnswerText.Length)
                        <br />
                        <hr />
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>