@model IEnumerable<DeltaSigmaPhiWebsite.Entities.MealPeriod>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Meal Periods";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" role="group" aria-label="...">
                @{ Html.RenderPartial("~/Areas/Kitchen/Views/Shared/_MealsNavPartial.cshtml"); }
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", "MealPeriods", new { area = "Kitchen" }, new { @class = "btn btn-sm btn-success" }) 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed" id="apps-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.StartTime.ToShortTimeString()</td>
                                    <td>@item.EndTime.ToShortTimeString()</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MealPeriodId })
                                        @if (!item.MealToPeriods.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MealPeriodId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#apps-table').DataTable({
            pageLength: 10,
            lengthChange: false,
            "oLanguage": { "sSearch": "" },
            "order": [[1, "desc"]],
            "columnDefs": [
                { "width": "30%", "targets": 0 },
                { "width": "30%", "targets": 1 },
                { "width": "30%", "targets": 2 },
                { "width": "10%", "targets": 3 }
            ]
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}
