@model DeltaSigmaPhiWebsite.Areas.Service.Models.EventIndexFilterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Service Event Index";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @using (Html.BeginForm("Index", "Events", new { area = "Service" }, FormMethod.Get, new { @class = "form-inline", role = "form" }))
            {
                <div class="form-group">
                    @Html.DropDownListFor(s => s.SelectedSemester, Model.SemesterList, new { @class = "form-control" })

                    <input type="submit" value="Filter" class="btn btn-default" />
                    <br /><br />
                </div>
            }
        </div>
        <div class="col-xs-6 text-right">
            @Html.ActionLink("Create New", "Create", "Events", new { area = "Service" }, new { @class = "btn btn-sm btn-success text-right" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed" id="events-table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Date/Time</th>
                                <th>Event Name</th>
                                <th>Duration (Hrs)</th>
                                <th>Approved</th>
                                @if (User.IsInRole("Service") || User.IsInRole("Administrator"))
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Events)
                            {
                                <tr>
                                    <td>@TimeZoneInfo.ConvertTimeFromUtc(@item.DateTimeOccurred, cstZone).DayOfWeek.ToString().Substring(0, 3)</td>
                                    <td>@TimeZoneInfo.ConvertTimeFromUtc(@item.DateTimeOccurred, cstZone).ToString("yyyy-MM-dd hh:mm tt")</td>
                                    <td>@item.EventName</td>
                                    <td>@item.DurationHours</td>
                                    <td>@Html.DisplayFor(m => item.IsApproved)</td>
                                    @if (User.IsInRole("Service") || User.IsInRole("Administrator"))
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.EventId })
                                            @if (!item.ServiceHours.Any())
                                            {
                                                @:|
                                                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#events-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" },
            "order": [[1, "asc"]]
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}