@model Dsp.Data.Entities.ClassTaken

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Disenroll from Class";
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12">
            <a href="@Url.Action("Schedule", new { userName = Model.Member.UserName })" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to @Model.Member.FirstName's Schedule
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <p>Are you sure you want to delete this enrollment record?</p>
            </div>
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>Member</dt>
                    <dd>@Model.Member.FirstName @Model.Member.LastName</dd>
                    <dt>Semester</dt>
                    <dd>@Model.Semester.ToString()</dd>
                    <dt>Class</dt>
                    <dd>@Model.Class.CourseShorthand: @Model.Class.CourseName</dd>
                </dl>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.SemesterId)
                @Html.HiddenFor(m => m.ClassId)
                @Html.HiddenFor(m => m.IsSummerClass)
                @Html.HiddenFor(m => m.Class.CourseShorthand)
                @Html.HiddenFor(m => m.Semester.Id)
                @Html.HiddenFor(m => m.Semester.DateStart)
                @Html.HiddenFor(m => m.Semester.DateEnd)

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>