@model IList<Dsp.Web.Areas.Edu.Models.ClassTranscriptModel>
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Transcript";
    ViewBag.Subtitle = ViewBag.Name;
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12 text-right">
            <div class="btn-group" role="group" aria-label="...">
                @{ Html.RenderPartial("~/Areas/Edu/Views/Shared/_EduNavPartial.cshtml"); }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Transcript", "Classes", new { area = "Edu" }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel panel-default">
                    <div class="table-responsive ">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr class="active">
                                    <th class="col-sm-2">Semester</th>
                                    <th class="col-sm-2">Number</th>
                                    <th>Name</th>
                                    <th class="col-sm-1">Midterm</th>
                                    <th class="col-sm-1">Final</th>
                                    <th class="col-sm-1">Dropped</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Count(); i++)
                                {
                                    @Html.HiddenFor(m => Model[i].Member.UserName)
                                    @Html.HiddenFor(m => Model[i].ClassTaken.ClassId)
                                    @Html.HiddenFor(m => Model[i].ClassTaken.SemesterId)
                                    @Html.HiddenFor(m => Model[i].ClassTaken.UserId)
                                    @Html.HiddenFor(m => Model[i].ClassTaken.IsSummerClass)
                                    <tr>
                                        <td>
                                            @(Model[i].ClassTaken.IsSummerClass
                                                    ? "Summer " + Model[i].ClassTaken.Semester.DateStart.Year
                                                    : Model[i].ClassTaken.Semester.ToString())
                                        </td>
                                        <td>@Model[i].ClassTaken.Class.CourseShorthand</td>
                                        <td>@Model[i].ClassTaken.Class.CourseName</td>
                                        <td>
                                            @Html.DropDownListFor(m => Model[i].ClassTaken.MidtermGrade,
                                                    new SelectList(Model[i].Grades, "Value", "Text", Model[i].ClassTaken.MidtermGrade),
                                                    new { @class = "form-control", style = "width:auto" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => Model[i].ClassTaken.FinalGrade,
                                                    new SelectList(Model[i].Grades, "Value", "Text", Model[i].ClassTaken.FinalGrade),
                                                 new { @class = "form-control", style = "width:auto;" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => Model[i].ClassTaken.Dropped,
                                             new { htmlAttributes = new { @class = "form-control", style = "width:auto" } })
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Update</button>
            }
        </div>
    </div>
</div>
