@model ServiceNavModel
@{
    ViewBag.Subtitle = Model.SelectedSemester;
}

<div class="dropdown" style="margin-bottom: 20px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="semester-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        @Model.SemesterListLabel
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="semester-dropdown">
        @foreach (var s in Model.SemesterList)
        {
            var isActive = s.Value == Model.SelectedSemester.Id.ToString();

            <li><a href="@Url.Action("Index", new { sid = s.Value })" class="@(isActive ? "active" : "")">@s.Text</a></li>
        }
    </ul>
</div>

<div class="panel panel-default">
    <div class="list-group">
        <a href="@Url.Action("Index", "Hours", new { sid = Model.SelectedSemester.Id })"
           class="list-group-item @(ViewBag.Title.Contains("Hours") ? "active" : "")">
            Member Progress
        </a>
        <a href="@Url.Action("Index", "Events", new { sid = Model.SelectedSemester.Id })"
           class="list-group-item @(ViewBag.Title.Contains("Events") ? "active" : "")">
            Events
        </a>
        <a href="@Url.Action("Index", "Stats", new { sid = Model.SelectedSemester.Id })"
           class="list-group-item @(ViewBag.Title.Contains("Stats") ? "active" : "")">
            Stats
        </a>
        @if (Model.HasElevatedPermissions)
        {
            <a href="@Url.Action("Index", "Amendments", new { sid = Model.SelectedSemester.Id })"
               class="list-group-item @(ViewBag.Title.Contains("Amendments") ? "active" : "")">
                <i class="fa fa-fw fa-lock" data-toggle="tooltip" data-placement="right" title="For chairman only"></i> Amendments
            </a>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="list-group">
        <a href="@Url.Action("Submit", "Hours" , new { sid=Model.SelectedSemester.Id })"
           class="list-group-item">
            <i class="fa fa-fw fa-plus"></i> Submit Hours
        </a>
        <a href="@Url.Action("Create", "Events", new { sid = Model.SelectedSemester.Id })"
           class="list-group-item">
            <i class="fa fa-fw fa-plus"></i> Create Event
        </a>
    </div>
</div>
