@model IEnumerable<DeltaSigmaPhiWebsite.Entities.Position>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Positions Index";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            
        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table" data-classes="table table-condensed" 
                            data-search="true" data-pagination="true" data-page-size="50" data-sort-name="type,order" data-sort-order="asc">
                        <thead>
                            <tr>
                                <th class="col-sm-1" data-sortable="true" data-field="order">Order</th>
                                <th data-sortable="true" data-field="name">Name</th>
                                <th class="col-sm-1" data-sortable="true" data-field="type">Type</th>
                                <th class="col-sm-1" data-sortable="true" data-field="is-exec">Exec</th>
                                <th class="col-sm-1" data-sortable="true" data-field="is-elected">Elected</th>
                                <th class="col-sm-1" data-sortable="true" data-field="is-disabled">Disabled</th>
                                <th class="col-sm-1" data-sortable="true" data-field="is-public">Public</th>
                                <th class="col-sm-1" data-sortable="true" data-field="appointments-count">Appointments</th>
                                <th class="col-sm-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(p => p.PositionName != "Administrator").OrderBy(p => p.Type).ThenBy(p => p.DisplayOrder))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.DisplayOrder)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PositionName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsExecutive)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsElected)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsDisabled)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsPublic)</td>
                                    <td>@item.Leaders.Count()</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.PositionId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.PositionId }) 
                                        @if(!item.Leaders.Any())
                                        {
                                            @:|
                                            @Html.ActionLink("Delete", "Delete", new { id = item.PositionId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        


    </script>
}