@model IEnumerable<Leader>
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Chapter Contacts";
    ViewBag.Subtitle = (Model.First().Semester.DateStart.Month < 6 ? "Spring " : "Fall ") + Model.First().Semester.DateStart.Year;
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="Get in touch with one our leaders.">
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if (Model.Any(l => l.Position.IsPublic))
            {
                <div class="panel panel-default hidden-xs">
                    <div class="panel-heading"></div>
                    <div class="list-group">
                        @foreach (var leader in Model.Where(l => l.Position.IsPublic)
                            .OrderBy(l => l.Position.Type)
                            .ThenBy(l => l.Position.DisplayOrder))
                        {
                            <div class="list-group-item">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <img src="~/Images/Avatars/@(leader.Member.GetAvatarString())"
                                             height="35" width="35" class="img-circle" id="avatar" style=""/>
                                    </div>
                                    <div class="media-body">
                                        <div class="row" style="margin-top: 7px">
                                            <div class="col-sm-4">
                                                @leader.Member.ToString()
                                            </div>
                                            <div class="col-sm-3">
                                                <i class="fa fa-fw fa-envelope-o"></i>
                                                <a href="mailto:@leader.Member.Email">@leader.Member.Email</a>
                                            </div>
                                            <div class="col-sm-3">
                                                @leader.Position.Name
                                            </div>
                                            <div class="col-sm-2 text-right">
                                                @if (leader.Position.Name == "Vice President Growth")
                                                {
                                                    <i class="fa fa-fw fa-info-circle text-info" data-toggle="tooltip" data-placement="left"
                                                       title="Scholarship Inquiries">
                                                    </i>
                                                }
                                                else if (leader.Position.Name == "Director of Recruitment")
                                                {
                                                    <i class="fa fa-fw fa-info-circle text-info" data-toggle="tooltip" data-placement="left"
                                                       title="Membership Inquiries">
                                                    </i>
                                                }
                                                @if (leader.Position.IsExecutive)
                                                {
                                                    @: <i class="fa fa-fw fa-star text-warning"></i>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel-footer text-right">
                        <i class="fa fa-fw fa-star text-warning"></i> Executive position
                    </div>
                </div>
                <div class="list-group visible-xs">
                    @foreach (var leader in Model.Where(l => l.Position.IsPublic)
                            .OrderBy(l => l.Position.Type)
                            .ThenBy(l => l.Position.DisplayOrder))
                    {
                        <a href="mailto:@leader.Member.Email" class="list-group-item">
                            <strong>@leader.Position.Name</strong>
                            <i class="fa fa-envelope-o pull-right"></i> <br>
                            @leader.Member.FirstName @leader.Member.LastName
                            @if (leader.Position.Name == "Vice President Growth")
                            {
                                <span class="badge">
                                    Scholarship
                                </span>
                            }
                            else if (leader.Position.Name == "Director of Recruitment")
                            {
                                <span class="badge">
                                    Membership
                                </span>
                            }

                        </a>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <p>
                        Contact information for our leadership will be available as soon as appointments are made.
                        We apologize for the inconvenience. <br />
                    </p>
                </div>
            }
        </div>
    </div>
</div>