@model DeltaSigmaPhiWebsite.Areas.House.Models.RoomIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rooms";
    ViewBag.Subtitle = Model.Semester.ToString();
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <p>
                    <i class="fa fa-exclamation-triangle"></i>
                    <strong>Notice:</strong> What you're seeing is an experimental portion of the website that is not yet intended to be fully functional.
                    The reason it's accessible now is because it may still serve some useful purpose in the meantime, or because it's just neat as hell.
                    So enjoy the view, and please hold off on reporting things that don't work on this page until this message is removed.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @using (Html.BeginForm("Index", "Rooms", new { area = "House" }, FormMethod.Get, new { @class = "form-inline", role = "form" }))
            {
                <div class="form-group">
                    @Html.DropDownList("sid", Model.SemesterList, new { @class = "form-control" })

                    <input type="submit" value="Filter" class="btn btn-default" />
                </div>
            }
        </div>
        <div class="col-sm-6 text-right">
            <p>
                <a href="@Url.Action("Map", "Rooms", new { area = "House" })" class="btn btn-sm btn-default">
                    Map
                </a>
                @if (User.IsInRole("Administrator") || User.IsInRole("House Manager"))
                {
                    <a href="@Url.Action("Create", "Rooms", new {area = "House"})" class="btn btn-sm btn-success">
                        Add Room
                    </a>
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Room #</th>
                    <th>Capacity</th>
                    @if (User.IsInRole("Administrator") || User.IsInRole("House Manager"))
                    {
                        <th></th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var r in Model.Rooms.OrderBy(r => r.Name))
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.MaxCapacity</td>
                        @if (User.IsInRole("Administrator") || User.IsInRole("House Manager"))
                        {
                            <td class="text-right">
                                @Html.ActionLink("Edit", "Edit", new {id = r.RoomId})
                                @if (!r.Members.Any())
                                {
                                    @: |
                                    @Html.ActionLink("Delete", "Delete", new {id = r.RoomId})
                                }
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table table-condensed" style="height:500px">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.Members.OrderBy(m => m.PledgeClass.Semester.DateStart).ThenBy(m => m.LastName))
                    {
                        <tr>
                            <td>@m.FirstName</td>
                            <td>@m.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>

    </script>
}
