@using Dsp.Web.Extensions
@using Dsp.Web.Areas.Nme.Models
@using Microsoft.AspNet.Identity
@model BroQuestChallengeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "BroQuest Challenges";
    ViewBag.Subtitle = Model.Member + " | " + Model.Semester;
    var currentUserId = User.Identity.GetUserId<int>();
    var start = Model.Semester.QuestingBeginsOn.FromUtcToCst();
    var end = Model.Semester.QuestingEndsOn.FromUtcToCst();
    var interval = Model.Semester.MaxQuestChallengeMinutes;
    var headers = new List<DateTime>();
    if (start < DateTime.UtcNow.FromUtcToCst())
    {
        start = DateTime.UtcNow.FromUtcToCst().Date;
    }

    if (start.AddDays(14) < end.Date)
    {
        end = start.AddDays(13);
    }

    for (var rolling = start.Date; rolling <= end.Date; rolling = rolling.AddDays(1))
    {
        headers.Add(rolling);
    }
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-md-6">
            <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Index
            </a>
        </div>
        <div class="col-md-6 text-right">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-bordered"
                   style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">
                <thead style="user-select:none;">
                    <tr class="active">
                        @if (headers.Any())
                        {
                            <th></th>
                            foreach (var h in headers)
                            {
                                var color = string.Empty;
                                if (h.Date == DateTime.UtcNow.FromUtcToCst()) { color = "success"; }

                                <th class="@color text-center"><small>@h.ToString("ddd MM/dd")</small></th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 1440; i += 15)
                    {
                        var hour = ((i / 60) % 12).ToString("D2");
                        hour = hour == "00" ? "12" : hour;
                        var minute = (i % 60).ToString("D2");
                        var time = hour + ":" + minute;
                        if ((i / 60) < 12)
                        {
                            time += " am";
                        }
                        else
                        {
                            time += " pm";
                        }
                        <tr class="@(minute == "00" ? "active" : "")">
                            <td class="active text-right" style="user-select:none;">
                                <small>
                                    @if (minute == "00")
                                    {
                                        <strong>@time</strong>
                                    }
                                    else
                                    {
                                        @time
                                    }
                                </small>
                            </td>
                            @foreach (var h in headers)
                            {
                                TimeSpan elapsedSpan = new TimeSpan(h.AddMinutes(i).Ticks);

                                <td id="@elapsedSpan.TotalMinutes" onmousedown="clicked(this)"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        'use strict';
        var mid = @(Model.Member.Id);
        var nmid = @(currentUserId);
        var sid = @(Model.Semester.SemesterId);

        getChallenges(mid, sid);

        function getChallenges(m, s) {
            var uri = `/api/broquest/challenges/${m}/${s}`;
            $.get(uri, function (results) {
                var hasSelected = false;
                if(results.constructor !== Array) return;
                $("td").removeClass("info");
                $.each(results, function(i, slot){
                    var time = slot.time;
                    if(!hasSelected) {
                        if(!slot.isFull) {
                            $("#"+time).addClass("success");
                        } else {
                            $("#"+time).addClass("warning");
                        }
                    }
                    $("#"+time).text("");
                    $.each(slot.newMembers, function(k, nm) {
                        if(nm.item1 === nmid) {
                            hasSelected = true;
                            $("#"+time).addClass("info");
                        }
                        $("#"+time).append(`<small>${nm.item2}</small><br>`);
                    });
                });
                if(hasSelected) {
                    $("td").removeClass("success");
                    $("td").removeClass("warning");
                }
            })
            .fail(function (result) {
                console.log(result);
            });
        }

        function clicked(ele) {
            if($(ele).hasClass("success")) {
                acceptChallenge(ele.id, mid, nmid, sid);
            } else if($(ele).hasClass("warning")) {

            } else if($(ele).hasClass("info")) {
                unacceptChallenge(ele.id, mid, nmid, sid);
            }
        }

        function acceptChallenge(mins, mid, nmid, sid) {
            $.ajax({
                url: '/api/broquest/complete',
                type: 'PUT',
                data: { mins: mins, mid: mid, nmid: nmid, sid: sid },
                success: function (result) {
                    getChallenges(mid, sid);
                },
                error: function (result) {
                    //console.log(result);
                }
            });
        }

        function unacceptChallenge(mins, mid, nmid, sid) {
            $.ajax({
                url: '/api/broquest/complete',
                type: 'DELETE',
                data: { mins: mins, mid: mid, nmid: nmid, sid: sid },
                success: function (result) {
                    getChallenges(mid, sid);
                },
                error: function (result) {
                    //console.log(result);
                }
            });
        }

    </script>
}