@using Dsp.Web.Areas.Nme.Models
@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity;
@model BroQuestIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "BroQuest";
    ViewBag.Subtitle = "Member | " + Model.Semester;
    var currentUserId = User.Identity.GetUserId<int>();
    var hasElevatedPermissions = User.IsInRole("Administrator") || User.IsInRole("New Member Educator");
    var isActive = User.IsInRole("Active");
    var isPledge = User.IsInRole("Pledge");
    var userChallenges = Model.Member.QuestChallenges.Where(c => c.SemesterId == Model.Semester.SemesterId);
    var totalChallengeTime = userChallenges
        .Sum(c => (c.EndsOn - c.BeginsOn).TotalMinutes);
    var listCount = 0;

    var filter = new BroQuestIndexFilterModel
    {
        i = ViewBag.i,
        c = ViewBag.c
    };

    var incompleteFilter = new BroQuestIndexFilterModel(filter);
    var completeFilter = new BroQuestIndexFilterModel(filter);

    incompleteFilter.i = !filter.i;
    completeFilter.c = !filter.c;
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-md-3">
            <p id="time-left" class="hidden">
                
            </p>
        </div>
        <div class="col-md-3 text-right">
            @if (hasElevatedPermissions)
            {
                <a href="@Url.Action("Manager")" class="btn btn-sm btn-default">
                    <i class="fa fa-wrench"></i> Manager
                </a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            @using (Html.BeginForm("Index", "BroQuest", FormMethod.Get, new { @class = "form-inline" }))
                            {

                                <div class="btn-group" role="group" aria-label="...">
                                    @Html.ActionLink("Incomplete", "Index", "BroQuest", incompleteFilter, new
                                    {
                                        @class = "btn btn-default " + (ViewBag.i ? "active" : "")
                                    })
                                    @Html.ActionLink("Complete", "Index", "BroQuest", completeFilter, new
                                    {
                                        @class = "btn btn-default " + (ViewBag.c ? "active" : "")
                                    })
                                </div>
                            }
                        </div>
                        <div class="col-sm-6 text-sm-right">
                            <a href="@Url.Action("MyChallenges")" class="btn btn-sm btn-default">
                                <i class="fa fa-bolt"></i> My Challenges
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @if (Model.Members.Any())
                    {
                        <div class="progress" style="margin: 0;">
                            <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar"
                                 id="progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    }
                </div>
                <div class="list-group">
                    @foreach (var m in Model.Members.OrderBy(o => o.LastName).ThenBy(o => o.FirstName))
                    {
                        var nmCompletions = m.QuestCompletions.Where(c => c.Challenge.SemesterId == Model.Semester.SemesterId);
                        var nmChallenges = nmCompletions.Select(c => c.Challenge);
                        string statusIcon = "fa-circle text-danger";
                        string statusText = "Unchallenged";

                        if (nmChallenges.Any(c => c.Member.Id == currentUserId))
                        {
                            statusIcon = "fa-check";
                            if (nmChallenges.Any(c => c.EndsOn < DateTime.UtcNow))
                            {
                                if (!ViewBag.c)
                                {
                                    continue;
                                }

                                statusIcon += " text-success";
                                statusText = "Complete";
                            }
                            else
                            {
                                statusIcon += " text-warning";
                                statusText = "Challenge Accepted";
                            }
                        }
                        else if (!ViewBag.i) // Don't display incomplete members if the button is set as such.
                        {
                            continue;
                        }
                        listCount++;

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Index", "Account", new {userName = m.UserName, area = "Members"})">
                                        @m.ToString()
                                    </a>
                                </div>
                                <div class="col-md-6 text-right">
                                    <small id="status-@m.Id">
                                        @statusText <i class="fa fa-fw @statusIcon"></i>
                                    </small>
                                    @if (statusText == "Unchallenged")
                                    {
                                        <button class="btn btn-xs btn-success" id="mark-@m.Id" 
                                                onclick="markComplete(@currentUserId, @m.Id, @Model.Semester.SemesterId)"
                                                data-toggle="tooltip" data-placement="top" title="Mark as complete"> 
                                            <i class="fa fa-check"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if(listCount == 0)
                    {
                        <div class="list-group-item list-group-item-warning">
                            No results
                        </div>
                    }
                </div>
                <div class="panel-footer">
                    <span data-toggle="tooltip" data-placement="top" title="New members">
                        <i class="fa fa-users"></i>
                        @listCount
                    </span>
                    <span data-toggle="tooltip" data-placement="top" title="Hours you have been available">
                        <i class="fa fa-calendar"></i>
                        @((totalChallengeTime / 60).ToString("N2"))
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        'use strict';
        var userId = @currentUserId;
        getTimeLeft();
        getProgress();

        function setTimeLeft(label) {
            $("#time-left").text(label);
            $("#time-left").removeClass("hidden");
        }

        function getTimeLeft() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/api/broquest/timeleft", true);
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        setTimeLeft(xhr.responseText.replace(/['"]+/g, ''));
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };
            xhr.onerror = function (e) {
                console.error(xhr.statusText);
            };
            xhr.send(null);
        }

        function setProgress(label) {
            var p = Number(label);
            if (p > 100) p = 100;
            else if (p < 0) p = 0;
            $("#progress").text(label + "%");
            $("#progress").width(label+"%");
            $("#progress").removeClass("hidden");
        }

        function getProgress() {
            var xhr = new XMLHttpRequest();
            var url = "/api/broquest/progress/"+userId;
            xhr.open("GET", url, true);
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        setProgress(xhr.responseText);
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };
            xhr.onerror = function (e) {
                console.error(xhr.statusText);
            };
            xhr.send(null);
        }

        function markComplete(mid, nmid, sid)
        {
            $.ajax({
                url: '/api/broquest/complete',
                type: 'POST',
                data: { mid: mid, nmid: nmid, sid: sid },
                success: function (result) {
                    $("#mark-"+nmid).remove();
                    $(".tooltip").remove();
                    var template = 'Complete <i class="fa fa-fw fa-check"></i>';
                    $("#status-"+nmid).html(template);
                    getProgress();
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }
    </script>
}