@model IEnumerable<DeltaSigmaPhiWebsite.Entities.ClassTaken>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                Classes
                @if (Model.Any())
                {
                    if (Model.Select(m => m.SemesterId).Distinct().Count() == 1)
                    {
                    @: | @Model.First().Semester.ToString()
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel-body">
        @if (Model.Any())
        {
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Semester</th>
                            <th>Course</th>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Academics"))
                            {

                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Semester.ToString()</td>
                                <td>@item.Class.CourseShorthand - @item.Class.CourseName</td>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Academics"))
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "EditClassTaken", "Classes",
                                    new { id = item.UserId, sid = item.SemesterId, cid = item.ClassId, username = item.Member.UserName }, null)
                                        | @Html.ActionLink("Delete", "DeleteFromSchedule", "Classes",
                                    new { id = item.UserId, sid = item.SemesterId, cid = item.ClassId, username = item.Member.UserName }, null)
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            @: No classes added!
        }
    </div>
    <div class="panel-footer">
        Total Credit Hours: @Model.Sum(c => c.Class.CreditHours)
    </div>
</div>
