@model DeltaSigmaPhiWebsite.Areas.Edu.Models.ClassScheduleModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create New Schedule";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-sm-6">
            <div class="hidden">
                @Html.DropDownList("Classes", new SelectList(Model.AllClasses, "ClassId", "CourseShorthand"), new { @class = "form-control", id="classes" })
            </div>
            @using (Html.BeginForm("CreateSchedule", "Classes", FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        @Html.ActionLink("New Class", "Create") | 
                        @Html.ActionLink("Class Index", "Index")
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(m => Model.SelectedSemester, new { @class = "control-label" })
                            @Html.DropDownListFor(m => Model.SelectedSemester, Model.Semesters, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.SelectedMember, new { @class = "control-label" })
                            @Html.DropDownListFor(m => Model.SelectedMember, Model.Members, new { @class = "form-control" })
                        </div>
                        <table class="table table-responsive table-condensed" id="class-table">
                            <thead>
                                <tr>
                                    <th>Classes</th>
                                    <th>
                                        <p class="pull-right" style="margin: 0">
                                            <a id="add-class" href="#">Add</a> | 
                                            <a id="delete-class" href="#">Delete</a>
                                        </p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ClassesTaken.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.DropDownListFor(m => Model.ClassesTaken[i].ClassId,
                                                new SelectList(Model.AllClasses, "ClassId", "CourseShorthand"),
                                                new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => Model.ClassesTaken[i].Instructor, new { htmlAttributes = new { @class = "form-control", placeholder = "Instructor (optional)" } })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="panel-footer">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function addRow() {
                var rowCount = $('#class-table tr').length - 1;
                var html = '<tr>' +
                            '<td>' +
                    '<select class="form-control valid" ' +
                            'data-val="true" data-val-number="The field ClassId must be a number." ' +
                            'data-val-required="The ClassId field is required." id="ClassesTaken_' + rowCount + '__ClassId" ' +
                            'name="ClassesTaken[' + rowCount + '].ClassId" aria-required="true" ' +
                            'aria-invalid="false" aria-describedby="ClassesTaken_' + rowCount + '__ClassId-error ClassesTaken_' + rowCount + '__ClassId-error">' +
                    $('#classes').html() +
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control text-box single-line" ' +
                            'data-val="true" data-val-length="The field Instructor must be a string with a maximum length of 40." ' +
                            'data-val-length-max="40" ' +
                            'id="ClassesTaken_' + rowCount + '__Instructor" ' +
                            'name="ClassesTaken[' + rowCount + '].Instructor" ' +
                            'placeholder="Instructor (optional)" type="text" value="">' +
                    '</td>' +
                    '</tr>';
                $(html).appendTo($("#class-table"));
            };
            $("#add-class").click(addRow);
            
            function removeTableRow() {
                $('#class-table tr:last').remove();
            }
            $("#delete-class").click(removeTableRow);
        });
    </script>

}
