@model IEnumerable<DeltaSigmaPhiWebsite.Entities.Class>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Class Index";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            @if (ViewBag.Message.Length > 0)
            {
                <div class="alert alert-warning">
                    @ViewBag.Message
                </div>
            }
        </div>
        <div class="col-xs-4 text-right">
            <div class="form-group">
                @Html.ActionLink("Add Class", "Create", null, new { @class = "btn btn-sm btn-success" }) 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table" data-toggle="table" data-classes="table table-condensed" 
                            data-search="true" data-pagination="true" data-page-size="25">
                        <thead>
                            <tr>
                                <th data-sortable="true">@Html.DisplayNameFor(model => model.CourseShorthand)</th>
                                <th data-sortable="true">@Html.DisplayNameFor(model => model.CourseName)</th>
                                <th data-sortable="true">@Html.DisplayNameFor(model => model.Department.DepartmentName)</th>
                                <th data-sortable="true">Total Times Taken</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CourseShorthand</td>
                                    <td>@item.CourseName</td>
                                    <td>@item.Department.DepartmentName</td>
                                    <td>@item.ClassesTaken.Count</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }) 
                                        @if(User.IsInRole("Administrator") || User.IsInRole("Academics") && !item.ClassesTaken.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ClassId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

    </script>
}