@model DeltaSigmaPhiWebsite.Areas.Edu.Models.ClassScheduleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Class Schedule";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag != null && ViewBag.Message.Length > 0)
            {
                <div class="alert alert-warning">
                    @ViewBag.Message
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.ActionLink("Back to Roster", "Index", "Roster", new { area = "Members" }, null)
        </div>
        <div class="col-xs-6 text-right">
            @if (User.IsInRole("Administrator") || User.IsInRole("Academics") || User.Identity.Name == Model.SelectedUserName)
            {
                @Html.ActionLink("Transcript", "Transcript", "Classes", new {userName = Model.SelectedUserName, area = "Edu"}, new {@class = ""})
            }
        </div>
        <br />
        <br />
    </div>
    <div class="row">
        @if (User.IsInRole("Administrator") || User.IsInRole("Academics") || User.Identity.Name == Model.SelectedUserName)
        {
            <div class="col-xs-12 col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Add a New Class
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("AddClassTaken", "Classes", FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => Model.ClassTaken.UserId)
                            @Html.HiddenFor(m => Model.SelectedUserName)
                
                            <div class="form-group">
                                @Html.Label("Semester", new { @class = "control-label" })
                                @Html.DropDownListFor(m => Model.ClassTaken.SemesterId, Model.Semesters, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @{
                                    var list = Model.AllClasses.Select(c => new { ClassId = c.ClassId, Text = c.CourseShorthand + ": " + c.CourseName });
                                }

                                @Html.Label("Class", new { @class = "control-label" })
                                @Html.DropDownListFor(m => Model.ClassTaken.ClassId,
                                    new SelectList(list, "ClassId", "Text"),
                                    new { @class = "form-control", autocomplete = "off", id="class-dd" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Instructor (optional)", new { @class = "control-label" })
                                @Html.EditorFor(m => Model.ClassTaken.Instructor, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            </div>
                            
                            <div class="checkbox form-group">
                                <label class="control-label">
                                    @Html.EditorFor(model => Model.ClassTaken.IsSummerClass)
                                    Summer Class
                                </label>
                            </div>
                
                            <button type="submit" class="btn btn-success">Add</button>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="col-xs-12 col-sm-7">
            @{ Html.RenderPartial("~/Areas/Edu/Views/Classes/_ClassSchedulePartial.cshtml", Model.ClassesTaken); }
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#class-dd").select2();
        });

    </script>
}