@model Dsp.Areas.Members.Models.RosterIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Roster";
    ViewBag.Subtitle = Model.Semester.ToString();

    var pledgeCount = Model.Members.Count(m => m.PledgeClass.SemesterId == Model.SelectedSemester);
    var activeCount = Model.Members.Count(m => m.PledgeClass.SemesterId != Model.SelectedSemester);
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12">
            @using (Html.BeginForm("Index", "Roster", new { area = "Members" }, FormMethod.Get, new { @class = "form-inline", role = "form" }))
            {
                <div class="form-group">
                    @Html.DropDownList("sid", Model.Semesters,
                    new
                    {
                        @class = "selectpicker",
                        autocomplete = "off",
                        id = "semester-dd",
                        data_live_search = "true"
                    })
                    <input type="submit" value="Filter" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="badge">Total: @Model.Members.Count()</span>
                            <div class="label label-default"
                                 data-toggle="tooltip"
                                 date-placement="top"
                                 title="Actives + Neophyte(s)">@activeCount
                            </div>|<div class="label label-default"
                                 data-toggle="tooltip"
                                 data-placement="top"
                                 title="Pledges">@pledgeCount</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a class="" href="@Url.Action("Download", "Roster", new {area = "Members"})">
                                <i class="fa fa-download fa-lg"></i>
                            </a>
                            @if (User.IsInRole("Secretary") || User.IsInRole("Administrator"))
                            {
                                @:|
                                @Html.ActionLink("Initiate Pledges", "InitiatePledges")
                            }
                        </div>
                    </div>
                </div>
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th class="">First</th>
                        <th class="">Last</th>
                        <th class="">Email</th>
                        <th class="">Current Status</th>
                        <th class="">P. Class</th>
                        <th class="">Graduating</th>
                        <th class="">Big Bro</th>
                        <th class="">Room</th>
                        <th class="">Shirt</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Members.Any())
                    {
                        foreach (var item in Model.Members.OrderBy(m => m.LastName).ThenBy(m => m.FirstName))
                        {
                            <tr class="@(item.MemberStatus.StatusName == "Released" ? "danger" : "")">
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td><a href="mailto:@item.Email">@item.Email</a></td>
                                <td>@item.MemberStatus.StatusName</td>
                                <td>
                                    &@(item.PledgeClass.PledgeClassName.Contains("Alpha") ? "Alpha" : item.PledgeClass.PledgeClassName);
                                </td>
                                <td>
                                    @item.GraduationSemester.DateStart.Year
                                    @(item.GraduationSemester.DateStart.Month < 6 ? "Spring " : "Fall ")
                                </td>
                                <td>
                                    @if (item.BigBroId != null)
                                    {
                                        @item.BigBrother.FirstName@:
                                        @item.BigBrother.LastName[0]
                                        @:.
                                    }
                                    else
                                    {
                                        @:None
                                    }
                                </td>
                                <td>@(item.RoomString())</td>
                                <td>@item.ShirtSize</td>
                                <td class="text-right">
                                    @Html.ActionLink("Classes", "Schedule", "Classes", new {userName = item.UserName, area = "Edu"}, null) |
                                    @Html.ActionLink("Profile", "Index", "Account", new {userName = item.UserName, area = "Members"}, null)
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Secretary"))
                                    {
                                        @: |
                                        @Html.ActionLink("Edit", "Edit", "Account", new {userName = item.UserName, area = "Members"}, null)
                                    }
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
