@model Dsp.Areas.Edu.Models.ClassIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Classes";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
                @{ Html.RenderPartial("~/Areas/Edu/Views/Shared/_EduNavPartial.cshtml"); }
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <p>
                @Html.ActionLink("Add Class", "Create", null, new {@class = "btn btn-sm btn-success"})
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table" data-toggle="table" data-classes="table table-condensed" 
                            data-search="true" data-pagination="true" data-page-size="25" data-sort-name="class-number">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="class-number">Class #</th>
                                <th data-sortable="true">Name</th>
                                <th data-sortable="true">Enrollment <small>(all-time)</small></th>
                                <th data-sortable="true">Enrollment <small>(current)</small></th>
                                <th data-sortable="true">Files</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Classes)
                            {
                                <tr>
                                    <td>@item.CourseShorthand</td>
                                    <td>@item.CourseName</td>
                                    <td>@item.ClassesTaken.Count</td>
                                    <td>@item.ClassesTaken.Count(c => c.SemesterId == Model.CurrentSemester.SemesterId)</td>
                                    <td>@item.ClassFiles.Count</td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.ClassId }) | 
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }) 
                                        @if(User.IsInRole("Administrator") || User.IsInRole("Academics") && !item.ClassesTaken.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ClassId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
@section scripts
{
    <script type="text/javascript">

    </script>
}