@model Dsp.Data.Entities.Fundraiser
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Fundraiser Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p>
                <a href="@Url.Action("Details", "Causes",  new { id = Model.CauseId })" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Cause
                </a>
            </p>
        </div>
        <div class="col-md-3 text-right">
            <p>
                <a href="@Url.Action("Create", "Donations", new { fid = Model.Id })" class="btn btn-sm btn-success">
                    Add Donation
                </a>
                <a href="@Url.Action("Edit", "Fundraisers", new { id = Model.Id })" class="btn btn-sm btn-info">
                    Edit
                </a>
                @if (!Model.Donations.Any())
                {
                    <a href="@Url.Action("Delete", "Fundraisers", new { id = Model.Id })" class="btn btn-sm btn-danger">
                        Delete
                    </a>
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>@Html.DisplayNameFor(model => model.BeginsOn)</dt>
                    <dd>@Html.DisplayFor(model => model.BeginsOn)</dd>
                    <dt>@Html.DisplayNameFor(model => model.EndsOn)</dt>
                    <dd>@Html.DisplayFor(model => model.EndsOn)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Goal)</dt>
                    <dd>@Model.Goal.ToString("C2")</dd>
                    <dt>Promised</dt>
                    <dd>@Model.Donations.Sum(m => m.Amount).ToString("C2")</dd>
                    <dt>Received</dt>
                    <dd>@Model.Donations.Where(m => m.ReceivedOn != null).Sum(m => m.Amount).ToString("C2")</dd>
                    <dt>Donations</dt>
                    <dd>
                        @if (Model.Donations.Any())
                        {
                            foreach (var s in Model.Donations.OrderByDescending(m => m.ReceivedOn))
                            {
                                var label = string.Format("{0} {1} ({2:C2})", s.FirstName, s.LastName, s.Amount);

                                if (User.IsInRole("Administrator") || User.IsInRole("Treasurer"))
                                {
                                    <small>
                                        <a href="@Url.Action("Details", "Donations", new { id = s.Id })">@label</a>
                                    </small>
                                }
                                else
                                {
                                    <small>@label</small>
                                }
                                <br />
                            }
                        }
                        else
                        {
                            @: No donations
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
