@model Dsp.Entities.MajorToMember
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Unassign Member from Major";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="alert alert-danger">
                <p>Are you sure you want to delete this?</p>
            </div>
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>Member</dt>
                    <dd>@Model.Member.ToString()</dd>
                    <dt>Major</dt>
                    <dd>@Html.DisplayFor(m => m.Major.MajorName)</dd>
                    <dt>Degree Level</dt>
                    <dd>@Html.DisplayFor(m => m.DegreeLevel)</dd>
                </dl>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Delete" class="btn btn-default" /> @:|
                @Html.ActionLink("Back to Profile", "Index", "Account", new { area = "Members", userName = Model.Member.UserName }, null)
            }
        </div>
    </div>
</div>
