@model Dsp.Web.Areas.Sobers.Models.SoberReportModel
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Sober Report";
    ViewBag.Subtitle = Model.Semester;
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-md-6">
            <a href="@Url.Action("Index", "Schedule")" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Sober Schedule
            </a>
            <hr class="visible-xs visible-sm"/>
        </div>
        <div class="col-md-6 text-right">
            <a href="@Url.Action("Download", new { sid = Model.Semester.SemesterId })"
               class="btn btn-sm btn-default" style="margin-right: 5px">
                <i class="fa fa-download"></i> Download
            </a>
            <div class="dropdown pull-right">
                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="semester-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Change Semester
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="semester-dropdown">
                    @foreach (var s in Model.SemesterList)
                    {
                        <li><a href="@Url.Action("Report", new { SelectedSemester = s.Value})">@s.Text</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr class="active">
                                <th class="col-xs-2">First Name</th>
                                <th class="col-xs-2">Last Name</th>
                                <th class="col-xs-1">Driver</th>
                                <th class="col-xs-1">Officer</th>
                                <th class="col-xs-1">Other</th>
                                <th class="">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.Members.OrderByDescending(o =>
                                o.SoberSignups.Count(s =>
                                    s.DateOfShift >= Model.Semester.DateStart &&
                                    s.DateOfShift <= Model.Semester.DateEnd)))
                            {
                                var driverSignups = m.SoberSignups.Count(s => s.SoberType.Name == "Driver" &&
                                                                              s.DateOfShift >= Model.Semester.DateStart &&
                                                                              s.DateOfShift <= Model.Semester.DateEnd);
                                var officerSignups = m.SoberSignups.Count(s => s.SoberType.Name == "Officer" &&
                                                                               s.DateOfShift >= Model.Semester.DateStart &&
                                                                               s.DateOfShift <= Model.Semester.DateEnd);
                                var otherSignups = m.SoberSignups.Count(s => s.SoberType.Name != "Driver" &&
                                                                             s.SoberType.Name != "Officer" &&
                                                                             s.DateOfShift >= Model.Semester.DateStart &&
                                                                             s.DateOfShift <= Model.Semester.DateEnd);
                                var totalSignups = m.SoberSignups.Count(s => s.DateOfShift >= Model.Semester.DateStart &&
                                                                             s.DateOfShift <= Model.Semester.DateEnd);
                                <tr>
                                    <td>@m.FirstName</td>
                                    <td>@m.LastName</td>
                                    <td>@driverSignups</td>
                                    <td>@officerSignups</td>
                                    <td>@otherSignups</td>
                                    <td>
                                        @if (totalSignups > 0)
                                        {
                                            <span class="badge" style="background-color: #31708f">
                                                @totalSignups
                                            </span>
                                        }
                                        else
                                        {
                                            <i class="fa fa-frown-o fa-lg text-danger"></i>
                                        }
                                        @for (var i = 0; i < driverSignups; i++)
                                        {
                                            <i class="fa fa-car text-primary"></i>
                                        }
                                        @for (var i = 0; i < officerSignups; i++)
                                        {
                                            <i class="fa fa-fire-extinguisher text-primary"></i>
                                        }
                                        @for (var i = 0; i < otherSignups; i++)
                                        {
                                            <i class="fa fa-beer text-primary"></i>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
