@model IEnumerable<PhoneNumber>

@{
    ViewBag.Title = "Phone Number Index";
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed" id="phone-table">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Status</th>
                                    <th>Phone Number</th>
                                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Member.LastName, @item.Member.FirstName</td>
                                    <td>@item.Member.MemberStatus.StatusName</td>
                                    <td class="@(string.IsNullOrEmpty(item.Number) ? "warning" : "")">
                                        @if (string.IsNullOrEmpty(item.Number))
                                        {
                                            @:None entered.
                                        }
                                        else
                                        {
                                            @item.Number
                                        }
                                    </td>
                                    <td>@item.Type</td>
                                    <td>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || item.UserId == WebSecurity.CurrentUserId)
                                        {
                                            @Html.ActionLink("Edit", "Edit", "PhoneNumbers", new { id = item.PhoneNumberId }, null)
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $('#phone-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}