@model PhoneIndexFilterModel

@{
    ViewBag.Title = "Phone Number Index";

    var mobile = Model.PhoneNumbers.Where(m => m.Type == "Mobile");
    var emergency = Model.PhoneNumbers.Where(m => m.Type == "Emergency");
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a class="pull-right" href="@Url.Action("Download", "PhoneNumbers")">
                <i class="fa fa-download fa-2x"></i>
            </a>
            @using (Html.BeginForm("Index", "PhoneNumbers", FormMethod.Get, new { @class = "", role = "form" }))
            {
                <input type="submit" value="Filter" class="btn btn-default" />

                <div class="checkbox-inline" style="margin-left:10px">
                    <label>
                        @Html.CheckBoxFor(model => model.Pledges)
                        <small>Pledges</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.EditorFor(model => model.Neophytes)
                        <small>Neophytes</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.EditorFor(model => model.Actives)
                        <small>Actives</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.EditorFor(model => model.Alumni)
                        <small>Alumni</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.EditorFor(model => model.Affiliates)
                        <small>Affiliates</small>
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.EditorFor(model => model.Released)
                        <small>Released</small>
                    </label>
                </div>
                <br /><br />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="#mobile" data-toggle="pill">Mobile</a></li>
                <li><a href="#emergency" data-toggle="pill">Emergency</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="mobile">
                    <br />
                    <div class="table-responsive">
                        <table class="table table-condensed" id="mobile-phone-table">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Status</th>
                                    <th>Phone Number</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in mobile)
                            {
                                <tr>
                                    <td>@item.Member.LastName, @item.Member.FirstName</td>
                                    <td>@item.Member.MemberStatus.StatusName</td>
                                    <td class="@(string.IsNullOrEmpty(item.Number) ? "warning" : "")">
                                        @if (string.IsNullOrEmpty(item.Number))
                                        {
                                            @:None entered.
                                        }
                                        else
                                        {
                                            <a href="tel:@item.Number">
                                                @item.Number
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || item.UserId == WebSecurity.CurrentUserId)
                                        {
                                            <a class="" href="@Url.Action("Edit", "PhoneNumbers", new { id = item.PhoneNumberId })">
                                                <i class="fa fa-pencil fa-lg"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="emergency">
                    <br />
                    <div class="table-responsive">
                        <table class="table table-condensed" id="emergency-phone-table">
                            <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Status</th>
                                    <th>Phone Number</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in emergency)
                            {
                                <tr>
                                    <td>@item.Member.LastName, @item.Member.FirstName</td>
                                    <td>@item.Member.MemberStatus.StatusName</td>
                                    <td class="@(string.IsNullOrEmpty(item.Number) ? "warning" : "")">
                                        @if (string.IsNullOrEmpty(item.Number))
                                        {
                                            @:None entered.
                                        }
                                        else
                                        {
                                            <a href="tel:@item.Number">
                                                @item.Number
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || item.UserId == WebSecurity.CurrentUserId)
                                        {
                                            <a class="" href="@Url.Action("Edit", "PhoneNumbers", new { id = item.PhoneNumberId })">
                                                <i class="fa fa-pencil fa-lg"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $('#mobile-phone-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });
        $('#emergency-phone-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');

    </script>
}