@model SoberSignup

<div class="panel panel-default">
    <div class="panel-heading">
        Request a sober member
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("RequestSoberMember", "Sphinx", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfShift, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DateOfShift, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfShift, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        }
    </div>
</div>
