@model IEnumerable<SoberSignup>

<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th colspan="5">Sober Schedule <small>(Next 7 Days)</small></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td>No lifeguards on duty</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.DateOfShift.DayOfWeek.ToString().Substring(0, 3)</td>
                    <td>@item.DateOfShift.ToShortDateString()</td>
                    @if (item.UserId == null)
                    {
                        <td>None</td>
                        <td></td>
                    }
                    else
                    {
                        <td>@item.Member.ToString()</td>
                        <td class="hidden-xs">
                            @item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number
                        </td>
                        <td class="visible-xs">
                            <a href="tel:@item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number">
                                @item.Member.PhoneNumbers.Single(m => m.Type == "Mobile").Number
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>