@model SphinxModel

@{
    ViewBag.Title = "Sphinx";
}

@{const int descriptionLength = 25;}

<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                @if (Model.ProfilePicUrl != String.Empty)
                {
                    <h1>
                        <img src="@Model.ProfilePicUrl" alt="fb pic" class="img-thumbnail">
                        @ViewBag.Title
                    </h1>
                }
                else
                {
                    <h1>@ViewBag.Title</h1>
                }
            </div>
            <div class="col-md-8 text-right">
                <p class="text-warning">@ViewBag.FailMessage</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Service Hours Sections-->
            <div class="row-fluid">
                <h3>Your Service Hours <small>this semester</small></h3>
                @if (Model.SoberSignedUp.Count == 0)
                {
                    <div class="alert alert-warning">
                        You haven't signed up to sober drive!  <a href="@Url.Action("SoberSchedule", "Sphinx")">Sign up</a>
                    </div>
                }
                @if (!Model.ServiceModel.CompletedEvents.Any() && !Model.SoberSignedUp.Any())
                {
                    <p>No service hours submitted</p>
                }
                else
                {
                    <table class="table table-condensed table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Hours</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @foreach (var submission in Model.ServiceModel.CompletedEvents)
                        {
                            <tr>
                                <td>@submission.EventName</td>
                                <td>@submission.HoursComplete Hours</td>
                                @if (submission.Approval)
                                {
                                    <td class="text-success">Approved</td>
                                }
                                else
                                {
                                    <td class="text-warning">Disapproved</td>
                                }
                            </tr>
                        }
                        @foreach (var item in Model.SoberSignedUp)
                        {
                            <tr>
                                <td>
                                    Sober @item.SoberType on @item.Shift.ToShortDateString()
                                </td>
                                @if (@item.SoberType == "Driver")
                                {
                                    <td>5 Hours</td>
                                }
                                else
                                {
                                    <td>n/a</td>
                                }
                                @if (item.Shift < DateTime.Now)
                                {
                                    <td class="text-success">Completed</td>
                                }
                                else
                                {
                                    <td class="text-warning">Pending</td>
                                }
                            </tr>
                        }
                    </table>
                }
            </div>
            <!-- Study Hours Section -->
            <div class="row-fluid">
                <h3>Your Study Hours <small>this week</small></h3>
                @if (!Model.StudyHours.Any())
                {
                    <p>You haven't turned in any study hours yet for approval. >:O</p>
                }
                else
                {
                    <table class="table table-condensed table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Date &amp; Time</th>
                                <th>IsProctored</th>
                                <th>IsApproved</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        @foreach (var studyHour in Model.StudyHours)
                        {
                            <tr>
                                <td>@studyHour.DateTimeStudied</td>
                                <td>@studyHour.IsProctored</td>
                                <td>@studyHour.IsApproved</td>
                                <td>@studyHour.DurationHours</td>
                            </tr>
                        }
                    </table>
                }
            </div>
            <div class="row-fluid">
                <h3>Pending Study Hours <small>this week</small></h3>
                @if (!Model.StudyApproval.Any())
                {
                    <p>No one has requested any approvals from you. :'(</p>
                }
                else
                {
                    <table class="table table-condensed table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Submitted by</th>
                                <th>Date &amp; time</th>
                                <th>Hours</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @foreach (var studyApproval in Model.StudyApproval)
                        {
                            <tr>
                                <td>@studyApproval.Member.FirstName @studyApproval.Member.LastName</td>
                                <td>@studyApproval.DateTimeStudied</td>
                                <td>@studyApproval.DurationHours</td>
                                <td>@studyApproval.IsApproved</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
        <!-- Sober Section -->
        <div class="col-md-4">
            <a href="@Url.Action("SubmitStudy", "Sphinx")" id="study-dialog-link" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="These are the remaining required study hours for this week.">
                <span class="badge">
                    <span class="glyphicon glyphicon-pencil"></span>
                    @Model.RemainingStudyHours
                </span>
                <span>Study</span>
            </a>
            <a href="@Url.Action("SubmitService", "Sphinx")" id="service-dialog-link" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="These are the remaining required service hours for this semester.">
                <span class="badge">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Model.RemainingCommunityServiceHours
                </span>
                <span>Serve</span>
            </a>
            <br />
            <br />
            <div id="service-form" style="display: none">@{Html.RenderAction("SubmitService");}</div>
            <div id="study-form" style="display: none">@{Html.RenderAction("SubmitStudy");}</div>
            <div class="well">
                <h3 style="margin-top: 0;">Sober Driver(s)</h3>
                <table class="table table-condensed table-striped table-responsive">
                    @foreach (var item in Model.FullSoberSchedule.Where(item => item.SoberType == "Driver"))
                    {
                        <tr>
                            <td>
                                @item.Shift.ToShortDateString()
                            </td>
                            <td>
                                @item.Shift.DayOfWeek
                            </td>
                            <td>
                                @item.Name
                            </td>
                        </tr>
                    }
                </table>
                <h3 style="margin-top: 0;">Sober Officers(s)</h3>
                <table class="table table-condensed">
                    @foreach (var item in Model.FullSoberSchedule.Where(item => item.SoberType == "Officer"))
                    {
                        <tr>
                            <td>
                                @item.Shift.ToShortDateString()
                            </td>
                            <td>
                                @item.Shift.DayOfWeek
                            </td>
                            <td>
                                @item.Name
                            </td>
                        </tr>
                    }
                </table>
                <h3 style="margin-top: 0;">Laundry</h3>
                <p>
                    @Model.LaundrySummary
                </p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            //$("#DateTimeStudied").removeClass("text-box single-line").addClass("form-control");

            // Handles the click of the "Serve" link (appears as a button)
            $("#service-dialog-link").on("click", function (e) {
                // Required to bind button click to this action
                e.preventDefault();
                // Determine current visibility of dialogs and handle it for proper display
                $("#study-form").hide();
                $("#service-form").toggle("slide", { direction: 'up' }, 600);
            });

            // Handles the click of the "Study" link (appears as a button)
            $("#study-dialog-link").on("click", function (e) {
                // Required to bind button click to this action
                e.preventDefault();
                $("#service-form").hide();
                $("#study-form").toggle("slide", { direction: 'up' }, 600);
            });
        });

    </script>
}