@model SphinxModel

@{
    ViewBag.Title = "Sphinx";
}

@{const int descriptionLength = 25;}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    @if (User.IsInRole("Active") || User.IsInRole("Neophyte") || User.IsInRole("Active"))
    {
        <div class="row">
            <div class="col-md-7">
                <!-- Service Hours Sections-->
                <div class="row-fluid">
                    <h3>Your Service Hours <small>this semester</small></h3>
                    @if (Model.NeedsToSoberDrive)
                    {
                        <div class="alert alert-warning">
                            You haven't signed up to sober drive!  <a href="@Url.Action("SoberSchedule", "Sphinx")">Sign up</a>
                        </div>
                    }
                    @if (!Model.CompletedEvents.Any() && Model.NeedsToSoberDrive)
                    {
                        <p>No service hours submitted</p>
                    }
                    else
                    {
                        <table class="table table-condensed table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Event</th>
                                    <th>Hours</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.CompletedEvents)
                            {
                                <tr>
                                    <td>@item.Event.EventName</td>
                                    <td>@item.DurationHours Hours</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
                <!-- Study Hours Section -->
                <div class="row-fluid">
                    <h3>Your Study Hours <small>this week</small></h3>
                    @if (!Model.StudyHours.Any())
                    {
                        <p>You haven't turned in any study hours yet for approval. >:O</p>
                    }
                    else
                    {
                        <table class="table table-condensed table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Date &amp; Time</th>
                                    <th>IsProctored</th>
                                    <th>IsApproved</th>
                                    <th>Hours</th>
                                </tr>
                            </thead>
                            @foreach (var studyHour in Model.StudyHours)
                            {
                                <tr>
                                    <td>@studyHour.DateTimeStudied</td>
                                    <td>@studyHour.IsProctored</td>
                                    <td>@studyHour.IsApproved</td>
                                    <td>@studyHour.DurationHours</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
            <div class="col-md-5">
                <div class="btn-group">
                    <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#serviceHourModal" data-placement="top"
                            title="These are the remaining required service hours for this semester." id="serviceHourModalToggle">
                        <span class="badge">
                            <span class="glyphicon glyphicon-plus"></span>
                            @Model.RemainingCommunityServiceHours
                        </span>
                        <span>Serve</span>
                    </button>
                    <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#studyHourModal" data-placement="top"
                            title="These are the remaining required study hours for this week." id="studyHourModalToggle">
                        <span class="badge">
                            <span class="glyphicon glyphicon-pencil"></span>
                            @Model.RemainingStudyHours
                        </span>
                        <span>Study</span>
                    </button>
                </div>

                <br />
                <br />
                @{ Html.RenderAction("SubmitService", "Service"); }
                @{ Html.RenderAction("SubmitStudy"); }

                @Html.Partial("_SoberSchedulePartial", Model.SoberSignups)
                
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th colspan="5">Laundry Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>@Model.LaundrySummary</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    else if (User.IsInRole("Alumnus"))
    {
        <p>Alumni content is forthcoming.</p>
    }
    else if (User.IsInRole("Affiliate"))
    {
        <p>Affiliate content is forthcoming.</p>
    }
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $('#serviceHourModalToggle').tooltip();
            $("#studyHourModalToggle").tooltip();
        });

    </script>
}