@model IEnumerable<SoberSignup>
@{
    ViewBag.Title = "Sober Schedule";
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <strong>Notice!</strong> Make sure you @Html.ActionLink("set your mobile phone number", "Index", "Account")!
            </div>
            <div class="panel panel-default">
                @if (User.IsInRole("Administrator") || User.IsInRole("Sergeant-at-Arms"))
                {
                    <div class="panel-heading">
                        @if(Model.Any())
                        {
                            @: Sign up for sober duty below.
                        }
                        else
                        {
                            @: No shifts have been added yet.
                        }
                        @Html.ActionLink("Manage", "SoberScheduleManager", "Sphinx", new { @class = "pull-right" })
                    </div>
                }
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed" id="schedule-table">
                            <thead>
                                <tr>
                                    <th>Requested</th>
                                    <th>Volunteer</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.OrderBy(s => s.DateOfShift))
                            {
                                <tr>
                                    <td>@item.Type</td>
                                    @if (item.UserId == null)
                                    {
                                        <td>None</td>
                                    }
                                    else
                                    {
                                        <td>@item.Member.ToString()</td>
                                    }
                                    <td>@item.DateOfShift.ToShortDateString()</td>
                                    <td>
                                        @if (item.UserId == null)
                                        {
                                            if (!User.IsInRole("Pledge") || item.Type != SoberSignupType.Officer)
                                            {
                                                @Html.ActionLink("Sign up", "SoberSignup", new {id = item.SignupId})
                                            }
                                        }
                                        else if (item.Member.UserName == User.Identity.Name || User.IsInRole("Administrator") || User.IsInRole("Sergeant-at-Arms"))
                                        {
                                            using (Html.BeginForm("SoberSignupCancel", "Sphinx", new { id = item.SignupId },
                                                FormMethod.Get, new { style = "display: inline" }))
                                            {
                                                @item.Member.ToString()
                                                <button type="submit" class="btn btn-sm btn-link" style="padding:0; color:red; display:inline">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            @item.Member.ToString()
                                        }
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Sergeant-at-Arms"))
                                        {
                                            @:|
                                            @Html.ActionLink("Delete", "SoberSignupDelete", new { id = item.SignupId })
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#schedule-table').DataTable({
            pageLength: 25,
            lengthChange: false,
            "oLanguage": { "sSearch": "" },
            "order": [[2, "asc"], [0, "asc"]]
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}
