@using Dsp.Web.Areas.Admin.Models
@model AppointmentModel
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Appointments";
    ViewBag.Subtitle = Model.Semester;
}

<div class="container-fluid">
    <div class="row row-space no-print">
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="semester-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Change Semester
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="semester-dropdown">
                    @foreach (var s in Model.SemesterList)
                    {
                        <li><a href="@Url.Action("Appointments", new { sid = s.Value })">@s.Text</a></li>
                    }
                </ul>
                <i id="loading" class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
        <div class="col-md-4 text-right">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <ul class="list-group">
                    @foreach(var p in Model.Positions)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    @p.Name
                                </div>
                                <div class="col-md-3">
                                    <small id="@p.Id-type">@p.Type</small>
                                </div>
                                <div id="@p.Id" class="leader col-md-5">
                                    
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        'use strict';
        var semester = @Model.Semester.SemesterId;
        var actives = [];
        var alumni = [];
        actives = getRoster("roster");
        alumni = getRoster("alumni");

        function appoint(m, p, s) {
            $.ajax({
                url: '/api/admin/appoint',
                type: 'POST',
                data: { UserId: m, RoleId: p, SemesterId: s},
                success: function (result) {
                    loadLeader(p);
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }

        function appointChange(p, s) {
            var selection = $(`#${p}-select option:selected`);
            appoint(selection.val(), p, s);
        }

        function unappoint(m, p, s) {
            var sure = confirm("Are you sure you want to unappoint this member?");
            if (!sure) return;
            $.ajax({
                url: '/api/admin/appoint',
                type: 'DELETE',
                data: { UserId: m, RoleId: p, SemesterId: s },
                success: function (result) {                    
                    loadSelectList(p);
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }

        function loadSelectList(pid) {
            $("#" + pid).html(`<select id="${pid}-select" class="form-control" onchange="appointChange(${pid}, ${semester})"></select>`);
            var dd = $(`#${pid}-select`);
            var type = $(`#${pid}-type`);
            var list = actives;
            if (type.html() === "Alumni") list = alumni;
            $.each(list, function () {
                if ($.isEmptyObject(this)) {
                    dd.append($("<option />").val(-1).text("-- Choose a member --"));
                } else {
                    dd.append($("<option />").val(this.id).text(this.firstName + " " + this.lastName));
                }
            });
        }

        function loadLeader(id) {
            var uri = `/api/admin/appoint/${semester}/${id}`;
            $.get(uri)
            .done(function (result) {
                if (!result || typeof result !== 'object')
                {
                    loadSelectList(id);
                    return;
                }
                var template = `
                    <button onclick="unappoint(${result.mid}, ${result.pid}, ${result.sid})"
                            class="btn btn-xs btn-danger pull-right">
                        <i class="fa fa-times"></i>
                    </button>
                    ${result.name}
                `;
                $("#" + result.pid).html(template);
            })
            .fail(function (result) {
                console.log(result);
            });
        }

        function getRoster(type) {
            var uri = `/api/members/${type}/${semester}`;
            $.get(uri, function (result) {
                if (type === "alumni") {
                    alumni = [{}].concat(result);
                } else {
                    actives = [{}].concat(result);
                }
            })
            .fail(function (result) {
                console.log(result);
            })
            .always(function () {
                loadLeaders();
            });
        }

        function loadLeaders() {
            $("#loading").show();
            $(".leader").each(function (i, v) {
                loadLeader(v.id);
            });
            $("#loading").hide();
        }
    </script>
}