@model DeltaSigmaPhiWebsite.Areas.Members.Models.RosterIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Roster";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    @using (Html.BeginForm("Index", "Roster", FormMethod.Get, new { @class = "", role = "form" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                Filter Options
            </div>
            <div class="panel-body">
                <div class="row">
                    <br />
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.SearchModel.SelectedStatusId, Model.SearchModel.Statuses, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.SearchModel.SelectedPledgeClassId, Model.SearchModel.PledgeClasses, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.SearchModel.SelectedGraduationSemesterId, Model.SearchModel.Semesters, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <div class="radio" style="margin:0">
                            <label>
                                <input type="radio" name="SearchModel.LivingType" id="SearchModel.LivingType.Both" value="Both" checked>
                                <small>Both</small>
                            </label>
                        </div>
                        <div class="radio" style="margin:0">
                            <label>
                                <input type="radio" name="SearchModel.LivingType" id="SearchModel.LivingType.InHouse" value="InHouse">
                                <small>In-House</small>
                            </label>
                        </div>
                        <div class="radio" style="margin:0">
                            <label>
                                <input type="radio" name="SearchModel.LivingType" id="SearchModel.LivingType.OutOfHouse" value="OutOfHouse">
                                <small>Out-of-House</small>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" value="Filter" class="btn btn-default text-center" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="" href="@Url.Action("Download", "Roster", new { area = "Members" })">
                        <i class="fa fa-download fa-lg"></i>
                    </a>
                    @if(User.IsInRole("Secretary") || User.IsInRole("Administrator"))
                    {
                        @:|
                        @Html.ActionLink("Initiate Pledges", "InitiatePledges")
                        <i class="fa fa-bicycle"></i>
                    }
                    <table class="table table-condensed" id="roster-table">
                        <thead>
                            <tr>
                                <th>First</th>
                                <th>Last</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>P. Class</th>
                                <th>Graduating</th>
                                <th>Big Bro</th>
                                <th>Room</th>
                                <th>Shirt</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Members.Any())
                            {
                                foreach (var item in Model.Members)
                                {
                                    <tr>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td><a href="mailto:@item.Email">@item.Email</a></td>
                                        <td>@item.MemberStatus.StatusName</td>
                                        <td>@item.PledgeClass.PledgeClassName</td>
                                        <td>@item.GraduationSemester.ToString()</td>
                                        <td>
                                            @if (item.BigBroId != null)
                                            {
                                                @item.BigBrother.FirstName
                                                @: 
                                                @item.BigBrother.LastName[0]
                                                @:.
                                            }
                                            else
                                            {
                                                @:None
                                            }
                                        </td>
                                        <td>@item.RoomString()</td>
                                        <td>@item.ShirtSize</td>
                                        <td>
                                            @Html.ActionLink("Classes", "Schedule", "Classes", new { userName = item.UserName, area = "Edu" }, null) |
                                            @Html.ActionLink("Profile", "Index", "Account", new { userName = item.UserName, area = "Members" }, null) 
                                            @if (User.IsInRole("Administrator") || User.IsInRole("Secretary"))
                                            {
                                                @: |
                                                @Html.ActionLink("Edit", "Edit", "Account", new { userName = item.UserName, area = "Members" }, null) 
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $('#roster-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}