@model AccountInformationModel
@{
    ViewBag.Title = "Account Profile";
    ViewBag.Subtitle = Model.User.ToString();

    // Permissions
    var isAdmin = Model.Roles.Any(r => r == "Administrator");
    var isCurrentUser = User.GetUserId() == Model.User.Id;
    var isSecretary = isAdmin;
    var isAcademic = isAdmin;
    var isHousing = isAdmin;
    var isMember = isAdmin;

    if (!isAdmin)
    {
        foreach (var r in Model.Roles)
        {
            switch (r)
            {
                case "Administrator": break;
                case "Secretary": isSecretary = true; break;
                case "Academics": isAcademic = true; break;
                case "House Manager": isHousing = true; break;
                case "Active": isMember = true; break;
                case "New": isMember = true; break;
                case "Neophyte": isMember = true; break;
                case "Alumnus": isMember = true; break;
                case "Advisor": isMember = true; break;
                default: break;
            }
        }
    }

    var showEdit = isSecretary || isAcademic || isHousing || isCurrentUser;
    var canModifyMajor = isAcademic || isSecretary || isCurrentUser;
    var canModifyPhoneNumbers = isSecretary || isCurrentUser;
    var canModifyAddresses = isSecretary || isCurrentUser;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-2">
            <partial name="~/Areas/Members/Views/Shared/_AccountNavPartial.cshtml" />
        </div>
        <div class="col-md-8 col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> Information
                    @if (showEdit)
                    {
                        <a href="@Url.Action("Edit", "Account", new { userName = Model.User.UserName })"
                           class="btn btn-xs btn-default float-end"
                           data-toggle="tooltip" data-placement="left"
                           title="Edit Profile">
                            <i class="fa fa-pencil"></i>
                        </a>
                    }
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="col-xs-3 active">User Name</td>
                            <td>@Model.User.UserName</td>
                        </tr>
                        <tr>
                            <td class="active">Email</td>
                            <td>@Model.User.Email</td>
                        </tr>
                        <tr>
                            <td class="active">Status</td>
                            <td>@Model.User.Status.StatusName</td>
                        </tr>
                        @if (isMember)
                        {
                            if (Model.User.PledgeClass != null)
                            {
                                var pledgeClassLetters = Model.User.PledgeClass.GetLetters();
                                <tr>
                                    <td class="active">Pledge Class</td>
                                    <td>
                                        @Html.Raw(pledgeClassLetters)
                                        <i data-toggle="tooltip" data-placement="left"
                                           title="@Model.User.PledgeClass.PledgeClassName"
                                           class="fa fa-question-circle float-end">
                                        </i>
                                    </td>
                                </tr>
                            }
                            if (Model.User.ExpectedGraduation != null)
                            {
                                <tr>
                                    <td class="active">Graduation</td>
                                    <td>@Model.User.ExpectedGraduation.ToString()</td>
                                </tr>
                            }
                            <tr>
                                <td class="active">
                                    @(Model.User.Majors.Count <= 1 ? "Major" : "Majors")
                                    @if (canModifyMajor)
                                    {
                                        <a href="@Url.Action("Assign", "Majors", new { area = "School", id = Model.User.Id })" class="float-end">
                                            <i class="fa fa-plus-circle text-success" data-toggle="tooltip" data-placement="top"
                                               title="Add a new major"></i>
                                        </a>
                                    }
                                </td>
                                <td class="@(Model.User.Majors.Any() ? "" : "warning")">
                                    @if (Model.User.Majors.Any())
                                    {
                                        foreach (var m in Model.User.Majors)
                                        {
                                            @m.Major.MajorName
                                            @:(@m.DegreeLevel)
                                            if (canModifyMajor)
                                            {
                                                <a href="@Url.Action("Unassign", "Majors", new { area = "School", id = m.MajorToMemberId })"
                                                   class="float-end">
                                                    <i class="fa fa-minus-circle text-danger" data-toggle="tooltip" data-placement="left"
                                                       title="Remove this major"></i>
                                                </a>
                                            }
                                            <br />
                                        }
                                    }
                                </td>
                            </tr>
                            if (Model.User.Rooms.Any())
                            {
                                var counter = 0;
                                foreach (var r in Model.User.Rooms.OrderByDescending(s => s.MovedOut))
                                {
                                    counter++;
                                    <tr>
                                        @if (counter == 1)
                                        {
                                            <td class="active" rowspan="@(Model.User.Rooms.Count)">Residences</td>
                                        }
                                        <td>
                                            @r.Room.Name (@r.GetSemester())
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="active">Residences</td>
                                    <td class="warning"></td>
                                </tr>
                            }
                            <tr>
                                <td class="active">Big Bro</td>
                                <td class="@(Model.User.BigBro == null ? "warning" : "")">
                                    @(Model.User.BigBro == null ? "" : Model.User.BigBro.ToString())
                                </td>
                            </tr>
                            <tr>
                                <td class="active">Dietary Instructions</td>
                                <td>@Model.User.DietaryInstructions</td>
                            </tr>
                        }
                        <tr class="active">
                            <td colspan="2">
                                <small><i class="fa fa-phone-square"></i> Phone Numbers</small>
                            </td>
                        </tr>
                        @if(Model.User.PhoneNumber != null)
                        {
                            <tr>
                                <td class="active">Primary Phone</td>
                                <td class="">
                                    <a href="tel:@Model.User.PhoneNumber">
                                        @Model.User.PhoneNumber
                                    </a>
                                </td>
                            </tr>
                        }
                        @if (Model.User.EmergencyPhoneNumber != null)
                        {
                            <tr>
                                <td class="active">Emergency Contact</td>
                                <td class="">
                                    <a href="tel:@Model.User.EmergencyPhoneNumber">
                                        @Model.User.EmergencyContact
                                        (Relation: @(Model.User.EmergencyRelation ?? "Unknown"))
                                        (@Model.User.PhoneNumber)
                                    </a>
                                </td>
                            </tr>
                        }
                        <tr class="active">
                            <td colspan="2">
                                <small><i class="fa fa-envelope"></i> Addresses</small>
                            </td>
                        </tr>
                        @foreach (var item in Model.User.Addresses)
                        {
                            <tr>
                                <td class="active">@item.Type</td>
                                <td class="@(!item.IsFilledOut() ? "warning" : "")">
                                    @if (item.IsFilledOut())
                                    {
                                        <small>
                                            @item.Address1,
                                            @if (@item.Address2 != null)
                                            {
                                                @item.Address2@:,
                                            }
                                            @item.City, @item.State @item.PostalCode, @item.Country
                                        </small>
                                    }
                                    @if (canModifyAddresses)
                                    {
                                        <a href="@Url.Action("Edit", "Addresses", new { id = item.AddressId })"
                                           class="btn btn-xs btn-default float-end"
                                           data-toggle="tooltip" data-placement="left"
                                           title="Edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (isMember)
        {
            <div class="col-md-8 col-md-offset-4 col-lg-5 col-lg-offset-0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-graduation-cap"></i> <small>Schedule - @Model.CurrentSemester</small>
                            </div>
                            <div class="col-xs-6 text-right">
                                <small>
                                    @Html.ActionLink("All Classes", "Schedule", "Classes", new { userName = Model.User.UserName, area = "School" }, new { @class = "" })
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="active @(Model.ThisSemesterCourses.Any() ? "" : "hidden")">
                                    <td>Course</td>
                                    <td>
                                        Brothers
                                        <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                                           title="Number of other brothers taking this class this semester"></i>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ThisSemesterCourses.Any())
                                {
                                    foreach (var item in Model.ThisSemesterCourses.Where(c => !c.IsSummerClass))
                                    {
                                        var broCount = item.Class.ClassesTaken.Count(c => c.SemesterId == Model.CurrentSemester.Id) - 1;

                                        <tr>
                                            <td>@item.Class.CourseShorthand - @item.Class.CourseName</td>
                                            <td>
                                                @Html.ActionLink(broCount.ToString(), "Details", "Classes", new { area = "School", id = item.ClassId }, null)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="warning">
                                        <td colspan="2">No classes added!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer @(Model.ThisSemesterCourses.Any(c => !c.IsSummerClass) ? "" : "hidden")">
                        <small>Credit Hours: @Model.ThisSemesterCourses.Where(c => !c.IsSummerClass).Sum(c => c.Class.CreditHours)</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
