@model IEnumerable<PhoneNumber>

@{
    ViewBag.Title = "Phone Number Index";
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Member</th>
                                <th>Status</th>
                                <th>Phone Number</th>
                                <th>@Html.DisplayNameFor(model => model.Type)</th>
                                <th></th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Member.LastName, @item.Member.FirstName</td>
                                <td>@item.Member.MemberStatus.StatusName</td>
                                <td class="@(string.IsNullOrEmpty(item.PhoneNumber1) ? "warning" : "success")">
                                    @if (string.IsNullOrEmpty(item.PhoneNumber1))
                                    {
                                        @:None entered.
                                    }
                                    else
                                    {
                                        @item.PhoneNumber1
                                    }
                                </td>
                                <td>@item.Type</td>
                                <td>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Secretary") || item.UserId == WebSecurity.CurrentUserId)
                                    {
                                        @Html.ActionLink("Edit", "Edit", "PhoneNumber", new { id = item.PhoneNumberId }, null)
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>