@model IEnumerable<DeltaSigmaPhiWebsite.Entities.WorkOrder>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Work Orders";
}

@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            
        </div>
        <div class="col-sm-6 text-right">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model.Any())
                    {
                        var open = Model.Where(w => w.StatusChanges.OrderBy(o => o.ChangedOn).Last().Status.Name != "Closed");
                        var closed = Model.Where(w => w.StatusChanges.OrderBy(o => o.ChangedOn).Last().Status.Name == "Closed");

                        <h5>
                            <i class="fa fa-exclamation-circle text-warning"></i> @open.Count() <small style="padding-right:5px">Open</small>   
                            <i class="fa fa-check-circle text-success"></i> @closed.Count() <small>Closed</small>
                        </h5>
                        <ul class="list-group">
                            @foreach (var w in Model)
                            {
                                var statuses = w.StatusChanges.OrderBy(o => o.ChangedOn);
                                var status = @statuses.Last().Status.Name;
                                var priorities = w.PriorityChanges.OrderBy(o => o.ChangedOn);
                                var priority = priorities.Last().Priority.Name;
                                var statusLabelColor = priority == "Medium" ? "#8a6d3b" : priority == "High" ? "#a94442" : "";
                                var priorityLabelColor = status == "On-Hold" ? "#8a6d3b" :
                                    status == "Under Review" || status == "In Progress" ? "#31708f" : "";
                                var commentLabelColor = w.Comments.Count > 0 ? "#31708f" : "";
                                
                                <a href="@Url.Action("View", new {id = w.WorkOrderId})" class="list-group-item">

                                    <span class="badge" style="background-color: @commentLabelColor">
                                        <i class="fa fa-comment"></i>  @w.Comments.Count
                                    </span>
                                    <h4 class="list-group-item-heading">
                                        @w.Title
                                        <small>
                                            <span class="label label-default label-as-badge"
                                                  style="font-weight: normal !important; margin-right: 3px; background-color: @statusLabelColor">
                                                @status
                                            </span>
                                            <span class="label label-default label-as-badge"
                                                  style="font-weight: normal !important; background-color: @priorityLabelColor">
                                                @priority Priority
                                            </span>
                                        </small>
                                    </h4>
                                    <p class="list-group-item-text">
                                        #@w.WorkOrderId opened on @statuses.First().ChangedOn.ToShortDateString() by @w.Member
                                    </p>
                                </a>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            No work orders have been submitted yet.
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

    </script>
}
