@model IEnumerable<Event>

@{
    ViewBag.Title = "Service Event Index";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Create New", "Create")
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed" id="events-table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.DateTimeOccurred)</th>
                                    <th>@Html.DisplayNameFor(model => model.EventName)</th>
                                    <th>@Html.DisplayNameFor(model => model.DurationHours)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@TimeZoneInfo.ConvertTimeFromUtc(@item.DateTimeOccurred, cstZone).ToShortTimeString()</td>
                                        <td>@item.EventName</td>
                                        <td>@item.DurationHours</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#events-table').DataTable({
            pageLength: 100,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}