@using Dsp.Areas.Admin.Models
@model IEnumerable<Dsp.Entities.Semester>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Semester Index";
}
@section Title
{
    @Html.Partial("_Title")
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker-build.css">

@{ Html.RenderPartial("~/Areas/Admin/Views/Semesters/Create.cshtml", new CreateSemesterModel()); }

<div class="container">
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6 text-right">
            <p>
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#semesterCreateModal">Create New</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table" data-toggle="table" data-classes="table table-condensed"
                               data-search="true" data-pagination="true" data-page-size="25">
                            <thead>
                                <tr>
                                    <th>Semester</th>
                                    <th>Pledge Class(es)</th>
                                    <th>@Html.DisplayNameFor(model => model.DateStart)</th>
                                    <th>@Html.DisplayNameFor(model => model.DateEnd)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TransitionDate)
                                        <a data-toggle="tooltip" data-placement="top"
                                           title="Date of chairmen power transfer">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </th>
                                    <th>@Html.DisplayNameFor(model => model.MinimumServiceHours)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ToString()</td>
                                    <td>
                                        @foreach (var pledgeClass in item.PledgeClasses)
                                        {
                                            if (item.PledgeClasses.ToList().IndexOf(pledgeClass) > 0)
                                            {
                                                @:|
                                            }

                                            @pledgeClass.PledgeClassName
                                        }
                                    </td>
                                    <td>@item.DateStart.ToShortDateString()</td>
                                    <td>@item.DateEnd.ToShortDateString()</td>
                                    <td>@item.TransitionDate.ToShortDateString()</td>
                                    <td>@item.MinimumServiceHours</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.SemesterId })
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            @:|
                                            @Html.ActionLink("Delete", "Delete", new { id = item.SemesterId })
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
<script type="text/javascript" src="~/Scripts/moment.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $("#dtp1").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp2").datetimepicker({
                format: "MM/DD/YYYY"
            });
            $("#dtp3").datetimepicker({
                format: "MM/DD/YYYY"
            });
        });

    </script>
}