@model IEnumerable<Dsp.Entities.Department>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Departments";
}
@section styles {
    @Styles.Render("~/content/bootstrap-table")
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
                @{ Html.RenderPartial("~/Areas/Edu/Views/Shared/_EduNavPartial.cshtml"); }
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <p>
                @Html.ActionLink("Add Department", "Create", null, new { @class = "btn btn-sm btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table" data-toggle="table" data-classes="table table-condensed"
                           data-search="true" data-pagination="true" data-page-size="25" data-sort-name="class-number">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Classes</th>
                                <th>Majors</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Classes.Count</td>
                                    <td>@item.Majors.Count</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId })
                                        @if ((User.IsInRole("Administrator") || User.IsInRole("Academics")) && !item.Majors.Any() && !item.Classes.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/bootstrap-table")
}
