@model IEnumerable<Dsp.Entities.WorkOrderPriority>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Work Order Priorities";
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-6">
            <a href="@Url.Action("Index", "WorkOrders")" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Work Orders
            </a>
        </div>
        <div class="col-sm-6 text-right">
            <a href="@Url.Action("Create", "WorkOrderPriorities", new { area = "House" })" class="btn btn-sm btn-success">
                Create Priority
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="active">
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var w in Model.OrderBy(p => p.Name == "Low").ThenBy(p => p.Name == "Moderate").ThenBy(p => p.Name == "High").ThenBy(p => p.Name))
                            {
                                <tr>
                                    <td>@w.Name</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Edit", "Edit", new { id = w.WorkOrderPriorityId })
                                        @if (!w.PriorityChanges.Any())
                                        {
                                            @: |
                                            @Html.ActionLink("Delete", "Delete", new { id = w.WorkOrderPriorityId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
