@model IEnumerable<DeltaSigmaPhiWebsite.Entities.IncidentReport>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Incident Reports";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Create New", "Create")
                </div>
                <div class="panel-body">
                    <table class="table table-condensed" id="incidents-table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.DateTimeSubmitted)</th>
                                <th>@Html.DisplayNameFor(model => model.DateTimeOfIncident)</th>
                                <th>@Html.DisplayNameFor(model => model.PolicyBroken)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.DateTimeSubmitted)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DateTimeOfIncident)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PolicyBroken)</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.IncidentId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.IncidentId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#incidents-table').DataTable({
            pageLength: 10,
            lengthChange: false,
            "oLanguage": { "sSearch": "" }
        });

        $('div.dataTables_filter input').addClass('form-control');
        $('div.dataTables_filter input').attr('placeholder', 'Search');
    </script>
}