@model DeltaSigmaPhiWebsite.Entities.IncidentReport
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Submit Incident Report";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Incident Reports
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.DateTimeOfIncident, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateTimeOfIncident, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateTimeOfIncident, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PolicyBroken, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PolicyBroken, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PolicyBroken, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 10 } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            }
        </div>
        <div class="col-sm-6">
            <div class="alert alert-warning">
                <strong>Policy Broken</strong>
                <p>
                    This should briefly describe at a very high level what occurred.
                    It is important to be accurate with this information because it
                    will be easier for others to search incident reports back on the incident report list.
                </p>
            </div>
            <div class="alert alert-warning">
                <strong>Incident Description</strong>
                <p>
                    The incident description should contain an objective and clear recounting
                    of the actions unbecoming of a member. The incident description is only viewable by the
                    following members:
                </p>
                <ol>
                    <li>President</li>
                    <li>Sergeant-at-Arms</li>
                    <li>Administrators</li>
                </ol>
                <p>
                    You are encouraged to speak with (1) and (2) above after submitting a report.
                    No one, including those mentioned above, can see who submitted an incident report on the website.
                </p>
            </div>
        </div>
    </div>
</div>