@model Dsp.Areas.House.Models.WorkOrderArchiveModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create New Work Order";
}
@section Title
{
    @Html.Partial("_Title")
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker-build.css">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Work Orders
                </a>
            </p>
        </div>
    </div>
    <div class="row">
            @using (Html.BeginForm())
            {

                <div class="col-sm-6">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    <div class="form-group" data-toggle="tooltip" data-placement="left"
                         title="What needs to be fixed/done.">
                        @Html.LabelFor(model => model.WorkOrder.Title, new {@class = "control-label"})
                        @Html.EditorFor(model => model.WorkOrder.Title, new {htmlAttributes = new {@class = "form-control", autocomplete = "off"}})
                        @Html.ValidationMessageFor(model => model.WorkOrder.Title, "", new {@class = "text-danger"})
                    </div>
                    <div class="form-group" data-toggle="tooltip" data-placement="left"
                         title="The date the issue was reported.">
                        @Html.LabelFor(model => model.SubmittedOn, new {@class = "control-label"})
                        <div class="input-group date" id="dtp1">
                            @Html.EditorFor(m => m.SubmittedOn, new {htmlAttributes = new {@class = "form-control", type = "datetime"}})
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.SubmittedOn, "", new {@class = "text-danger"})
                    </div>
                    <div class="form-group" data-toggle="tooltip" data-placement="left"
                         title="The date the problem was solved.">
                        @Html.LabelFor(model => model.ClosedOn, new {@class = "control-label"})
                        <div class="input-group date" id="dtp2">
                            @Html.EditorFor(m => m.ClosedOn, new {htmlAttributes = new {@class = "form-control", type = "datetime"}})
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ClosedOn, "", new {@class = "text-danger"})
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" data-toggle="tooltip" data-placement="left"
                         title="A description containing what is broken, where it is, why it was broken, any other relevant info, etc..">
                        @Html.LabelFor(model => model.WorkOrder.Description, new { @class = "control-label" })
                        @Html.EditorFor(model => model.WorkOrder.Description, new { htmlAttributes = new { @class = "form-control", rows = 10, autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.WorkOrder.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" data-toggle="tooltip" data-placement="left"
                         title="A description of what was done to resolve the issue.">
                        @Html.LabelFor(model => model.WorkOrder.Result, new { @class = "control-label" })
                        @Html.EditorFor(model => model.WorkOrder.Result, new { htmlAttributes = new { @class = "form-control", rows = 10, autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.WorkOrder.Result, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
    </div>
</div>

<script type="text/javascript" src="~/Scripts/moment.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
@section scripts
{
    <script type="text/javascript">
        $("#dtp1").datetimepicker({
            format: "MM/DD/YYYY"
        });
        $("#dtp2").datetimepicker({
            format: "MM/DD/YYYY"
        });
    </script>
}
