@using System.Web.Mvc.Html
@using Dsp.Areas.House.Models
@using Microsoft.AspNet.Identity
@model WorkOrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Work Order";

    var currentUserId = User.Identity.GetUserId<int>();
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var createdOn = TimeZoneInfo.ConvertTimeFromUtc(Model.WorkOrder.GetDateTimeCreated(), cstZone);
    var elevatedPermissions =
        User.IsInRole("Administrator") ||
        User.IsInRole("House Manager") ||
        Model.WorkOrder.UserId == currentUserId;

    var comments = Model.WorkOrder.Comments.OrderBy(o => o.SubmittedOn);
    var statusChanges = Model.WorkOrder.StatusChanges.OrderBy(o => o.ChangedOn).Skip(1);
    var priorityChanges = Model.WorkOrder.PriorityChanges.OrderBy(o => o.ChangedOn);
    var discussion = new List<WorkOrderDiscussionEntry>();
    discussion.AddRange(comments.Select(c => new WorkOrderDiscussionEntry
    {
        OccurredOn = c.SubmittedOn,
        UserId = c.UserId ?? 0,
        Name = c.Member.ToString(),
        Title = ((DateTime.UtcNow - c.SubmittedOn).Days < 1 ? "< 1" : (DateTime.UtcNow - c.SubmittedOn).Days.ToString()) +
            ((DateTime.UtcNow - c.SubmittedOn).Days <= 1 ? " day" : " days") + " ago",
        Text = c.Text
    }));
    discussion.AddRange(statusChanges.Select(s => new WorkOrderDiscussionEntry
    {
        OccurredOn = s.ChangedOn,
        UserId = s.UserId ?? 0,
        Name = s.Member.ToString(),
        Title = ((DateTime.UtcNow - s.ChangedOn).Days < 1 ? "< 1" : (DateTime.UtcNow - s.ChangedOn).Days.ToString()) +
            ((DateTime.UtcNow - s.ChangedOn).Days <= 1 ? " day" : " days") + " ago",
        Text = "Changed status to <strong>" + s.Status.Name + "</strong>."
    }));
    discussion.AddRange(priorityChanges.Select(p => new WorkOrderDiscussionEntry
    {
        OccurredOn = p.ChangedOn,
        UserId = p.UserId ?? 0,
        Name = p.Member.ToString(),
        Title = ((DateTime.UtcNow - p.ChangedOn).Days < 1 ? "< 1" : (DateTime.UtcNow - p.ChangedOn).Days.ToString()) +
            ((DateTime.UtcNow - p.ChangedOn).Days <= 1 ? " day" : " days") + " ago",
        Text = "Changed priority to <strong>" + p.Priority.Name + "</strong>."
    }));

    var inProgressPost = new { typeName = "In Progress", id = Model.WorkOrder.WorkOrderId };
    var onHoldPost = new { typeName = "On Hold", id = Model.WorkOrder.WorkOrderId };
    var lowPost = new { typeName = "Low", id = Model.WorkOrder.WorkOrderId };
    var moderatePost = new { typeName = "Moderate", id = Model.WorkOrder.WorkOrderId };
    var highPost = new { typeName = "High", id = Model.WorkOrder.WorkOrderId };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" style="margin-bottom: 25px">
            <div class="row">
                <div class="col-xs-6">
                    <p>
                        <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                            <i class="fa fa-caret-left"></i> Back to Work Orders
                        </a>
                    </p>
                </div>
                <div class="col-xs-6 text-right"><p></p></div>
            </div>

            @{
                var statuses = Model.WorkOrder.StatusChanges.OrderBy(o => o.ChangedOn);
                var status = statuses.Last().Status.Name;
                var priorities = Model.WorkOrder.PriorityChanges.OrderBy(o => o.ChangedOn);
                var priority = priorities.Last().Priority.Name;
                var statusLabelColor = status == "On-Hold"
                    ? "label-default"
                    : status == "Closed"
                        ? "label-success"
                        : status == "Under Review"
                            ? "label-info"
                            : status == "In Progress"
                                ? "label-warning"
                                : "label-default";
                var priorityLabelColor = priority == "Moderate"
                    ? "label-warning"
                    : priority == "High"
                        ? "label-danger"
                        : "label-default";
                var daysSinceOpen = (DateTime.UtcNow - Model.WorkOrder.GetDateTimeCreated()).Days;
            }

            <div class="row row-fluid">
                <div class="col-xs-12">
                    <h3 style="margin: 0 0 5px 0">
                        @Model.WorkOrder.Title <small>#@Model.WorkOrder.WorkOrderId</small>
                        @if (elevatedPermissions)
                        {
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Change Status to <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="@(Model.WorkOrder.GetCurrentStatus() == "In Progress" ? "hidden" : "")">
                                            @using (Html.BeginForm("ChangeWorkOrderStatus", "WorkOrders", inProgressPost, FormMethod.Post,
                                                    new { id = "ip-status-form" })){}
                                            <a href="javascript:document.getElementById('ip-status-form').submit()">In Progress</a>
                                        </li>
                                        <li class="@(Model.WorkOrder.GetCurrentStatus() == "On Hold" ? "hidden" : "")">
                                            @using (Html.BeginForm("ChangeWorkOrderStatus", "WorkOrders", onHoldPost, FormMethod.Post,
                                                    new { id = "oh-status-form" })){}
                                            <a href="javascript:document.getElementById('oh-status-form').submit()">On Hold</a>
                                        </li>
                                    </ul>

                                </div>
                                @if (Model.WorkOrder.GetCurrentStatus() != "Closed")
                                {
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Change Priority to <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="@(Model.WorkOrder.GetCurrentPriority() == "Low" ? "hidden" : "")">
                                                @using (Html.BeginForm("ChangeWorkOrderPriority", "WorkOrders", lowPost, FormMethod.Post,
                                                        new { id = "low-priority-form" })) { }
                                                <a href="javascript:document.getElementById('low-priority-form').submit()">Low</a>
                                            </li>
                                            <li class="@(Model.WorkOrder.GetCurrentPriority() == "Moderate" ? "hidden" : "")">
                                                @using (Html.BeginForm("ChangeWorkOrderPriority", "WorkOrders", moderatePost, FormMethod.Post,
                                                        new { id = "moderate-priority-form" })) { }
                                                <a href="javascript:document.getElementById('moderate-priority-form').submit()">Moderate</a>
                                            </li>
                                            <li class="@(Model.WorkOrder.GetCurrentPriority() == "High" ? "hidden" : "")">
                                                @using (Html.BeginForm("ChangeWorkOrderPriority", "WorkOrders", highPost, FormMethod.Post,
                                                        new { id = "high-priority-form" })) { }
                                                <a href="javascript:document.getElementById('high-priority-form').submit()">High</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                <a href="@Url.Action("Edit", new {id = Model.WorkOrder.WorkOrderId})"
                                   class="btn btn-sm btn-info">
                                    <i class="fa fa-wrench"></i> Edit
                                </a>
                            </div>
                        }
                    </h3>

                    <p>
                        <span class="label @statusLabelColor" style="font-weight: normal !important; margin-right: 5px;">
                            @status
                        </span>
                        <span class="label @priorityLabelColor" style="font-weight: normal !important; margin-right: 10px">
                            @priority Priority
                        </span>
                        <strong>@Model.WorkOrder.Member</strong>
                        created this work order @(daysSinceOpen < 1 ? "< 1" : daysSinceOpen.ToString())
                        @(daysSinceOpen <= 1 ? "day" : "days") ago · @Model.WorkOrder.Comments.Count Comments
                    </p>
                </div>
            </div>
            <hr />

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Discussion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="warning">
                        <td class="col-xs-2"><small>@Model.WorkOrder.Member</small></td>
                        <td><small>(Description) </small> @Model.WorkOrder.Description</td>
                    </tr>
                    @foreach (var d in discussion.OrderBy(o => o.OccurredOn))
                    {
                        <tr>
                            <td><small><strong>@d.Name</strong><br /> @d.Title</small></td>
                            <td>@Html.Raw(d.Text)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <hr />
            @if (Model.WorkOrder.GetCurrentStatus() != "Closed")
            {
                using (Html.BeginForm("Comment", "WorkOrders", FormMethod.Post))
                {
                    <input id="workOrderId" name="workOrderId" type="hidden" value="@Model.WorkOrder.WorkOrderId">
                    <div class="input-group">
                        <input type="text" id="comment" name="comment" class="form-control" placeholder="Leave a comment">
                        <span class="input-group-addon @(!elevatedPermissions ? "hidden" : "")">
                            <small>Close</small>
                            @Html.CheckBox("close", new
                            {
                                data_toggle = "tooltip",
                                title = "Close Work Order",
                                date_placement = "top",
                                style = "margin-bottom: -5px"
                            })
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </span>
                    </div>
                }
            }
        </div>
        <div class="col-md-4">
            @Html.Partial("MyWorkOrders", Model.UserWorkOrders)
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var ids = $(".img-rounded").map(function () { return this.id; }).toArray();

        $.each(ids, function (key, value) {
            $(".img-" + value).attr("src", "http://thecatapi.com/api/images/get?format=src&type=png&" + key);
        });
    </script>
}